﻿@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Competitive & Growth-Oriented Learning at ODM Public School</title>
    <meta name="description" content="With top-notch faculty, multiple doubt-clearing sessions, classroom study material, integrated learning and more makes ODMPS the best CBSE school in Bhubneshwar.">
    <meta name="keywords" content="Competitives,Competitives of ODM,Competitives of odm public school,Competitives in ODM,Competitives in odm public school,academic of odm,academic of odm public school">
    <link rel="canonical" href="https://www.odmps.org/Academics/Competitives" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url(../../Content/banner/v010.jpg) center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>CAREER IS WHAT YOU CHOOSE TO BE</h1>
                                <p>The deciding juncture, where you take a call on who you want to be</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Senior Secondary." href="/Academics/competitives" class="post post-page current-item">
                            <span property="name">Competitives</span>
                        </a><meta property="position" content="2">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div><div class="close"><span class="close">×</span></div>
                </div>
                <ul class="">
                    <li> <a href="/Academics/kids_world">Kids's World</a> </li>
                    <li> <a href="/Academics/Primary">Primary</a> </li>
                    <li> <a href="/Academics/Secondary">Secondary</a> </li>
                    <li> <a href="/Academics/sr_secondary">Senior Secondary</a> </li>
                    <li class="active"> <a href="/Academics/Competitives">Competitives</a> </li>
                </ul>
                <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div><div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Competitives</h1>
                        <p>At ODM, Coaching and extra academic preparation is provided to students of Senior Secondary, under its inhouse brand of OSAL- Olympiad School of Advanced Learning. The students are prepared for engineering entrance examinations like JEE (Mains and Advanced), BITS and Medical Examinations like AIIMS, NEET and JIPMER. The following are the highlights of our Competitive Preparation-</p>

                        <p>A. It is provided to Day Boarding and Residential Students of ODM. Day Boarding and Residential students get preparation and teaching for both CBSE and Competitives of Engineering and Medical. However, the major difference between Day boarding and Residential Students is that Day boarding students don’t stay in our campus whereas Residential Students do.</p>
                        <p>B. <strong>CLASSROOM MATERIALS:</strong> We use the materials and syllabus of some of the leading coaching institutes of the country like Resonance, Allen and FIITJEE. </p>
                        <p>C. <strong>FACULTIES:</strong> Our coaching faculties combined together boast of at least 250+ qualifiers in IIT and 560+ qualifiers in medical colleges. </p>
                        <p>D. <strong>DOUBT CLEARING SESSION:</strong> Every day doubt clearing sessions are conducted for all the children on a personal level from 04:30pm-05:30pm. </p>
                        <p>E. <strong>INTEGRATED PREPARATION:</strong> Certain Selected batches like Nucleus 40 and our other top batches are provided with integrated preparations. These preparations help children get more time for self study and practice.</p>
                        <p>F. <strong>All-India TEST SERIES:</strong> We enroll our best students into All-India Test Series Program of the top coaching brands of the country so that they get an opportunity to assess their standard in terms of an All-India level. </p>
                        <p>G. <strong>PERSONALIZED WORKSESSIONS:</strong> The students are provided with 2-hour sessions every week per subject, where they solve the worksheets in front of the teachers and get an opportunity to ask the doubts then and there.</p>

                        <p style="font-size: 1.2em;font-weight: 700;">
                            Apart from this at ODM, We provide the advance level preparation for the following examinations in association with other organization-
                        </p>

                        <p>A. <strong>CPT-</strong> The CPT or Common Proficiency Test was the first level of Chartered Accountancy examinations in India. which has been changed to CA Foundation according to ICAI revised scheme.</p>
                        <p>B. <strong>CLAT-</strong> Common Law Admission Test is a centralised test for admission to 21 National Law Universities in India. 43 other education institutes and two public sector institutes are also eligible to use these scores</p>
                        <p>C. <strong>IIPM-</strong> IPM stands for the Integrated Programme in Management (IPM). It is a five-year programme in management offered by the Indian Institute of Management, Indore (IIM Indore). The programme is aimed at students who have passed out of class 12th / Higher Secondary or equivalent from various schools in India.</p>
                        <p>D. <strong>SAT-</strong> The SAT is a standardized test widely used for college admissions in the United States. Since it was debuted by the College Board in 1926</p>
                        <p>E. <strong>TOEFL-</strong> The TOEFL® Test TOEFL scores are accepted by more than 10,000 universities and other institutions in over 150 countries, including Australia, Canada, New Zealand, the U.K., the United States, and all across Europe and Asia. Stand out among other applicants and get noticed with the TOEFL test.</p>

                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top"></span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/ASTIK KUMAR SARANGI.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">ASTIK KUMAR SARANGI</p>
                                    <p class="designation">Student, Class III</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM is a great school. The teachers are very qualified and I know they want us to succeed. I can’t stay away from this school. I tried another school for one day (one day!) and I came home and told my mother, “I’m not going back. Take me back to ODM.”
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>