﻿@{
    ViewBag.Title = "Re-Union ADMIN | Log In";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Re-Union ADMIN | Log In</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/admin_assets/loginstylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">

    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="wrapper">
            @using (Html.BeginForm("AdminLogin", "ReUnion", FormMethod.Post, new { id = "validation-form" }))
            {

                <div class="form-signin">
                    <h3 class="form-signin-heading">
                        ODM PUBLIC SCHOOL
                        @*<img src="~/admin_assets/svg/healthvillelogo.svg" />*@
                    </h3>
                    <hr class="colorgraph"><br>

                    <input type="text" class="form-control" name="Username" id="Username" placeholder="Username" required="" autofocus="" />
                    <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" required="" />

                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Login</button>
                    <div class="clearfix" style="margin-bottom:10px;"></div>

                </div>
            }
        </div>
    </div>

</body>
</html>

