﻿@{
    ViewBag.Title = "mobileverification";
    Layout = "~/Views/Shared/_ReUnionLayoutPage.cshtml";
}
@model odm_site.Models.RegistrationMessagecls

<h3 class="register-heading">Mobile Verification</h3>
<div class="clearfix" style="margin-bottom:10px;"></div>
<div class="register-form">
    <div>
        Your Phone Number is
    </div>
    <div class="form-group">
        <input type="text" id="otp_phone" name="otp_phone" readonly class="form-control" maxlength="10" value="@Model.mobile" />
    </div>
    <div class="clearfix" style="margin-bottom:40px;"></div>
    <div>
        A 6-digit OTP has been sent to your mobile number for verification
    </div>

    <div class="form-group">
        <input type="text" id="otp_no" name="otp_no" class="form-control" maxlength="10" placeholder="Enter your OTP" />
        <span class="text-success" id="lblSuccess"></span>
    </div>
    <div class="text-right">
        <a id="otp_resend" style="color:blue;cursor:pointer;">Resend OTP </a>
    </div>
</div>
<div class="clearfix"></div>
<div class="form-group text-center">
    @if (TempData["ErrorMessage"] != null)
    {
        <label class="text-danger">@TempData["ErrorMessage"]</label><br />
    }
    <input type="submit" class="btnRegister" value="Verify" id="otp_verify" />
</div>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#otp_resend').click(function () {
            $('#divloader').fadeIn();
            $.get('/ReUnion/ResendOTP', { phone: '@Model.mobile' }, function (data) {
                $('#divloader').fadeOut();
                if(data==1)
                {
                    $('#lblSuccess').html('OTP send successfully');
                }
            })
        })

        $('#otp_verify').click(function () {
            $('#divloader').fadeIn();
            $.get('/ReUnion/OTP_Verify', { otp: $('#otp_no').val(), id: '@Model.id', mobile: '@Model.mobile' }, function (data) {
                debugger;
                $('#divloader').fadeOut();
                if (data == "2") {
                    $('#lblerror').html("Incorrect OTP").show().delay(5000).fadeOut();
                }
                if (data == "0") {
                    $('#lblerror').html("Server Error...").show().delay(5000).fadeOut();
                }
                if (data == "1") {
                    window.location = '/ReUnion/SuccessfullyRegister';

                }
                $('#divloader').fadeOut();

            })
        })
    })
</script>