﻿
@{
    ViewBag.Title = "SuccessfullyRegister";
    Layout = "~/Views/Shared/_ReUnionLayoutPage.cshtml";
}
<div class="clearfix" style="margin-bottom:30px;"></div>
<div class="form-group text-center">
    <img src="~/Content/Registration/images/success.png" width="170" />    
</div>
<div class="clearfix" style="margin-bottom:30px;"></div>
<div class="form-group text-center">
    <h3>Successfully Registered</h3>
</div>

