﻿@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_SalaryLayoutPage.cshtml";
}


<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Change Password</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("Savepassword", "Salary", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>New Password*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="newpassword" name="newpassword" class="form-control" required data-msg-required="Please write new password" placeholder="New Password" value="" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Re-Enter Password*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="reenterpassword" name="reenterpassword" class="form-control" required data-msg-required="Please write re-enter password" placeholder="Re-enter Password" value="" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        //var message = "Changed Successfully";
                       // alert(message);
                        window.location.href = '/Salary/Changepassword';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        //var message = "Changed Successfully";
                        //alert(message);
                        window.location.href = '/Salary/Changepassword';
                    }

                })
            }
        });
    })
</script>