﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>School Re-Union 2019</title>
    <link rel="shortcut icon" href="~/Content/Registration/images/ODM School task bar logo.png" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/Registration/css/RegistrationStyleSheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <div id="divloader" class="divloaders">
        <img src="~/Content/Registration/images/transparent-gif-spinner-5.gif" />
    </div>
    @*<section class="testimonial" id="testimonial">*@
    @*<div class="container">*@
    <div class="row" style="margin-left: 0px; margin-right: 0px; height: 100%; position: relative; overflow-y: scroll; ">
        <div class="col-md-5 text-white register-left">
            <div class="">
                <div class="card-body">
                    <img src="/Content/Registration/images/odm logo.png" alt="" />
                    <h3 style="margin-bottom: .01rem;">Welcome to the</h3><h4 style="font-size: 2.5rem; font-weight: 600;">SCHOOL RE-UNION 2019</h4>
                    <div style="font-size:0.8rem;">
                        <div style="font-size: 1rem;">
                            <strong>Date-</strong> 24th December 2019<br />
                            <strong>Time-</strong> 06:30 pm Onwards<br />
                            <strong>
                                Location-
                            </strong>
                            ODM School, Patia Campus
                        </div>
                        <div class="clearfix" style="margin-bottom:28px;"></div>
                        <div class="text-left">
                            <h5 style="text-transform:uppercase;font-weight:600;">Who all are Eligible?</h5>
                            <div>Students who have passed out from ODM (either in Class X or XII) before 2012, if a Class X Passout or before 2014, if a class XII passout.</div>
                            <div class="clearfix" style="margin-bottom:28px;"></div>
                            <h5 style="text-transform:uppercase;font-weight:600;">Entry is-</h5>
                            <div> Strictly Invitation Based</div>
                            <div class="clearfix" style="margin-bottom:28px;"></div>
                            <h5 style="text-transform:uppercase;font-weight:600;">Procedure is-</h5>
                            <div>
                                <ul style="list-style:none;display:inline-block;padding:0px;margin:0px;">
                                    <li>a. Kindly register yourself by filling the form.</li>
                                    <li>b. Once we receive your registration, post verification of all the credentials, your entry is eligible.</li>
                                    <li>c. Official E-Invite will be sent to your registered email ID with a UNIQUE ID Code.</li>
                                    <li>d. On the day of the entry, the Official E-Invite and the Unique ID Code will be checked before allowing your entry into the campus.</li>
                                </ul>
                            </div>
                            <div class="clearfix" style="margin-bottom:28px;"></div>
                            <div>
                                <span style="text-transform: uppercase; font-weight: 600; font-size: 1.25rem;">Last Date of Registration-</span>  <span style="text-transform: uppercase; font-size: 1.25rem;">16th December 2019</span>
                            </div>
                            <div class="clearfix" style="margin-bottom:28px;"></div>
                            <div>Hoping to see you all. Loads of Games, Social Interaction Sessions, and Finger-Licking Food awaits you. Your favorite teachers as well!!!!</div>
                            <div class="clearfix" style="margin-bottom:28px;"></div>
                            <div>For Any further queries, Reach out to- <a style="color:white;" href="mailto:info@odmps.org">info@odmps.org</a>  or <a style="color:white;" href="mailto:rajan.pradhan@odmegroup.org">rajan.pradhan@odmegroup.org</a></div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 bg-light py-5 border register-right">
            <div class="clearfix" style="margin-bottom:15%;"></div>
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    @* </div>*@
    @*</section>*@

</body>
</html>