﻿@charset "UTF-8";

 html {
font-size: 13px;
}
@media (max-width: 767px) { html {
font-size: 13px;
}
} body {
font-family: "Muli", sans-serif;
font-size: 13px;
}
@media (max-width: 767px) { body {
font-size: 13px;
}
} h1, h2, h3, h4, h5 {
font-family: "Muli", sans-serif;
color: #ea3637;
} h1 {
font-weight: 900;
font-size: 24px;
color: #ea3637;
text-transform: uppercase;
margin-bottom: 30px;
} h1 small {
color: #25273C;
display: block;
font-weight: 700;
margin-bottom: 3px;
} h2 {
font-weight: 900;
text-transform: uppercase;
font-size: 18px;
} h2 small {
color: #25273C;
display: block;
font-weight: 700;
margin-bottom: 3px;
} p {
font-size: 1em;
font-family: "Muli", sans-serif;
line-height: 1.8;
color: #666877;
margin: 0 0 15px;
} iframe[name='google_conversion_frame'] {
height: 0 !important;
width: 0 !important;
line-height: 0 !important;
font-size: 0 !important;
margin-top: -13px;
float: left;
}  .icon {
display: inline-block;
vertical-align: middle;
} section {
padding: 45px 0;
} .narrow {
max-width: 800px;
margin: 0 auto 30px;
} #main {
padding: 0;
} .seperator {
margin: 45px 0;
} .seperator.medium {
margin: 30px 0;
} .seperator.small {
margin: 15px 0;
}  .inline-block {
display: inline-block;
} .text-align-center {
text-align: center;
} .text-align-left {
text-align: left;
} .text-align-right {
text-align: right;
} .margin-0 {
margin: 0 !important;
} .margin-top-45 {
margin-top: 45px;
} .margin-top-30 {
margin-top: 30px;
} .margin-top-20 {
margin-top: 20px;
} .margin-top-15 {
margin-top: 15px;
} .margin-top-10 {
margin-top: 10px;
} .margin-top-0 {
margin-top: 0px;
} .margin-0 {
margin: 0 !important;
} .margin-bottom-30 {
margin-bottom: 30px;
} .margin-bottom-20 {
margin-bottom: 20px;
} .margin-bottom-15 {
margin-bottom: 15px;
} .margin-bottom-10 {
margin-bottom: 10px;
} .margin-bottom-0 {
margin-bottom: 0px;
} .padding-0 {
padding: 0px !important;
} .padding-top-30 {
padding-top: 30px;
} .padding-top-20 {
padding-top: 20px;
} .padding-top-15 {
padding-top: 15px;
} .padding-top-10 {
padding-top: 10px;
} .padding-top-0 {
padding-top: 0px;
} .padding-bottom-30 {
padding-bottom: 30px;
} .padding-bottom-20 {
padding-bottom: 20px;
} .padding-bottom-15 {
padding-bottom: 15px;
} .padding-bottom-10 {
padding-bottom: 10px;
} .padding-bottom-0 {
padding-bottom: 0px !important;
} .width-80-desktop-block {
display: block;
margin: 0 auto;
}
@media (min-width: 768px) { .width-80-desktop-block {
max-width: 80%;
}
} .width-80-desktop {
display: block;
}
@media (min-width: 768px) { .width-80-desktop {
max-width: 80%;
}
} .full {
float: left;
width: 100%;
} .half {
float: left;
width: 50%;
}
@media (max-width: 540px) { .half {
width: 100%;
}
} .third {
float: left;
width: 33.333333%;
}
@media (max-width: 540px) { .third {
width: 100%;
}
}
@media (max-width: 599px) { #mqCheck-600 {
display: none;
}
}
@media (max-width: 499px) { #mqCheck-500 {
display: none;
}
}
@media (max-width: 767px) { #mqCheck-767 {
display: none;
}
}
@media (max-width: 991px) { #mqCheck-991 {
display: none;
}
}
@media (max-width: 1169px) { #mqCheck-1169 {
display: none;
}
}
@media (max-width: 1199px) { #mqCheck-1199 {
display: none;
}
} .two-column {
-moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
}
@media (max-width: 359px) { .two-column {
-moz-column-count: 1;
-webkit-column-count: 1;
column-count: 1;
}
} #main-nav {
background: #fff;
border: none;
margin: 0;
z-index: 10;
font-size: 13px;
} #main-nav .container {
position: relative;
} #main-nav .navbar-brand {
height: auto;
}
@media (min-width: 768px) { #main-nav .navbar-brand {
position: absolute;
left: 30px;
top: -2px;
border: 1px solid #dadada;
padding: 15px 15px 9px;
width: 180px;
background: #fff;
z-index: 100;
-moz-box-shadow: 0px 9px 6px -6px #333;
-webkit-box-shadow: 0px 9px 6px -6px #333;
box-shadow: 0px 9px 6px -6px #333;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
} #main-nav .navbar-header {
height: 133px;
}
} #main-nav #main-logo {
width: 100%;
padding: 0px 0 7px;
}
@media (max-width: 767px) { #main-nav #main-logo {
width: 90px;
}
} #main-nav .navbar-toggle {
margin-top: 35px;
padding: 6px 9px;
margin-left: 3px;
background: #ea3637;
color: #fff;
font-weight: bold;
text-transform: uppercase;
} #main-nav .navbar-form {
margin-top: 0;
margin-bottom: 0;
} #main-nav .navbar-nav {
font-family: "Muli", sans-serif;
font-weight: 600;
font-size: 13px;
color: #565452;
margin-top: 0;
} #main-nav .navbar-nav > li {
color: inherit;
margin: 0;
font-size: 15px;
font-weight: bold;
} #main-nav .navbar-nav > li:hover {
color: #ea3637;
} #main-nav .navbar-nav > li > a {
color: inherit;
text-decoration: none;
font-weight: bold;
} #main-nav .navbar-nav > li > a:hover {
color: inherit;
} #main-nav .navbar-nav > li.active {
background: #ea3637;
color: #fff;
} #main-nav .navbar-nav > li.active a {
background: #ea3637;
color: #fff;
}
@media (min-width: 768px) { #main-nav .navbar-nav {
margin-top: 0;
position: absolute;
bottom: 5px;
right: 30px;
} #main-nav .navbar-nav > li {
background: none;
margin: 0;
font-size: 15px;
position: relative;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
} #main-nav .navbar-nav > li > a {
background: none;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
line-height: 1;
padding: 15px 15px;
} #main-nav .navbar-nav > li > a:hover, #main-nav .navbar-nav > li > a:active, #main-nav .navbar-nav > li > a:focus {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
background: #F8F8F8;
} #main-nav .navbar-nav > li:hover, #main-nav .navbar-nav > li:active, #main-nav .navbar-nav > li:focus {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
background: none;
color: #ea3637;
} #main-nav .navbar-nav > li:hover > a, #main-nav .navbar-nav > li:active > a, #main-nav .navbar-nav > li:focus > a {
background-image: none !important;
background: inherit;
} #main-nav .navbar-nav > li.active {
background: none;
color: #ea3637;
} #main-nav .navbar-nav > li.active a {
background: none;
color: #ea3637;
} #main-nav .navbar-nav > li.dropdown:hover {
background: #f8f8f8;
} #main-nav .navbar-nav > li.dropdown:hover > a {
background-image: #F8F8F8 !important;
background: inherit;
} #main-nav .navbar-nav > li.dropdown.open {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
} #main-nav .navbar-nav > li.dropdown.open .dropdown-menu {
display: none;
} #main-nav .navbar-nav > li.dropdown.open:hover, #main-nav .navbar-nav > li.dropdown.open:active, #main-nav .navbar-nav > li.dropdown.open:focus {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
background: #f8f8f8;
} #main-nav .navbar-nav > li.dropdown.open:hover > .dropdown-menu, #main-nav .navbar-nav > li.dropdown.open:active > .dropdown-menu, #main-nav .navbar-nav > li.dropdown.open:focus > .dropdown-menu {
display: block;
} #main-nav .navbar-nav > li.dropdown .dropdown-menu {
color: #565452;
-moz-box-shadow: 0 13px 12px rgba(0, 0, 0, 0.175);
-webkit-box-shadow: 0 13px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 13px 12px rgba(0, 0, 0, 0.175);
background: inherit;
border: none;
font-size: inherit;
font-weight: inherit;
left: 0 !important;
right: initial;
margin-top: -5px;
} #main-nav .navbar-nav > li.dropdown .dropdown-menu > li {
color: inherit;
font-size: 80%;
font-weight: inherit;
margin: 0;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
} #main-nav .navbar-nav > li.dropdown .dropdown-menu > li:hover {
background: inherit;
color: #ea3637;
} #main-nav .navbar-nav > li.dropdown .dropdown-menu > li > a {
background: inherit;
color: inherit;
font-size: inherit;
font-weight: inherit;
padding: 7px 20px;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
} #main-nav .navbar-nav > li.dropdown .dropdown-menu > li.active {
background: none;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
color: #ea3637;
} #main-nav .navbar-nav > li.dropdown .dropdown-menu > li.active > a {
color: inherit;
background: inherit;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
} #main-nav .navbar-nav > li:last-child {
border: none;
} #main-nav .navbar-nav > li:last-child:after {
content: '';
display: none;
} #main-nav .navbar-nav > li:last-child a {
padding-right: 0px;
}
}
@media (min-width: 768px) and (max-width: 991px) { #main-nav .navbar-nav > li {
font-size: 12px;
} #main-nav .navbar-nav > li > a {
padding: 0 6px 15px;
}
}
@media (min-width: 768px) { #main-nav .navbar-header {
display: block;
width: 100%;
text-align: right;
}
} #main-nav .header-info {
display: inline-block;
font-family: "Muli", sans-serif;
font-weight: 600;
font-size: 13px;
color: #7b7b7b;
margin-top: 0;
padding: 15px 6px;
margin-top: 30px;
float: right;
} #main-nav .header-info.phone {
background: none;
color: #25273C;
} #main-nav .header-info.phone a {
color: #25273C;
font-weight: bold;
text-decoration: none;
display: inline-block;
margin-top: 4px;
} #main-nav .header-info.phone a .glyphicon {
display: inline;
margin-right: 3px;
font-size: 11px;
} #main-nav .header-info.phone a .call {
display: none;
}
@media (max-width: 767px) { #main-nav .header-info.phone {
margin-top: 20px;
padding: 15px 3px;
} #main-nav .header-info.phone a {
background: #ea3637;
color: #fff;
padding: 6px 9px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
margin-top: 0px;
} #main-nav .header-info.phone a .num {
display: none;
} #main-nav .header-info.phone a .call {
display: initial;
}
} #main-nav .header-info.link a {
background: #ea3637;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #fff;
padding: 3px 9px;
display: inline-block;
text-decoration: none;
}
@media (max-width: 767px) { #main-nav .header-info.link {
margin-top: 20px;
font-size: 14px;
padding: 15px 3px;
} #main-nav .header-info.link a {
padding: 6px 9px;
}
} #main-nav .header-info.form {
margin-top: 30px;
padding-right: 0;
} #main-nav .header-info.form form {
display: inline-block;
width: 200px;
} #main-nav .header-info.form form .input-group {
border: 1px solid #B1B1B1;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
} #main-nav .header-info.form form .input-group .form-control {
display: inline-block;
border: none !important;
outline: none !important;
height: 22px;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
} #main-nav .header-info.form form .input-group .input-group-btn {
border: none !important;
outline: none !important;
} #main-nav .header-info.form form .input-group .input-group-btn .btn {
border: none;
height: 22px;
} #main-nav .header-info.form form .input-group .input-group-btn .btn .glyphicon {
font-size: 12px;
top: -4px;
}
@media (max-width: 991px) { #main-nav .header-info.form {
display: none;
}
}
@media only screen and (min-width: 768px) { #main-nav .dropdown:hover .dropdown-menu {
display: block;
}
} #main-nav:after {
content: ' ';
display: block;
position: absolute;
left: 0;
right: 0;
bottom: 0;
height: 3px;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZDMwMiIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjOTY2ZGExIi8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiM2OGIzOGQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzZkYzRkOCIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZjI2ODQ2Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWIzYTk1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
background-size: 100%;
background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fed302), color-stop(20%, #966da1), color-stop(40%, #68b38d), color-stop(60%, #6dc4d8), color-stop(80%, #f26846), color-stop(100%, #eb3a95));
background-image: -moz-linear-gradient(left, #fed302, #966da1, #68b38d, #6dc4d8, #f26846, #eb3a95);
background-image: -webkit-linear-gradient(left, #fed302, #966da1, #68b38d, #6dc4d8, #f26846, #eb3a95);
background-image: linear-gradient(to right, #fed302, #966da1, #68b38d, #6dc4d8, #f26846, #eb3a95);
} .home-slider-container {
padding: 0;
position: relative;
background: #25273C;
} .home-slider-container:after {
content: ' ';
display: block;
left: 0;
right: 0;
bottom: 0;
height: 3px;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZDMwMiIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjOTY2ZGExIi8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiM2OGIzOGQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzZkYzRkOCIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZjI2ODQ2Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWIzYTk1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
background-size: 100%;
background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fed302), color-stop(20%, #966da1), color-stop(40%, #68b38d), color-stop(60%, #6dc4d8), color-stop(80%, #f26846), color-stop(100%, #eb3a95));
background-image: -moz-linear-gradient(left, #fed302, #966da1, #68b38d, #6dc4d8, #f26846, #eb3a95);
background-image: -webkit-linear-gradient(left, #fed302, #966da1, #68b38d, #6dc4d8, #f26846, #eb3a95);
background-image: linear-gradient(to right, #fed302, #966da1, #68b38d, #6dc4d8, #f26846, #eb3a95);
} .home-slider-container .item {
background: #25273C;
outline: none !important;
border: none !important;
position: relative;
} .home-slider-container .item .bg {
display: block;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: 0;
} .home-slider-container .item .bg:after {
content: ' ';
display: block;
padding-top: 65.56%;
} .home-slider-container .item .info {
vertical-align: middle;
position: relative;
z-index: 1;
} .home-slider-container .item .info .mask {
background: url(/Content/wp-content/themes/neptune/img/rgbapng/25273c73-5.png?1510291152);
background: rgba(37, 39, 60, 0.45);
padding: 45px 45px 39px;
margin: 45px 0;
display: inline-block;
} .home-slider-container .item .info h1 {
display: inline-block;
color: #fff;
font-family: "Muli", sans-serif;
font-weight: 900;
line-height: 1.2;
margin: 0;
margin-bottom: 15px;
text-shadow: -1px 1px 0px #333;
text-transform: uppercase;
font-weight: 900;
font-size: 24px;
} .home-slider-container .item .info h1 small {
display: block;
color: inherit;
font-weight: 300;
margin: 0 0 3px;
font-size: 21px;
line-height: 1.2;
}
@media (max-width: 479px) { .home-slider-container .item .info h1 {
display: block;
}
}
@media (min-width: 1280px) { .home-slider-container .item .info h1 {
font-size: 32px;
} .home-slider-container .item .info h1 small {
font-size: 23px;
}
} .home-slider-container .item .info p {
font-size: 15px;
margin: 0 0 15px;
color: #fff;
line-height: 1.5;
max-width: 450px;
text-shadow: -1px 1px 0px #333;
}
@media (max-width: 599px) { .home-slider-container .item .bg {
position: initial;
} .home-slider-container .item .info {
background: #25273C;
} .home-slider-container .item .info .mask {
background: none;
margin: 0;
padding: 30px 0px 45px;
}
} aside#sticky {
position: fixed;
left: 0;
right: 0;
top: -100px;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background: #fff;
text-align: center;
} aside#sticky.visible {
top: 0px;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
} aside#sticky:after {
content: ' ';
display: block;
position: absolute;
left: 0;
right: 0;
bottom: 0;
height: 3px;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZDMwMiIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjOTY2ZGExIi8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiM2OGIzOGQiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzZkYzRkOCIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZjI2ODQ2Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWIzYTk1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
background-size: 100%;
background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fed302), color-stop(20%, #966da1), color-stop(40%, #68b38d), color-stop(60%, #6dc4d8), color-stop(80%, #f26846), color-stop(100%, #eb3a95));
background-image: -moz-linear-gradient(left, #fed302, #966da1, #68b38d, #6dc4d8, #f26846, #eb3a95);
background-image: -webkit-linear-gradient(left, #fed302, #966da1, #68b38d, #6dc4d8, #f26846, #eb3a95);
background-image: linear-gradient(to right, #fed302, #966da1, #68b38d, #6dc4d8, #f26846, #eb3a95);
} aside#sticky .logo {
float: left;
padding: 9px 0px 13px;
} aside#sticky .navbar-toggle {
float: right;
border: 1px solid #ECEBE8;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 6px 12px;
margin: 0;
margin-top: 9px;
display: none;
} aside#sticky .nav-sticky {
float: right;
margin-top: 3px;
} aside#sticky .nav-sticky > li {
background: none;
float: none;
display: inline-block;
margin: 0;
font-size: 13px;
font-weight: 700;
position: relative;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
} aside#sticky .nav-sticky > li:hover, aside#sticky .nav-sticky > li:active, aside#sticky .nav-sticky > li:focus {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
color: #ea3637;
background: none;
} aside#sticky .nav-sticky > li:hover > a, aside#sticky .nav-sticky > li:active > a, aside#sticky .nav-sticky > li:focus > a {
background: inherit;
color: inherit;
} aside#sticky .nav-sticky > li > a {
background: inherit;
color: inherit;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
line-height: 1;
padding: 15px 15px;
} aside#sticky .nav-sticky > li > a:hover, aside#sticky .nav-sticky > li > a:active, aside#sticky .nav-sticky > li > a:focus {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
color: inherit;
} aside#sticky .nav-sticky > li:last-child a {
padding-right: 0px;
} aside#sticky .nav-sticky > li.active {
background: none;
color: #ea3637;
} aside#sticky .nav-sticky > li.active a {
background: none;
color: #ea3637;
} aside#sticky .nav-sticky > li.dropdown:hover {
background: #f8f8f8;
} aside#sticky .nav-sticky > li.dropdown.open {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
background: none;
} aside#sticky .nav-sticky > li.dropdown.open .dropdown-menu {
display: none;
} aside#sticky .nav-sticky > li.dropdown.open:hover, aside#sticky .nav-sticky > li.dropdown.open:active, aside#sticky .nav-sticky > li.dropdown.open:focus {
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
background: #f8f8f8;
} aside#sticky .nav-sticky > li.dropdown.open:hover .dropdown-menu, aside#sticky .nav-sticky > li.dropdown.open:active .dropdown-menu, aside#sticky .nav-sticky > li.dropdown.open:focus .dropdown-menu {
display: block;
} aside#sticky .nav-sticky > li.dropdown .dropdown-menu {
color: #565452;
-moz-box-shadow: 0 13px 12px rgba(0, 0, 0, 0.175);
-webkit-box-shadow: 0 13px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 13px 12px rgba(0, 0, 0, 0.175);
background: inherit;
border: none;
font-size: inherit;
font-weight: inherit;
margin-top: -5px;
} aside#sticky .nav-sticky > li.dropdown .dropdown-menu > li {
color: inherit;
background: none;
font-size: 80%;
font-weight: inherit;
margin: 0;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
} aside#sticky .nav-sticky > li.dropdown .dropdown-menu > li > a {
color: inherit;
font-size: inherit;
font-weight: inherit;
padding: 7px 20px;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
} aside#sticky .nav-sticky > li.dropdown .dropdown-menu > li:hover {
color: #ea3637;
background: none;
} aside#sticky .nav-sticky > li.dropdown .dropdown-menu > li:hover a {
color: inherit;
background: inherit;
} aside#sticky .nav-sticky > li.dropdown .dropdown-menu > li.active {
background: inherit;
color: #ea3637;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
} aside#sticky .nav-sticky > li.dropdown .dropdown-menu > li.active > a {
color: inherit;
background: inherit;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
box-shadow: none !important;
background-image: none !important;
}
@media only screen and (min-width: 768px) { aside#sticky .nav-sticky > li.dropdown:hover .dropdown-menu {
display: block;
}
} aside#sticky .nav-sticky > li.logo img {
width: 30px;
margin-top: -3px;
}
@media (max-width: 767px) { aside#sticky .nav-sticky {
margin: 0;
display: none;
} aside#sticky .nav-sticky > li {
display: none;
}
}
@media (max-width: 767px) { aside#sticky {
display: none;
}
} .slick-dots {
text-align: center;
padding: 0;
margin: 30px 0 0;
position: absolute;
left: 0;
right: 0;
bottom: 15px;
}
@media (max-width: 767px) { .slick-dots {
margin: 30px 0 0;
}
} .slick-dots li {
position: relative;
display: inline-block;
width: 12px;
height: 12px;
margin: 0 2px;
padding: 0;
cursor: pointer;
} .slick-dots li button {
font-size: 0;
line-height: 0;
display: block;
width: 12px;
height: 12px;
padding: 0px;
cursor: pointer;
color: transparent;
border: 0;
outline: none;
background: transparent;
} .slick-dots li button:before {
content: ' ';
position: absolute;
top: 0;
left: 0;
width: 6px;
height: 6px;
background: white;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
} .slick-dots li.slick-active button:before {
background: #fff;
-moz-box-shadow: 0px 0px 0px 2px #fff;
-webkit-box-shadow: 0px 0px 0px 2px #fff;
box-shadow: 0px 0px 0px 2px #fff;
} .slider-nav-list {
list-style-type: none;
padding: 0;
height: 36px;
display: block;
height: 0;
margin: 0;
} .slider-nav-list .slider-nav {
display: inline-block;
position: absolute;
width: 36px;
height: 36px;
color: #25273C;
background: none;
font-size: 21px;
text-align: center;
padding-top: 4px;
float: left;
margin: auto auto;
} .slider-nav-list .slider-nav:hover {
cursor: pointer;
} .slider-nav-list .slider-nav.prev {
left: 0;
top: 0;
bottom: 0;
margin: auto auto;
display: block;
} .slider-nav-list .slider-nav.next {
left: initial;
right: 0;
top: 0;
bottom: 0;
margin: auto auto;
display: block;
} .slider-nav-list.client-slider-nav-list {
position: initial;
margin: 45px auto 0;
display: block;
width: 72px;
outline: none !important;
font-size: 12px;
} .slider-nav-list.client-slider-nav-list .slider-nav {
background: #25273C;
color: #fff;
font-size: 14px;
padding-top: 8px;
} .slider-nav-list.client-slider-nav-list .slider-nav:hover {
background: #ea3637;
} .slider-nav-list.awards-slider-nav-list {
position: initial;
margin: 0px auto;
display: block;
width: 72px;
outline: none !important;
font-size: 12px;
} .slider-nav-list.awards-slider-nav-list .slider-nav {
background: #25273C;
color: #fff;
font-size: 14px;
padding-top: 8px;
} .slider-nav-list.awards-slider-nav-list .slider-nav:hover {
background: #ea3637;
} section.light {
background: #F8F8F8;
} .overview-tabs {
border: none;
border: 1px solid #25273C;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
display: inline-block;
} .overview-tabs > li {
margin: 0;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
border-right: 1px solid #25273C;
border-left: none;
text-transform: uppercase;
color: #25273C;
background: none;
font-weight: 700;
font-size: 12px;
min-width: 185px;
text-align: center;
} .overview-tabs > li > a {
display: block;
color: inherit;
text-align: center;
background: inherit;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
border: none !important;
margin: 0;
} .overview-tabs > li:last-child {
border-right: none;
} .overview-tabs > li:last-child > a {
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-right-radius: 3px;
border-bottom-right-radius: 3px;
} .overview-tabs > li:first-child {
border-left: none;
} .overview-tabs > li:first-child > a {
-moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
border-top-left-radius: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-bottom-left-radius: 3px;
border-bottom-left-radius: 3px;
} .overview-tabs > li.active {
margin: 0;
background: #25273C;
color: #fff;
} .overview-tabs > li.active a {
color: inherit;
background: inherit;
border: none !important;
} .overview-tabs > li.active a:hover, .overview-tabs > li.active a:focus, .overview-tabs > li.active a:active {
color: inherit;
background: inherit;
}
@media (max-width: 991px) { .overview-tabs {
display: block;
width: 100%;
} .overview-tabs > li {
float: left;
width: 50%;
min-width: 0px;
white-space: nowrap;
}
}
@media (max-width: 479px) { .overview-tabs {
display: block;
width: 100%;
} .overview-tabs > li {
float: left;
width: 50%;
min-width: 0px;
white-space: nowrap;
}
} .overview-tabs-content {
margin: 15px 0 30px;
} .overview-tabs-content p {
text-align: justify;
} .updates-container {
border-bottom: 6px solid #25273C;
-moz-box-shadow: 0px 0px 3px #B1B1B1;
-webkit-box-shadow: 0px 0px 3px #B1B1B1;
box-shadow: 0px 0px 3px #B1B1B1;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
margin: 30px 0;
background: #fff;
} .updates-container .see-more-box {
text-align: center;
background: #f4f4f4;
padding: 7px;
} .updates-list {
display: block;
padding: 0;
margin: 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border-top: 6px solid #25273C;
outline: none !important;
} .updates-list .item {
display: block;
border-bottom: 1px dashed #ea3637;
margin: 0;
outline: none !important;
padding: 21px 15px 15px;
background: #fff;
min-height: 120px;
} .updates-list .item:hover, .updates-list .item:focus, .updates-list .item:active {
text-decoration: none !important;
} .updates-list .item .wrapper {
text-decoration: none;
display: block;
position: relative;
padding-left: 150px;
outline: none !important;
} .updates-list .item .wrapper .icon {
display: block;
width: 108px;
height: 108px;
position: absolute;
left: 18px;
top: -9px;
} .updates-list .item .wrapper .icon img {
width: 100%;
} .updates-list .item .wrapper .details {
color: #666877;
} .updates-list .item .wrapper .details .heading {
margin: 0 0 15px;
} .updates-list .item .wrapper .details .heading h3, .updates-list .item .wrapper .details .heading h2 {
font-size: 15px;
font-weight: 900;
color: #25273C;
margin: 0;
margin-right: 6px;
text-transform: uppercase;
display: inline-block;
} .updates-list .item .wrapper .details .heading .label {
display: inline-block;
padding: 3px 6px;
background: #ea3637;
color: #fff;
position: relative;
top: -1px;
} .updates-list .item .wrapper .details .heading .label.event {
background: #ea3637;
} .updates-list .item .wrapper .details p {
font-size: 13px;
line-height: 1.5;
margin: 0;
}
@media (max-width: 1199px) { .updates-list .item .wrapper {
padding-left: 15px;
} .updates-list .item .wrapper .icon {
display: none;
}
}
@media (max-width: 767px) { .updates-list .item .wrapper {
padding-left: 150px;
} .updates-list .item .wrapper .icon {
display: block;
}
}
@media (max-width: 499px) { .updates-list .item .wrapper {
padding-left: 15px;
} .updates-list .item .wrapper .icon {
display: none;
}
} .meta-grid {
list-style-type: none;
padding: 0;
margin-top: 15px;
} .meta-grid > li {
display: inline-block;
position: relative;
padding-left: 21px;
margin-right: 15px;
color: #25273C;
} .meta-grid > li .glyphicon, .meta-grid > li .fa {
display: inline-block;
position: absolute;
left: 0;
top: 2px;
} .awards-list {
list-style-type: none;
padding: 0;
padding-left: 15px;
margin: 30px 0 15px;
} .awards-list > li {
display: block;
padding-left: 120px;
position: relative;
min-height: 100px;
margin-bottom: 21px;
} .awards-list > li .icon {
display: block;
width: 90px;
position: absolute;
left: 0;
top: -3px;
} .awards-list > li .icon img {
width: 100%;
} .awards-list > li .details h2, .awards-list > li .details h3 {
color: #25273C;
font-size: 15px;
font-weight: 900;
margin: 0 0 12px;
} .awards-list > li .details p {
font-size: 13px;
line-height: 1.5;
text-align: left;
}
@media (max-width: 479px) { .awards-list > li {
padding-left: 108px;
}
}
@media (max-width: 359px) { .awards-list > li {
padding-left: 0;
} .awards-list > li .icon {
display: none;
}
} .campus-slider-container {
padding: 15px 0 21px;
margin: 0;
position: relative;
} .campus-slider-container .campuses-slider-nav-list .slider-nav {
top: initial;
bottom: 37%;
background: url(/Content/wp-content/themes/neptune/img/rgbapng/000000e5-5.png?1510291152);
background: rgba(0, 0, 0, 0.9);
color: #fff;
}
@media (max-width: 600px) { .campus-slider-container .campuses-slider-nav-list .slider-nav {
top: 150px;
}
} .campus-slider-container .item {
display: block;
position: relative;
outline: none !important;
border: none;
border-left: 2px solid #fff;
text-decoration: none !important;
padding: 15px 7px;
opacity: 0.5;
-moz-transition: opacity 0.3s linear;
-o-transition: opacity 0.3s linear;
-webkit-transition: opacity 0.3s linear;
transition: opacity 0.3s linear;
max-width: 100%;
width: 100%;
} .campus-slider-container .item.slick-current {
opacity: 1;
} .campus-slider-container .item .wrapper {
background: #F8F8F8;
border: 1px solid #ECEBE8;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0px 7px 3px -4px #c7c7c7;
-webkit-box-shadow: 0px 7px 3px -4px #c7c7c7;
box-shadow: 0px 7px 3px -4px #c7c7c7;
max-width: 1140px;
margin: 0 auto;
} .campus-slider-container .item .wrapper img {
width: 100%;
-moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
border-top-left-radius: 3px;
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
} .campus-slider-container .item .wrapper .bg {
width: 100%;
height: 300px;
-moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
border-top-left-radius: 3px;
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
} .campus-slider-container .item .wrapper .details {
bottom: 0;
left: 0;
right: 0;
padding: 30px 30px;
color: #fff;
text-align: center;
} .campus-slider-container .item .wrapper .details h2 {
margin: 0 0 15px;
} .campus-slider-container .item .wrapper .details p {
display: block;
max-width: 80%;
position: relative;
margin: 0 auto 15px;
max-height: 90px;
overflow: hidden;
} .campus-slider-container .item .wrapper .details p:after {
content: ' ';
position: absolute;
bottom: 0;
height: 45px;
left: 0;
right: 0;
background: url(/Content/wp-content/themes/neptune/img/hide-gradient.png) top center no-repeat;
background-size: cover;
}
@media (max-width: 767px) { .campus-slider-container .item .wrapper .details p {
max-width: 100%;
}
}
@media (max-width: 599px) { .campus-slider-container .item .wrapper .details {
position: initial;
}
} section.story {
background: #F8F8F8;
background: #F8F8F8 url(/Content/wp-content/themes/neptune/img/pattern.png) repeat;
} .blogs-box {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border-top: 6px solid #ea3637;
background: #fff;
-moz-box-shadow: 0px 0px 3px #B1B1B1;
-webkit-box-shadow: 0px 0px 3px #B1B1B1;
box-shadow: 0px 0px 3px #B1B1B1;
padding: 30px;
} .blogs-box .blogs-grid {
display: block;
margin: 0 -15px;
} .blogs-box .blogs-grid .item {
display: block;
padding: 15px;
float: left;
width: 50%;
border-right: 1px dashed #ea3637;
} .blogs-box .blogs-grid .item:last-child {
border: none;
}
@media (max-width: 991px) { .blogs-box .blogs-grid .item {
width: 100%;
border: none;
border-bottom: 1px dashed #ea3637;
}
} .blogs-box .blogs-grid .item .wrapper {
display: block;
position: relative;
padding: 0px;
text-align: left;
padding-left: 150px;
} .blogs-box .blogs-grid .item .wrapper .icon {
display: block;
width: 120px;
height: 120px;
position: absolute;
left: 15px;
top: 0;
} .blogs-box .blogs-grid .item .wrapper .icon img {
width: 100%;
} .blogs-box .blogs-grid .item .wrapper .details .date {
font-weight: 500;
color: #666877;
font-size: 12px;
text-transform: uppercase;
} .blogs-box .blogs-grid .item .wrapper .details h2, .blogs-box .blogs-grid .item .wrapper .details h3 {
font-size: 15px;
text-transform: uppercase;
font-weight: 900;
color: #25273C;
margin: 6px 0 7px;
} .blogs-box .blogs-grid .item .wrapper .details p {
font-size: 12px;
line-height: 1.5;
margin: 0 0 7px;
} .blogs-box .blogs-grid .item .wrapper .details .read-more {
display: inline-block;
color: #ea3637;
font-size: 12px;
} .blogs-box .blogs-grid .item .wrapper .details .meta-grid {
color: #25273C;
} .blogs-box .blogs-grid .item .wrapper .details .meta-grid > li {
color: #666877;
font-size: 12px;
}
@media (max-width: 479px) { .blogs-box .blogs-grid .item .wrapper {
padding: 0;
} .blogs-box .blogs-grid .item .wrapper .icon {
display: none;
}
} .read-more {
display: inline-block;
color: #ea3637;
font-size: 12px;
} .join-strip {
padding: 15px 0;
color: #fff;
background: #ea3637;
text-align: left;
} .join-strip h1, .join-strip h2 {
font-size: 18px;
font-weight: 600;
color: #fff;
margin: 0 0 6px;
} .join-strip p {
color: #f4cbee;
margin: 0 0 3px;
} .join-strip .btn.btn-cta.white {
margin-top: 11px;
}
@media (max-width: 767px) { .join-strip {
text-align: center;
padding: 21px 0;
} .join-strip .btn.btn-cta.white {
margin: 6px 0;
} .join-strip h1 {
margin-top: 6px;
} .join-strip p {
margin: 6px 0 15px;
}
} .testimonial-slider-container .container .row .col-sm-10 {
position: relative;
} .testimonial-slider-container .testimonial-slider {
margin: 45px 45px 0;
background: #fff;
padding: 45px;
border-top: 6px solid #ea3637;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
@media (max-width: 767px) { .testimonial-slider-container .testimonial-slider {
padding: 45px 15px;
margin: 45px 15px;
}
} .testimonial-slider-container .testimonial-slider .item {
outline: none !important;
} .testimonial-slider-container .testimonial-slider .item .video-img {
width: 100%;
margin-bottom: 30px;
} .breadcrumbs-container {
padding: 15px 0;
} section.inner-lead {
padding-top: 0 !important;
}
@media (max-width: 479px) { .contact-col {
width: 100%;
}
} .contact-col .contact-details-box {
margin: 15px 0;
} .contact-col .contact-details-box p {
font-size: 14px;
line-height: 1.5;
} .contact-col .contact-details-box .heading {
font-size: 15px;
color: #ea3637;
font-weight: 600;
margin: 0 0 6px;
} .contact-col .contact-details-box a {
color: #ea3637;
text-decoration: underline;
} .contact-col .contact-details-box .btn {
text-decoration: none;
margin: 6px 0;
} .contact-form {
margin: 15px 0;
} .contact-form legend {
background: #25273C;
color: #fff;
text-align: center;
font-weight: 700;
text-align: center;
border: none;
padding: 15px;
text-transform: uppercase;
font-size: 15px;
margin: 0;
margin-top: 30px;
} .contact-form .form-wrapper {
padding: 0 15px;
border: 1px solid #B1B1B1;
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-right-radius: 3px;
border-bottom-right-radius: 3px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-bottom-left-radius: 3px;
border-bottom-left-radius: 3px;
} .contact-form.in-admissions {
float: right;
margin-top: 0;
margin-bottom: 15px;
margin-left: 15px;
width: 360px;
} .contact-form.in-admissions legend {
margin-top: 21px;
}
@media (max-width: 991px) { .contact-form.in-admissions {
width: 100%;
float: none;
margin: 0 0 30px;
}
} .form-type-btns {
display: block;
background: none;
} .form-type-btns .btn {
display: block;
background: none;
float: left;
width: 50%;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
background: none;
border: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
text-align: left;
position: relative;
padding: 6px;
padding-left: 21px;
min-height: 30px;
outline: none !important;
color: #25273C;
}
@media (max-width: 479px) { .form-type-btns .btn {
width: 100%;
}
} .form-type-btns .btn:active, .form-type-btns .btn:focus {
outline: none !important;
border: none !important;
color: #25273C;
} .form-type-btns .btn:before {
content: ' ';
display: inline-block;
position: absolute;
height: 12px;
width: 12px;
border: 1px solid #25273C;
left: 0;
top: 11px;
text-align: left;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
} .form-type-btns .btn.active {
color: #25273C;
} .form-type-btns .btn.active:before {
background: #25273C;
} .breadcrumbs ol {
list-style-type: none;
padding: 0;
margin: 0;
} .breadcrumbs ol > li {
display: inline-block;
font-size: 10px;
color: #ea3637;
text-transform: uppercase;
} .breadcrumbs ol > li a {
font-size: inherit;
color: inherit;
text-decoration: none;
} .breadcrumbs ol > li:after {
content: '»';
display: inline-block;
margin: 0 6px;
} .breadcrumbs ol > li:last-child {
color: #25273C;
} .breadcrumbs ol > li:last-child:after {
content: '';
display: none;
} .highlights-grid {
display: block;
margin: 30px 0;
border: 1px solid #ea3637;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
max-width: 750px;
} .highlights-grid .item {
display: block;
float: left;
width: 33.333333%;
border-right: 1px solid #ea3637;
} .highlights-grid .item:last-child {
border: none;
} .highlights-grid .item .wrapper {
position: relative;
padding: 15px;
padding-left: 108px;
} .highlights-grid .item .wrapper .icon-box {
display: table-cell;
vertical-align: middle;
display: block;
width: 90px;
height: 100%;
background: none;
position: absolute;
left: 0;
top: 0;
text-align: center;
} .highlights-grid .item .wrapper .icon-box .glyphicon, .highlights-grid .item .wrapper .icon-box .fa {
display: inline-block;
color: #ea3637;
font-size: 30px;
margin-top: 24px;
display: block;
} .highlights-grid .item .wrapper .text-box p {
font-size: 15px;
color: #25273C;
margin: 0;
line-height: 1.5;
color: #42466b;
} .highlights-grid .item .wrapper .text-box p .num {
font-weight: 900;
font-size: 21px;
color: #25273C;
margin-right: 3px;
}
@media (max-width: 1169px) { .highlights-grid .item {
width: 100%;
float: none;
display: block;
border-right: none;
} .highlights-grid .item .wrapper {
border: none;
border-bottom: 1px solid #ea3637;
padding-left: 90px;
} .highlights-grid .item .wrapper .icon-box .glyphicon, .highlights-grid .item .wrapper .icon-box .fa {
font-size: 18px;
margin-top: 24px;
}
} .program-grid {
display: block;
margin: 0px -15px 30px;
} .program-grid .item {
display: block;
float: left;
padding: 15px;
width: 33.333333%;
color: #fff;
text-decoration: none;
} .program-grid .item .wrapper {
display: block;
text-align: center;
background: #25273C;
color: #fff;
padding: 15px 15px 12px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
} .program-grid .item .wrapper h3 {
font-size: 15px;
margin: 0 0 6px;
font-weight: 700;
text-transform: uppercase;
color: #fff;
} .program-grid .item .wrapper h3 a {
color: #fff;
text-decoration: none !important;
} .program-grid .item .wrapper p {
font-weight: 300;
color: #fff;
text-transform: uppercase;
font-size: 12px;
margin: 0;
}
@media (max-width: 600px) { .program-grid .item {
width: 100%;
}
} .program-grid.small .item {
width: 50%;
} .program-grid.small .item .wrapper {
background: #ea3637;
padding: 21px 15px 18px;
} .program-grid.small .item .wrapper h3 {
white-space: nowrap;
font-size: 12px;
}
@media (max-width: 499px) { .program-grid.small .item {
width: 100%;
}
} .sidebar-nav {
-moz-transition: right 0.3s ease-in-out;
-o-transition: right 0.3s ease-in-out;
-webkit-transition: right 0.3s ease-in-out;
transition: right 0.3s ease-in-out;
} .sidebar-nav > ul {
display: block;
background: #F8F8F8;
margin: 21px 0 30px;
list-style-type: none;
padding: 0;
padding: 30px 30px !important;
} .sidebar-nav ul {
list-style-type: none;
padding: 0;
} .sidebar-nav ul li, .sidebar-nav ul .page_item {
margin: 0;
border-bottom: 1px solid #e1e1e1;
} .sidebar-nav ul li:last-child, .sidebar-nav ul .page_item:last-child {
border-bottom: none;
} .sidebar-nav ul li > a, .sidebar-nav ul .page_item > a {
text-decoration: none;
text-transform: uppercase;
font-weight: 700;
color: #25273C;
display: block;
padding: 9px 6px;
} .sidebar-nav ul li > a:hover, .sidebar-nav ul .page_item > a:hover {
color: #ea3637;
text-decoration: none;
} .sidebar-nav ul li > .nav-list > li, .sidebar-nav ul .page_item > .nav-list > li {
margin: 0;
} .sidebar-nav ul li > .nav-list > li:first-child, .sidebar-nav ul .page_item > .nav-list > li:first-child {
margin-top: 7px;
} .sidebar-nav ul li > .nav-list > li:last-child, .sidebar-nav ul .page_item > .nav-list > li:last-child {
margin-bottom: 15px;
} .sidebar-nav ul li > .nav-list > li > a, .sidebar-nav ul .page_item > .nav-list > li > a {
font-size: 11px;
font-weight: 700;
padding: 6px 15px;
color: #25273C;
text-transform: uppercase;
} .sidebar-nav ul li > .nav-list > li.active > a, .sidebar-nav ul .page_item > .nav-list > li.active > a {
color: #ea3637;
} .sidebar-nav ul li.active > a, .sidebar-nav ul li.current_page_item > a, .sidebar-nav ul .page_item.active > a, .sidebar-nav ul .page_item.current_page_item > a {
color: #ea3637;
} .sidebar-nav ul li ul > li, .sidebar-nav ul .page_item ul > li {
border: none;
} .sidebar-nav #sidebar-toggle {
position: absolute;
display: none;
left: -36px;
top: 0px;
width: 36px;
height: 60px;
background: url(/Content/wp-content/themes/neptune/img/rgbapng/f65f52e5-5.png?1510291152);
background: rgba(246, 95, 82, 0.9);
color: #fff;
padding-top: 20px;
font-size: 18px;
text-align: center;
opacity: 1;
} .sidebar-nav #sidebar-toggle .close {
display: none;
float: none;
display: none;
font-size: 21px;
color: #fff;
opacity: 1;
} .sidebar-nav #sidebar-toggle:hover {
background: url(/Content/wp-content/themes/neptune/img/rgbapng/f65f52e5-5.png?1510291152);
background: rgba(246, 95, 82, 0.9);
cursor: pointer;
}
@media (max-width: 767px) { .sidebar-nav {
position: absolute;
width: 210px;
top: 0px;
right: -207px;
z-index: 100;
-moz-transition: right 0.3s ease-in-out;
-o-transition: right 0.3s ease-in-out;
-webkit-transition: right 0.3s ease-in-out;
transition: right 0.3s ease-in-out;
} .sidebar-nav #sidebar-toggle {
display: inline-block;
} .sidebar-nav.active {
bottom: 0px;
top: initial;
} .sidebar-nav.open {
left: initial;
right: 0px;
margin-left: -100%;
} .sidebar-nav.open #sidebar-toggle {
padding-top: 18px;
} .sidebar-nav.open #sidebar-toggle .open {
display: none;
} .sidebar-nav.open #sidebar-toggle .close {
display: inline-block;
} .sidebar-nav.fixed {
position: fixed;
top: 30px;
} .sidebar-nav > ul {
background: #f4f4f5;
margin: 0;
border-left: 3px solid #f65f52;
-moz-box-shadow: 0px 3px 6px #cacaca;
-webkit-box-shadow: 0px 3px 6px #cacaca;
box-shadow: 0px 3px 6px #cacaca;
}
} .inner-layout {
position: relative;
overflow: hidden;
} .inner-layout #sidebar-col {
position: initial;
} .activity-grid {
position: relative;
margin: 15px -15px;
} .activity-grid .item {
display: block;
float: left;
width: 50%;
padding: 15px;
}
@media (max-width: 599px) { .activity-grid .item {
width: 100%;
}
} .activity-grid .item .wrapper {
display: block;
position: relative;
padding-left: 45px;
} .activity-grid .item .wrapper .icon {
display: block;
width: 30px;
position: absolute;
left: 0;
} .activity-grid .item .wrapper .details h3 {
font-weight: bold;
font-size: 15px;
color: #25273C;
margin: 0 0 15px;
} .activity-grid .item .wrapper .details p {
font-size: 13px;
color: #666877;
line-height: 1.5;
text-align: left;
} .static-testimonial-box {
margin: 15px 0 30px;
background: #F8F8F8;
padding: 48px 30px 30px;
position: relative;
} .static-testimonial-box .quote {
display: inline-block;
position: absolute;
color: #ea3637;
font-size: 18px;
} .static-testimonial-box .quote.quote-top {
top: 15px;
left: 15px;
} .static-testimonial-box .quote.quote-bottom {
bottom: 15px;
right: 15px;
} .static-testimonial-box .person-box {
position: relative;
padding-left: 65px;
margin: 0 0 15px;
min-height: 50px;
} .static-testimonial-box .person-box img {
display: inline-block;
width: 50px;
height: 50px;
position: absolute;
left: 0;
} .static-testimonial-box .person-box .details .name {
font-weight: 700;
text-transform: uppercase;
margin: 0px;
line-height: 1.5;
} .static-testimonial-box .person-box .details .designation {
font-size: 12px;
line-height: 1;
margin: 0;
} .static-testimonial-box .testimonial {
padding: 0;
border: none;
color: #585a67;
margin: 18px 0 15px;
font-size: 16px;
line-height: 1.5;
} .recent-posts-list {
display: block;
margin: 30px 0 30px;
list-style-type: none;
padding: 0;
} .recent-posts-list .item {
display: block;
margin: 0 0 15px;
border-bottom: 1px solid #e9e9e9;
min-height: 90px;
padding: 0 0 12px;
} .recent-posts-list .item:last-child {
border-bottom: none;
} .recent-posts-list .item .wrapper {
display: block;
text-decoration: none;
position: relative;
padding-left: 90px;
} .recent-posts-list .item .wrapper:hover, .recent-posts-list .item .wrapper:active, .recent-posts-list .item .wrapper:focus {
text-docration: none;
} .recent-posts-list .item .wrapper .icon {
display: block;
width: 75px;
position: absolute;
top: 0;
left: 0;
} .recent-posts-list .item .wrapper .icon img {
width: 100%;
} .recent-posts-list .item .wrapper .details h3 {
font-weight: 700;
color: #25273C;
font-size: 14px;
margin: 0 0 7px;
} .recent-posts-list .item .wrapper .details p {
font-size: 12px;
margin: 0 0 3px;
line-height: 1.1;
} .recent-posts-list .item .wrapper .details .read-more {
color: #ea3637;
font-size: 12px;
} .two-col {
list-style-type: none;
padding: 0;
padding-left: 0;
margin: 30px 0 15px;
-moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
}
@media (max-width: 499px) { .two-col {
-moz-column-count: 1;
-webkit-column-count: 1;
column-count: 1;
}
} .gallery {
margin: 30px 0;
} .gallery .item {
display: block;
width: 25%;
padding: 6px;
float: left;
overflow: hidden;
position: relative;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
} .gallery .item:after {
content: ' ';
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
background: url(/Content/wp-content/themes/neptune/img/rgbapng/0000007f-5.png?1510291152);
background: rgba(0, 0, 0, 0.5);
z-index: 1;
opacity: 0;
} .gallery .item img {
width: 100%;
-moz-transform: scale(1);
-ms-transform: scale(1);
-webkit-transform: scale(1);
transform: scale(1);
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
} .gallery .item:hover:after {
opacity: 1;
} .gallery .item:hover img {
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
@media (min-width: 1169px) { .gallery.big .item {
width: 16.666666%;
}
} .enquiry-box {
display: block;
marign: 30px 0;
} .enquiry-box h3 {
display: block;
background: #ea3637;
color: #fff;
margin: 0;
font-size: 15px;
font-weight: 700;
padding: 15px 21px;
} .enquiry-box .item {
padding: 15px 21px;
background: #F8F8F8;
color: #666877;
color: #25273C;
border-bottom: 1px solid #e1e1e1;
} .enquiry-box .item:last-child {
border-bottom: none;
} .enquiry-box .item p {
color: #25273C;
font-size: 13px;
margin: 0 0 7px;
line-height: 1.8;
} .enquiry-box .item h1, .enquiry-box .item h2, .enquiry-box .item h3, .enquiry-box .item h4, .enquiry-box .item h5 {
color: #ea3637;
margin: 0 0 7px;
font-size: 15px;
font-weight: 700;
} footer {
background: #323548;
color: #fff;
padding: 45px 0 0;
} footer .footer-logo-column {
max-width: 80%;
font-size: 13px;
margin-bottom: 45px;
} footer .footer-logo-column img {
display: inline-block;
width: 90px;
padding-bottom: 15px;
border-bottom: 1px solid #42466b;
margin-bottom: 30px;
}
@media (max-width: 479px) { footer .col-xs-6 {
width: 100%;
}
} footer .footer-links {
list-style-type: none;
padding-left: 0;
margin-bottom: 45px;
} footer .footer-links > li {
font-size: 13px;
color: #fff;
font-weight: 500;
line-height: 1.8;
} footer .footer-links > li > a {
color: inherit;
text-decoration: none;
} footer .footer-links > li > a:hover {
color: #ea3637;
text-decoration: none;
} footer .footer-links > li.heading {
display: inline-block;
font-family: "Muli", sans-serif;
font-size: 15px;
font-weight: 700;
margin-bottom: 18px;
max-width: 100%;
} .copyright-row {
background: #25273C;
color: #fff;
padding: 9px 0 12px;
font-size: 10px;
} .copyright-row .copyright {
display: block;
text-align: left;
font-size: 10px;
} .copyright-row .links {
text-align: right;
font-size: 10px;
} .copyright-row .links a {
color: #fff;
text-decoration: none;
} .copyright-row .links a:hover {
color: #ea3637;
} .copyright-row .links a:after {
content: '|';
padding: 0 6px;
color: #454963 !important;
} .copyright-row .links a:last-child:after {
content: '';
display: none;
} .copyright-row .links.social {
text-align: center;
}
@media (max-width: 767px) { .copyright-row {
text-align: center;
} .copyright-row .links {
text-align: center;
margin-top: 6px;
} .copyright-row .links a {
margin: 0;
margin-right: 6px;
} .copyright-row .copyright {
text-align: center;
}
} .inner-banner {
padding: 0;
position: relative;
background: #25273C;
} .inner-banner:after {
content: ' ';
display: block;
padding-top: 25.56%;
}
@media (max-width: 767px) { .inner-banner:after {
padding-top: 30.56%;
}
}
@media (max-width: 479px) { .inner-banner:after {
padding-top: 55.56%;
}
} #careers-apply {
display: block;
width: 49px;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2NmRhMSIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjZjI2ODQ2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
background-size: 100%;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #966da1), color-stop(90%, #f26846));
background-image: -moz-linear-gradient(top, #966da1, #f26846 90%);
background-image: -webkit-linear-gradient(top, #966da1, #f26846 90%);
background-image: linear-gradient(to bottom, #966da1, #f26846 90%);
text-align: center;
text-decoration: none;
position: fixed;
bottom: 12px;
right: 12px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
padding: 9px 3px;
} #careers-apply .sub {
font-family: "Muli", sans-serif;
color: #ffffff;
font-size: 9px;
line-height: 12px;
margin: 0px 0px 9px;
text-shadow: 1px 1px 0px #353535;
} #careers-apply .big {
font-size: 18px;
font-family: "Muli", sans-serif;
font-weight: 900;
color: #fff;
line-height: 21px;
} .btn {
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
outline: none !important;
} .btn.btn-cta {
background: #ea3637;
border-color: #ea3637;
color: #fff;
text-transform: uppercase;
font-family: "Muli", sans-serif;
font-weight: 700;
font-size: 12px;
padding: 6px 21px;
margin: 6px 0;
} .btn.btn-cta:hover {
background: #ea3637;
border-color: #ea3637;
} .btn.btn-cta.white {
background: #fff;
border-color: #fff;
color: #ea3637;
} .btn.btn-cta.white:hover {
background: #fff;
border-color: #fff;
color: #ea3637;
} .btn.btn-dark {
background: #25273C;
border-color: #25273C;
color: #fff;
text-transform: uppercase;
font-family: "Muli", sans-serif;
font-weight: 700;
font-size: 12px;
} .btn.btn-dark:hover {
background: #ea3637;
border-color: #ea3637;
} .btn.btn-wide {
min-width: 108px;
} a {
color: #ea3637;
} a:hover {
color: #cc5309;
} form .form-group {
margin: 15px 0;
} form label {
font-weight: 400;
font-size: 14px;
color: #25273C;
} form .form-control {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
} form textarea {
width: 100%;
max-width: 100%;
min-height: 100px;
} form .intl-tel-input {
display: block;
} form .intl-tel-input .selected-flag {
height: auto;
top: 14px;
} form label.error, form label.cust-error {
color: #8b0000;
font-size: 12px;
padding: 3px;
} form .help-block.error {
color: #8b0000;
} .form-group.error label {
color: #8b0000;
} ul, ol {
padding-left: 21px;
margin: 0 0 15px;
} ul > li, ol > li {
font-size: 14px;
color: #666877;
margin: 0 0 9px;
}.footer-links a{color:#fff}.footer-links ul{padding-left:0;list-style-type:none}html.no-js{margin:0!important;padding:0!important}img{display:block;max-width:100%;height:auto}.media .media-left img{display:initial;max-width:initial;height:initial}.blog-posts h1{margin-bottom:10px}.blog-posts-panel{margin-bottom:20px}.box-body{padding-top:10px}.article-sec{margin-bottom:15px}.widget .title-bar{margin-bottom:-20px}.widget.widget_recent_entries .post-date{font-size:11px;display:block;padding-left:7px}.panel-default>.panel-heading{color:#666877;background-color:#f8f8f8;border-color:none;padding:0}.panel-title>.small,.panel-title>.small>a,.panel-title>a,.panel-title>small,.panel-title>small>a{display:block;color:#fff;padding:10px 5px;background:#ea3637}.panel-title>.small,.panel-title>.small>a:focus,.panel-title>.small>a:hover,.panel-title>a:focus,.panel-title>a:hover,.panel-title>small,.panel-title>small>a:focus,.panel-title>small>a:hover{color:#fff;text-decoration:none}.breadcrumbs a{font-size:12px;color:#333}.breadcrumbs a span{display:inline-block;font-size:12px;color:#ea3637;margin:0 6px}.breadcrumbs a.current-item span{color:#333}.panel-title a,.panel-title a:active,.panel-title a:focus,.panel-title a:hover{background:#ea3637;color:#fff;border-top-left-radius:3px;border-top-right-radius:3px;padding:15px 21px}.panel-title a.collapsed,.panel-title a.collapsed:active,.panel-title a.collapsed:focus,.panel-title a.collapsed:hover{background:#f8f8f8;color:#ea3637}.pagination{margin:0}ul.page-numbers{list-style-type:none;margin:0;padding:0;overflow:hidden;background-color:#F9F9F9}ul.page-numbers li{float:left}ul.page-numbers li .page-numbers{display:block;color:#ea3637;text-align:center;padding:5px 15px;background:#fff;transition:.5s;border:1px solid #dbdbdb;text-decoration:none}ul.page-numbers li .page-numbers.current,ul.page-numbers li .page-numbers:hover{color:#fff;transition:.5s;background-color:#ea3637}.comment-respond,.entry-comments,.entry-pings{color:#444;overflow:hidden}.entry-comments h3{font-size:30px;margin-bottom:30px}.comment-respond h3,.entry-pings h3{font-size:20px;margin-bottom:30px}.comment-respond{padding-bottom:5%;margin:20px 1px;border-left:none!important}.comment-header{color:#adaeb3;font-size:14px;margin-bottom:20px}.comment-header cite a{border:none;font-style:normal;font-size:16px;font-weight:700}.comment-header .comment-meta a{border:none;color:#adaeb3}.banner-content,.banner-heading,.banner-paragraph,.banner-paragraph>h1,.comment-reply-link:hover{color:#fff}li.comment{background-color:#fff;border-right:none}.comment-content{clear:both;overflow:hidden}.comment-list li{font-size:14px;padding:20px 30px 20px 50px}.comment-list .children{margin-top:40px;border:1px solid #ccc}.comment-list li li{background-color:#f5f5f6}.comment-list li li li{background-color:#fff}.comment-respond input[type=email],.comment-respond input[type=text],.comment-respond input[type=url]{width:50%}.comment-respond label{display:block;margin-right:12px}.comment-notes,.entry-pings .reply{display:none}.entry-comments .comment-author{margin-bottom:0;position:relative}.entry-comments .comment-author img{border-radius:50%;border:5px solid #fff;left:-80px;top:-5px;position:absolute;width:60px}.form-allowed-tags{background-color:#f5f5f5;font-size:16px;padding:24px}.comment-reply-link{cursor:pointer;background-color:#444;border:none;border-radius:3px;color:#fff;font-size:12px;font-weight:300;letter-spacing:1px;padding:4px 10px;text-transform:uppercase;width:auto}#html5-watermark,.wonderplugin-gridgallery-item>a{display:none!important}.accr-grid{display:block;margin:-15px -15px 15px}.accr-grid .item{display:table;float:left;padding:15px}.accr-grid .item .wrapper{padding:15px;display:table-cell;vertical-align:middle}.accr-grid .item .wrapper img{width:100%;vertical-align:middle}.top-padding{padding-top:25px}.banner-heading{font-size:32px;margin-bottom:10px}.banner-content{top:15%;position:absolute}.banner-content .mask{/*background:url(/Content/wp-content/themes/img/rgbapng/25273c73-5.png?1502867449);*/background:rgba(37,39,60,.45);padding:20px 45px;margin:15px 0;display:inline-block}@media only screen and (max-width:480px){.accr-grid .item{width:100%}.banner-paragraph,.sidebarimage{display:none}.banner-heading{font-size:20px}}@media screen and (min-device-width:481px) and (max-device-width:768px){.banner-content .mask{margin:-5px 0}}.supsystic-social-sharing.supsystic-social-sharing-content-align-left{margin:-15px 0 10px}.campus-form-sidebar{padding:0 30px!important;border-left:1px dotted #e3e3e3}.campus-form-sidebar h2{margin-top:0}.campus-content-section{padding-top:30px}.onslider-image{float:left;width:60px;height:60px;margin-right:9px;margin-bottom:9px}.highlights-grid .item{width:100%}.highlights-grid .item .wrapper .icon-box .fa,.highlights-grid .item .wrapper .icon-box .glyphicon{margin-top:10px}.article-thumb{background-size:100%;background-repeat:no-repeat;height:250px;background-position:center center;margin-bottom:20px}.gallery-thumb,.single-article-thumbnail{display:block;margin:25px 0}.accr-grid .item{width:33.333333%}#valid-msg{color:#00C900}#error-msg{color:red}.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0}.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}.social-row .links{text-align:left;font-size:10px}.social-row .links a{color:#fff;text-decoration:none}.social-row .links a:hover{color:#ea3637}.social-row .links a:after{content:'|';padding:0 6px;color:#454963!important}.social-row .links a:last-child:after{content:'';display:none}.social-row .links.social{text-align:center}@media (max-width:767px){.social-row{text-align:center}.social-row .links{text-align:center;margin-top:6px}.social-row .links a{margin:0 6px 0 0}}.campus-content-section {padding-top: 0px;}ol.commentlist{list-style:none;margin:0 0 1em;padding:0;text-indent:0}ol.commentlist li.comment{border-bottom:1px dotted #666;padding:1em}ol.commentlist li.comment div.vcard{font:400 16px georgia,times,serif}ol.commentlist li.comment div.vcard cite.fn{font-style:normal}ol.commentlist li.comment div.vcard img.avatar{border:5px solid #ccc;float:right;margin:0 0 1em 1em}ol.commentlist li.comment div.comment-meta{font-size:9px}ol.commentlist li.comment div.comment-meta a{color:#ccc}ol.commentlist li.comment p{font-size:11px;margin:0 0 1em}ol.commentlist li.comment ul{font-size:11px;list-style:square;margin:0 0 1em 2em}ol.commentlist li.comment div.reply{font-size:11px}ol.commentlist li.comment div.reply a{font-weight:700}ol.commentlist li.comment ul.children{list-style:none;margin:1em 0 0;text-indent:0}ol.commentlist li.comment ul.children li.depth-2{border-left:5px solid #555;margin:0 0 .25em .25em}ol.commentlist li.comment ul.children li.depth-3{border-left:5px solid #999;margin:0 0 .25em .25em}ol.commentlist li.comment ul.children li.depth-4{border-left:5px solid #bbb;margin:0 0 .25em .25em}ol.commentlist li.even{background:#fff}ol.commentlist li.odd{background:#f6f6f6}ol.commentlist li.parent{border-left:5px solid #111}.widget ul{list-style:none;display:block;background:#F8F8F8;margin:21px 0 30px;padding:30px!important}.widget ul li{margin:0;border-bottom:1px solid #e1e1e1}.widget ul li>a{text-decoration:none;text-transform:uppercase;font-weight:700;color:#25273C;display:block;padding:9px 6px}#main-nav .header-info.form form .input-group .form-control {height: 24px !important;}.author-box{background:#f7f7f7;padding:20px;border-radius:2px}.media{display:flex;align-items:flex-start}.media-figure{margin-right:1em}.media-body{flex:1}
@media(max-width:1199px){
.widget.widget_locations {
display:inline-block;
width:100%;
}
.widget .title-bar {
display:inline-block;
width:100%;
}
}
.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}
.youtube-responsive-container iframe, .youtube-responsive-container object, .youtube-responsive-container embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
.papertitle-date{
display:block;
margin-bottom:-15px;
}
.featured-other-media{
margin-top:-20px;
}
.otherschoolpanel {
display: none;
}
.kocujsitemap.oak_sitemap h3{
display:none;
}
.kocujsitemap.oak_sitemap ul li{
}
.kocujsitemap.oak_sitemap ul li a{
background: #fff;
color:#ea3637;
font-weight:bold;
}
.kocujsitemap.oak_sitemap ul li ul li a{
color:#000;
font-weight:normal; 
}
.kocujsitemap-unknown{
display:none;
}
#wdi_feed_0 .wdi_feed_header {
display: none !important;
}
.wdi_feed_main_container {
height: 360px;
overflow: scroll;
}
#ffwd_container1_0 #ffwd_container2_0 .blog_style_objects_conteiner_0 .ffwd_blog_style_header_container_0{
display:none !important;
}
.accr-grid.wrpr{
margin-top:15px;
}
.accr-grid.wrpr .item.grid-size{ min-height:210px;
}
.accr-grid.wrpr .item{
width:25%;
}
.accr-grid.wrpr .item.grid-size .wrapper{
border:1px solid #e0dede;
background: #fdfcfc;
}
@media(max-width:425px){
.accr-grid.wrpr .item{
width:50%;
}
}
#14047{
background:yellow;
}