﻿
@{
    ViewBag.Title = "pagedeleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inner-lead" style="margin-top:80px;margin-bottom:80px;">
    <div class="container">
        <div class="row text-center">
            <h1 style="font-size: 9rem;text-transform:none;">
                Oops !
            </h1>
            <h5 style="color: #000000;font-weight: 700;">410 - PAGE DELETED OR GONE</h5>
            <p>The requested page is permanently deleted.</p>
            <div class="row" style="margin-top:40px;">
                <div class="col-sm-12 text-center"> <a class="btn btn-cta btn-sm" href="/">GO TO HOMEPAGE</a> </div>
            </div>
        </div>
    </div>
</section>


