﻿

@media screen and (min-device-width: 992px) and (max-device-width: 1199px){

.news_heading h4{ font-size: 20px; }

.news_heading img{ width: 42px; }



}

@media screen and (min-device-width: 801px) and (max-device-width: 991px) {

.wpf-demo-1{ height: 230px; }

.event_nm{ font-size: 12px; }

.news_heading h4{ font-size: 16px; }

.news_heading img{ width: 34px; }

}

@media screen and (min-device-width: 768px) and (max-device-width: 800px){

.wpf-demo-1{ height: 200px; }

.news_heading h4{ font-size: 15px; }

.event_nm{ font-size: 12px; }

.news_heading img{ width: 35px; }

.news_heading h4{ padding-left: 10px; }



}

@media screen and (min-device-width: 600px) and (max-device-width: 766px){

.news_heading h4{ font-size: 16px; }

.news_heading img{ width: 28px; }

}



@media screen and (min-device-width: 320px) and (max-device-width: 481px){
.news_heading h4{ font-size: 16px; }

.news_heading img{ width: 32px; }
}



