﻿
.divloaders {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

    .divloaders img {
        height: 67px;
        margin-top: 20%;
        margin-left: 50%;
    }

@media all and (max-width:500px) {
    .divloaders img {
        margin-top: 70%;
        margin-left: 40%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1222px;
    }
}
