﻿ #btnapplynow {
     text-align:center;
            position: fixed;
            border-radius: 50%;
            /*width: 95px;
            font-size: 17px;*/
            padding: 8px;
            color: white;
            background: #ea3637;
            font-weight: bolder;
            bottom: 30px;
            right: 30px;
            border: none;
            text-decoration:none;
            -webkit-animation: mover 2s infinite alternate;
            animation: mover 1s infinite alternate;
            outline:none;
        }
  #btnapplynow::selection{
      outline:none;
  }
        @-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}