﻿@{    
    ViewBag.Title = "About | ODM PUBLIC SCHOOL";
    ViewBag.MetaDescription = "";
    ViewBag.MetaKeywords = "";
    ViewBag.CanonicalURL = "https://www.odmps.org/Home/Index";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
