﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Blog | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="ODM Educational Group Awarded as best emerging School of Eastern India. Read the blog to learn more about students stories, teaching methodologies and more.">
    <meta name="keywords" content="blogs in odm public school,blogs in odm,blogs in odm school,blogs,all blogs in odm public school,all blogs in odm school,all blogs in odm,all blogs" />
    <link rel=" canonical" href="https://www.odmps.org/Home/blog" />
}
@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        System.Text.RegularExpressions.Regex _htmlRegex = new System.Text.RegularExpressions.Regex("<.*?>", System.Text.RegularExpressions.RegexOptions.Compiled);
        input = _htmlRegex.Replace(input, string.Empty);
        @input
    }
}
<link href="~/Content/pagination/css/jquery.snippet.min.css" rel="stylesheet" />
<link href="~/Content/pagination/css/styles.css" rel="stylesheet" />
<section class="blog-section" style="padding: 70px 0;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <section class="inner-lead">
                    <div class="row">
                        <div class="col-lg-9 clearfix" style="padding-bottom:40px;">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="row">
                                @if (ViewBag.blogs != null)
                                {
                                    <div id="easyPaginate">
                                        @foreach (var a in ViewBag.blogs)
                                        {

                                            <section>
                                                <div class="col-xs-12 col-sm-12 col-md-12 blog-posts" style="border-bottom: 1px dashed #ea3637;    margin-bottom: 25px;">
                                                    <div class="a-post a-post-">
                                                        <h1>@a.title</h1>
                                                        <div class="blog-posts-panel">
                                                            <div class="gallery-thumb article-thumb" style="background-image:url('../Images/blog/@a.image');"></div>
                                                            <div class="box-body">
                                                                <div data-animation="no-animation" data-icons-animation="no-animation" data-overlay="" data-change-size="" data-button-size="1" style="font-size: 1em !important; display: block;" class="supsystic-social-sharing supsystic-social-sharing-package-flat supsystic-social-sharing-hide-on-homepage supsystic-social-homepage supsystic-social-sharing-spacing supsystic-social-sharing-content supsystic-social-sharing-content-align-left supsystic-social-sharing-init supsystic-social-sharing-loaded" data-text="">
                                                                    <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard facebook" target="_blank" title="Facebook" href="http://www.facebook.com/sharer.php?u=https://www.odmps.org/" data-main-href="http://www.facebook.com/sharer.php?u={url}" data-nid="1" data-name="" data-pid="1" data-post-id="14020" data-description="Odisha's emerging educational group" rel="nofollow" data-mailto="">
                                                                        <i class="fa fa-fw fa-facebook"><span>Share</span></i>
                                                                    </a>
                                                                    <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard twitter" target="_blank" title="Twitter" href="https://twitter.com/share?url=https://www.odmps.org/&amp;text=ODM Public School" data-main-href="https://twitter.com/share?url={url}&amp;text={title}" data-nid="2" data-name="" data-pid="1" data-post-id="14020" data-description="Odisha's emerging educational group" rel="nofollow" data-mailto="">
                                                                        <i class="fa fa-fw fa-twitter"><span>Share</span></i>
                                                                    </a>
                                                                    <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard linkedin" target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;title=ODM Public School&amp;url=https://www.odmps.org" data-main-href="https://www.linkedin.com/shareArticle?mini=true&amp;title={title}&amp;url={url}" data-nid="13" data-name="" data-pid="1" data-post-id="14020" data-description="Odisha's emerging educational group" rel="nofollow" data-mailto="">
                                                                        <i class="fa fa-fw fa-linkedin"><span>Share</span></i>
                                                                    </a>
                                                                    <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard mail" target="_blank" title="Mail" href="mailto:?subject=Blog%20%7C%20ODM%20Public%20School%20%7C%20Odisha's%20Best%20top%20CBSE%20schools&amp;body=https://www.odmps.org%2FHome%2Fblog?p=14020" data-main-href="#" data-nid="16" data-name="" data-pid="1" data-post-id="14020" data-description="Odisha's emerging educational group" rel="nofollow" data-mailto="">
                                                                        <i class="fa fa-fw fa-envelope-o"><span>Share</span></i>
                                                                    </a>
                                                                    <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard whatsapp" target="_blank" title="WhatsApp" href="whatsapp://send?text=https://www.odmps.org" data-main-href="whatsapp://send?text={url}" data-nid="18" data-name="" data-pid="1" data-post-id="14020" data-description="Odisha's emerging educational group" rel="nofollow" data-mailto="">
                                                                        <i class="fa fa-fw fa-whatsapp"><span>Share</span></i>
                                                                    </a>
                                                                </div>
                                                                <p>
                                                                    @HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(a.description).ToString().Length < 366 ? (StripHTML(a.description).ToString()) : StripHTML(a.description).ToString().Substring(0, 366))) […]
                                                                </p>
                                                                <a class="btn btn-cta btn-sm" href="/Home/blogdetails/@a.id">Read More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>

                                        }
                                    </div>
                                }
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-3 clearfix">
                            <div id="locations" class="widget widget_locations">
                                <div class="title-bar enquiry-box"><h3>Information</h3></div>
                                <ul>
                                    <li class="cat-item cat-item-35"><a href="/Home/InformationBooklet">Information Booklets</a></li>
                                    <li class="cat-item cat-item-33"><a href="/Home/Notices">School Notices</a></li>
                                    <li class="cat-item cat-item-34"><a href="/Home/Eventvideos">Event Videos</a></li>
                                    <li class="cat-item cat-item-37"><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download App</a></li>
                                </ul>
                            </div>
                            <div id="text-2" class="widget widget_text">
                                <div class="textwidget"></div>
                            </div>

                            <div id="text-3" class="widget widget_text">
                                <div class="textwidget">
                                    <p></p>
                                    <center><a class="btn btn-cta" href="/Home/admission_enquiry" onclick="ga('send', 'event', 'button', 'clicked', 'blog enquiry')">Enquire For Admission</a></center><p></p>
                                </div>
                            </div><div id="text-4" class="widget widget_text"><div class="textwidget"><p><br><br><br></p></div></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="~/Content/pagination/js/bootstrap.min.js"></script>
<script src="~/Content/pagination/js/jquery.snippet.min.js"></script>
<script src="~/Content/pagination/lib/jquery.easyPaginate.js"></script>
<script src="~/Content/pagination/js/scripts.js"></script>