﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Any questions? Contact Us | ODM Public School</title>
    <meta name="description" content="We'd be happy to take you on a campus tour. Contact us to know about admission dates and more.">
    <meta name="keywords" content="contact odm, contact odm public school, contact odm school " />
    <link rel=" canonical" href="https://www.odmps.org/Home/Contact" />
}
<section class="home-slider-container">
    <div class="home-slider">

        <div class="item">
            <img src="../../Content/banner/cantact us [1].jpg" style="width:100%;height:390px;" />
            @*<div class="bg" style="background:url('../../Content/banner/cantact us [1].jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="mask">
                                <h1>Contact Us</h1>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>

    </div>
</section>
<section class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h2>Contact Us</h2></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-6 contact-col">
                            <div class="contact-details-box">
                                <p class="heading">
                                    <strong>For Admission Enquiries</strong>
                                </p>
                                <p>
                                    Toll Free: 1800-120-2316<br>
                                    Email: <a href="mailto:admission@odmegroup.org">admission@odmegroup.org</a>
                                </p>
                                <p><strong>Reach out to us for any kind of admission related query.</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Our Campus Locations</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 contact-col">
                            <div class="contact-details-box">
                                <p class="heading">
                                    <strong>ODM Public School, Bhubaneswar</strong>
                                </p>
                                <p>
                                    Sishuvihar, Infocity Road<br>
                                    Patia,<br>
                                    Bhubaneswar-24, Khordha<br>
                                    Odisha, India<br>
                                    <a class="btn btn-xs btn-wide btn-default" href="https://g.page/OdmEducationalGroup?share" target="_blank" rel="noopener"> View on Map</a>

                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.8949426449144!2d85.81594461492126!3d20.34595828637226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a190912c0000001%3A0x242fc09222d4bd2d!2sODM%20Public%20School!5e0!3m2!1sen!2sin!4v1586253331484!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 contact-col">
                            <div class="contact-details-box">
                                <h3 class="heading"><strong>Department Wise Contact:</strong></h3>
                                <div class="contact-details-box">
                                    <p>For information about career expose and events, reach out to our college counselor.</p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">Sr. Secondary (Academics)</span><br>
                                        <strong>Mr. Rajesh Padhy</strong><br>
                                        <a href="mailto:rajeshkumarpadhy@odmegroup.org">rajeshkumarpadhy@odmegroup.org</a>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">Secondary (Academics)</span><br>
                                        <strong>Mrs. Laxmibati Das</strong><br>
                                        <a href="mailto:laxmibati@odmegroup.org">laxmibati@odmegroup.org</a>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">Primary (Academics)</span><br>
                                        <strong>Mrs. Sandhya Rani Swain</strong><br>
                                        <a href="mailto:sandhyaraniswain@odmegroup.org">sandhyaraniswain@odmegroup.org</a>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">Co-Academics & Extra-Curriculars</span><br>
                                        <strong>Mrs. Jhinuk Dutta Ray</strong><br>
                                        <a href="mailto:jhinukduttaray@odmegroup.org">jhinukduttaray@odmegroup.org</a>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">Boarding & Welfare</span><br>
                                        <strong>Mr Chitta Das</strong><br>
                                        <a href="mailto:chitta.das@odmegroup.org">chitta.das@odmegroup.org</a>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">Welfare Management (Parents)</span><br>
                                        <strong>Mrs. Priyanka Sinha</strong><br>
                                        <a href="mailto:priyankasinha@odmegroup.org">priyankasinha@odmegroup.org</a>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">Transport, School Merchandise & Services</span><br>
                                        <strong>Mr. Deepak Mishra</strong><br>
                                        <a href="mailto:deepak.mishra@odmegroup.org">deepak.mishra@odmegroup.org</a>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">Accounts & School Fees</span><br>
                                        <strong>Mr. Biswaranjan Dash</strong><br>
                                        <a href="mailto:accounts@odmegroup.org">accounts@odmegroup.org</a>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">School Competitions</span><br>
                                        <strong>Ms Viswo Vinita Samal</strong><br>
                                        <a href="mailto:competitions@odmegroup.org">competitions@odmegroup.org</a>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <span style="color: #9f2166;">Any General Information</span><br>
                                        <strong>ODM Public School</strong><br>
                                        <a href="mailto:info@odmps.org">info@odmps.org</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="col-md-12"></div>
                </div>
                <div class="col-sm-4">
                    <form action="" method="POST" name="dri-custom-form" id="dri-custom-form">
                        <input type="hidden" name="action" value="form_handler">
                        <div class="form-group">
                            <label for="fullname">
                                Name <span class="text-danger">*</span>
                            </label><input type="text" name="fullname" id="fullname" size="40" class="form-control input-sm" required="">
                        </div>
                        <div class="form-group">
                            <label for="email">Email <span class="text-danger">*</span></label>
                            <input type="email" name="email" id="email" size="40" class="form-control input-sm" required="">
                        </div>
                        <div class="form-group-">
                            <label for="phone">Phone <span class="text-danger">*</span></label>
                            <input type="tel" name="phone" id="phone" size="40" class="form-control input-sm" required="">
                            <span id="valid-msg" class="hide">✓ Valid</span>
                            <span id="error-msg" class="hide"></span>
                        </div>
                        <div class="form-group">
                            <label for="campus">Purpose <span class="text-danger">*</span></label>
                            <select class="form-control input-sm showVacancySel" name="Purpose" id="Purpose" required="" placeholder="Purpose">
                                <option value="0">Select Purpose</option>
                                <option value="Admission">Admission</option>
                                <option value="Academics">Academics</option>
                                <option value="Grievance">Grievance</option>
                                <option value="Partnership">Partnership</option>
                                <option value="Job">Job</option>
                                <option value="Appointment">Appointment</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message">Message </label>
                            <textarea name="message" id="message" cols="30" rows="5" class="form-control input-sm"></textarea>
                        </div>
                        <div class="error" id="error" style="display:none;">
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Contact Us" id="contactbutton" class="btn btn-cta btn-wide formSubmit vacancybtnHide custombtnHide">
                            <img id="loading" src="~/Content/wp-content/themes/neptune/img/loading.gif" alt="Loading..." title="Loading..." style="display:none;">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>