﻿@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Events | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="ODM Educational Group Awarded as best emerging School of Eastern India. Read and see all the events to learn more about students stories, teaching methodologies and more.">
    <meta name="keywords" content="events in odm, events in odm public school, events in odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Home/Events" />
}
@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        System.Text.RegularExpressions.Regex _htmlRegex = new System.Text.RegularExpressions.Regex("<.*?>", System.Text.RegularExpressions.RegexOptions.Compiled);
        input = _htmlRegex.Replace(input, string.Empty);
        @input
    }
}
@*<link href="~/Content/pagination/css/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/Content/pagination/css/jquery.snippet.min.css" rel="stylesheet" />
<link href="~/Content/pagination/css/styles.css" rel="stylesheet" />

<section class="blog-section" style="padding: 80px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <section class="inner-lead">
                    <div class="row">
                        <div class="col-lg-8 clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div id="easyPaginate">
                                    @if (ViewBag.events != null)
                                    {
                                        foreach (var item in ViewBag.events)
                                        {
                                            <section>
                                                <div class="col-xs-12 col-sm-12 col-md-12 blog-posts">
                                                    <div class="a-post a-post-">
                                                        <h1>@item.name</h1>
                                                        <div class="date"><strong>Start Date: </strong>@(Convert.ToDateTime(item.start_date).ToString("dd MMM, yyyy"))&nbsp;&nbsp;<strong>End Date: </strong>@(Convert.ToDateTime(item.end_date).ToString("dd MMM, yyyy")) </div>
                                                        <ul class="meta-grid">
                                                            <li><span class="glyphicon glyphicon-map-marker"></span>@item.location</li>
                                                        </ul>
                                                        <div class="blog-posts-panel">
                                                            <div class="gallery-thumb" style="background-image:url(../../Images/events/@item.image);background-size:100%;background-repeat:no-repeat;height:250px">
                                                            </div>
                                                            <div class="box-body">
                                                                <p>
                                                                    @HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(item.description).ToString().Length < 466 ? (StripHTML(item.description).ToString()) : StripHTML(item.description).ToString().Substring(0, 466))) […]
                                                                </p>
                                                                <a class="btn btn-cta btn-sm" href="/Home/Eventdetails/@item.id" style="background: #3a3939; border-color: #3a3939;">View Event Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        }
                                    }
                                </div>

                                    <div class="col-md-12 text-center">
                                        <ul class="pagination pagination-lg pager" id="myPager"></ul>
                                    </div>
                                </div>
                            </div>


                        <div class="col-lg-4 clearfix">
                            <div id="locations" class="widget widget_locations">
                                <div class="title-bar enquiry-box"><h3>Information</h3></div>
                                <ul>
                                    <li class="cat-item cat-item-35"><a href="/Home/InformationBooklet">Information Booklets</a></li>
                                    <li class="cat-item cat-item-33"><a href="/Home/Notices">School Notices</a></li>
                                    <li class="cat-item cat-item-34"><a href="/Home/Eventvideos">Event Videos</a></li>
                                    <li class="cat-item cat-item-37"><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download App</a></li>
                                </ul>
                            </div>
                            <div id="text-2" class="widget widget_text">
                                <div class="textwidget"></div>
                            </div>
                            <div id="recent-posts-4" class="widget widget_recent_entries">
                                <div class="title-bar enquiry-box">
                                    <h3>Recent Blog Posts</h3>
                                </div>
                                @Html.Partial("Recentblogs")
                            </div>
                            <div id="text-3" class="widget widget_text">
                                <div class="textwidget">
                                    <p></p>
                                    <center>
                                        <a class="btn btn-cta" href="/Home/admission_enquiry" onclick="ga('send', 'event', 'button', 'clicked', 'blog enquiry')">Enquire For Admission</a>
                                    </center><p></p>
                                </div>
                            </div><div id="text-4" class="widget widget_text"><div class="textwidget"><p><br><br><br></p></div></div>
                        </div>
                        </div>
                </section>
            </div>
        </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="~/Content/pagination/js/bootstrap.min.js"></script>
<script src="~/Content/pagination/js/jquery.snippet.min.js"></script>
<script src="~/Content/pagination/lib/jquery.easyPaginate.js"></script>
<script src="~/Content/pagination/js/scripts.js"></script>