﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>@ViewBag.eventdet.name | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="@ViewBag.eventdet.description">
    <meta name="keywords" content="@ViewBag.eventdet.name" />
    <link rel=" canonical" href="https://www.odmps.org/Home/Eventdetails/@ViewBag.eventdet.id" />
}
<section class="inner-banner" style="background: url('../../Images/events/@ViewBag.eventdet.image') center center no-repeat; background-size: cover;"> </section>
<section class="about-section no-slider">
    <div class="container">
        <h1 class="single-page-title">@ViewBag.eventdet.name</h1>
        <div class="row">
            <div class="col-md-3">
                <h4>Location</h4>
                <p>@ViewBag.eventdet.location</p>
            </div>
            <div class="col-md-3">
                <h4>Date &amp; Timing</h4>
                <p>
                    <strong>Start Date: </strong>@(Convert.ToDateTime(ViewBag.eventdet.start_date).ToString("MMM dd, yyyy"))
                    <br><strong>End Date: </strong>@(Convert.ToDateTime(ViewBag.eventdet.end_date).ToString("MMM dd, yyyy"))
                    <br><strong>Timing: </strong>@(DateTime.ParseExact(ViewBag.eventdet.start_time.ToString().Substring(0, 5), "HH:mm", System.Globalization.CultureInfo.CurrentCulture).ToString("hh:mm tt")) to
                    @(DateTime.ParseExact(ViewBag.eventdet.end_time.ToString().Substring(0, 5), "HH:mm", System.Globalization.CultureInfo.CurrentCulture).ToString("hh:mm tt"))
                </p>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-md-8">
                <div class="article-thumbnail">
                    @Html.Raw(ViewBag.eventdet.description)
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-12 text-center"> <a class="btn btn-cta btn-sm" href="/Home/Events">Back to All Events</a> </div>
        </div>
    </div>
</section>