﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>ODM PUBLIC SCHOOL – Best CBSE School in Bhubaneswar, Odisha</title>
    <meta name="description" content="ODM Public School is the best CBSE school in Bhubaneswar and one of the best play school in Bhubaneswar. The boarding school has been awarded as the best-emerging school in Odisha.">
    <meta name="keywords" content="ODM,ODM Educational Group,ODM Public school,Top CBSE Schools Odisha,Best residential school of the state, Best residential school Bhubaneswar,Ranked No.1 School, No.1 School Bhubaneswar,Best residential school,Best CBSE School,Top 3 CBSE School Odisha,Top 10 best schools Odisha,Top 5 best Schools Bhubaneswar,Top CBSE School Bhubaneswar,Best Day boarding School Bhubaneswar,Best Day scholars schools Odisha,Best Emerging School of Eastern India,Top Educational group Bhubaneswar,Top 10 best Schools Bhubaneswar">
    <link rel="canonical" href="https://www.odmps.org/" />
	
}
@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        input = System.Text.RegularExpressions.Regex.Replace(input, "<.*?>", String.Empty);

        @input
    }
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet" />
<style>
    .owl-carousel {
        display: none;
        width: 100%;
        z-index: 0;
    }

    .owl-item > div {
        cursor: pointer;
        margin: 6% 8%;
        transition: margin 0.4s ease;
    }

    .owl-item.center > div {
        cursor: auto;
        margin: 0;
    }

    .owl-item:not(.center) > div:hover {
        opacity: 0.75;
    }

    .owl-carousel .owl-item {
        padding: 12px;
    }

        .owl-carousel .owl-item img {
            display: block;
            width: 100%;
            border-radius: 50%;
        }

    .owl-prev, .owl-next {
        position: absolute;
    }

    .owl-prev {
        left: 38px;
        font-size: larger;
        background-color: #574e4e26;
        padding: 6px 12px;
        border-radius: 50%;
        top: 116px;
    }

    .owl-next {
        right: 38px;
        font-size: larger;
        background-color: #574e4e26;
        padding: 6px 12px;
        border-radius: 50%;
        top: 116px;
    }

        .owl-prev:hover, .owl-next:hover {
            background-color: #808080;
        }

    .home-slider {
        display: none;
    }

        .home-slider.slick-initialized {
            display: block;
        }

    .updates-list {
        display: none;
    }

        .updates-list.slick-initialized {
            display: block;
        }

    .testimonial-slider {
        display: none;
    }

    .testimonial-slider.slick-initialized {
        display: block;
    }
    .affiliation-slider{
        display: none;
    }

    .affiliation-slider.slick-initialized {
        display: block;
    }
     .learning-slider{
        display: none;
    }

    .learning-slider.slick-initialized {
        display: block;
    }
     .global-slider{
        display: none;
    }

    .global-slider.slick-initialized {
        display: block;
    }
    /*.home-slider {
            overflow-y: hidden !important;
        }
        .updates-container{
            overflow-y:hidden !important;
        }*/
</style>

<section class="home-slider-container">
    <div class="home-slider">
        @if (ViewBag.mainslider != null)
        {
            foreach (var item in ViewBag.mainslider)
            {
        <div class="item">
            <div class="bg" style="background:url(../../Images/landingpage/@item.image) center center no-repeat;background-size:cover" alt="@item.title"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>@item.title</h1>
                                <p>@item.description</p><br>
                                <a href="@item.link" class="btn btn-cta" tabindex="-1">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            }
        }
    </div>
</section>
<section class="story light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><h1><small>Welcome To</small>ODM SCHOOL</h1></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ul class="nav nav-tabs overview-tabs" role="tablist"><li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li><li role="presentation" class=""><a href="#accreditations" aria-controls="accreditations" role="tab" data-toggle="tab">Quick Facts</a></li></ul><div class="tab-content overview-tabs-content">
                    <div role="tabpanel" class="tab-pane active" id="overview">
                        <p>
                            ODM Public School is the flagship school of ODM Educational Group, Odisha's emerging educational group. Over the past decade, ODM has garnered a strong reputation as one of the top CBSE schools of the state and definitely as the best residential school of the state because of its dedication and sheer focus on Academics and service to parents. ODM's motto "Be Good and Make Others Good" originates from its three core values, Love, Care and Respect. The school was started back in 1989 and it recently completed three decades in the domain of education.                                                                                                                                                                              ODM is dedicated to nurturing each and every child under its banner as it solely believes in the vision that "Each and Every Child can Grow". ODM believes in providing holistic education and grooming children for an all round development. The school is CBSE affiliated and provides Science and Commerce stream education in its senior secondary segment. With a world class campus and an international ambience, the school provides state-of-the-art education standards for the children.
                        </p><a href="/About/Index" class="btn btn-cta btn-sm">Know More</a>
                    </div><div role="tabpanel" class="tab-pane" id="accreditations">
                        <p></p><p></p><ul>
                            <li>Awarded as the Best Emerging School of Eastern India</li>
                            <li>Considered the first CBSE Residential School of Odisha</li>
                            <li>Awarded the British Council's ""International School Award"" for 2016-19</li>
                            <li>Eastern India's first UN Nodal School to achieve sustainable development goals</li>
                            <li>Students from 13 states and 4 countries are a part of the school.</li>
                            <li>Principal of the School- President Awardee, ""National Award to Teachers-2016""</li>
                            <li>Ranked No.1 School of Odisha, by Times of India School Ranking Survey</li>
                            <li>More than 22% of NTSE Stage-II Qualifiers of Odisha, were from ODM Group.</li>
                        </ul><p></p><a href="/About/awards_and_accolades" class="btn btn-cta btn-sm">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <iframe width="100%" height="350" data-src="https://www.youtube.com/embed/QGknbaRvwnI" frameborder="0" allowfullscreen="" class="youtube-iframe" src="https://www.youtube.com/embed/QGknbaRvwnI"></iframe>
            </div>
        </div>
    </div>
</section>
<script>

    //getresultdetails(id)
    //{
    //    $('#btn' + id).removeClass('btn-info');
    //    $('#btn' + id).addClass('btn-gray');
    //}


    @*$(document).ready(function () {
        var res = '@ViewBag.categorydata';

        if (res != null) {
            $('#resulttitle').html(res);
        }

        $("button[name='btnresult']").click(function () {
            debugger;
            $('#resulttitle').html($(this).val());
        })

    })*@
</script>


<link href="~/Content/resultStyleSheet.css" rel="stylesheet" />
<section class="story light" style="padding: 0px 0px;">
    <div class="row text-center">
        <div class="col-xs-12"><h1><span id="resulttitle"></span> Result - @ViewBag.resultyear</h1></div>
    </div>

    <div class="container">
        @if (ViewBag.resultdetails != null)
        {
            int i = 0, j = 0;
        <div class="tab" role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="display: table;margin: 0px auto;">
                @foreach (var item in ViewBag.resultdetails)
                    {
                    <li role="presentation" class="@(j==0?"active":"")"><a href="#Section-@item.categoryid" onclick="hidetabs()" aria-controls="home" role="tab" data-toggle="tab">@item.category</a></li>
                        j += 1;
                    @*<button type="button" name="btnresult" data-toggle="tab" data-target="#@item.categoryid" value="@item.category" class="btn btn-info yellow classx">@item.category</button>*@
                    }
            </ul>
            <div class="tab-content tabs">
                @foreach (var a in ViewBag.resultdetails)
                    {
                    <div role="tabpanel" class="tab-pane fade @(i == 0 ? "in active" : "")" id="Section-@a.categoryid">

                        @if (a.students.Count <= 6)
                            {
                            <div class="row">
                                @foreach (var b in a.students)
                                    {
                                    <div class="col-md-2 col-sm-4 col-xs-12 text-center resultsection">
                                        <img src="../../Images/resultthumb/@b.image" alt="@b.student_name">
                                        <h5 style="margin-top: 4px; margin-bottom: 3px;font-size:11px;"><strong>@b.student_name</strong></h5>
                                        <h5 style="margin-top: 4px; margin-bottom: 3px;font-size:11px;"><strong>@b.score</strong></h5>
                                    </div>
                                    }
                            </div>
                            }
                            else if (a.students.Count > 6)
                            {
                                List<odm_site.Controllers.HomeController.studentresultclass> od = a.students as List<odm_site.Controllers.HomeController.studentresultclass>;
                            <div class="row">

                                @foreach (var b in od.Take(6))
                                    {
                                    <div class="col-md-2 col-sm-4 col-xs-12 text-center resultsection">
                                        <img src="../../Images/resultthumb/@b.image" alt="@b.student_name">
                                        <h5 style="margin-top: 4px; margin-bottom: 3px;font-size:11px;"><strong>@b.student_name</strong></h5>
                                        <h5 style="margin-top: 4px; margin-bottom: 3px;font-size:11px;"><strong>@b.score</strong></h5>
                                    </div>
                                    }
                            </div>
                            <div class="row text">
                                @foreach (var b in od.Skip(6))
                                    {
                                    <div class="col-md-2 col-sm-4 col-xs-12 text-center resultsection">
                                        <img src="../../Images/resultthumb/@b.image" alt="@b.student_name">
                                        <h5 style="margin-top: 4px; margin-bottom: 3px;font-size:11px;"><strong>@b.student_name</strong></h5>
                                        <h5 style="margin-top: 4px; margin-bottom: 3px;font-size:11px;"><strong>@b.score</strong></h5>
                                    </div>
                                    }
                            </div>
                            <div class="text-center">
                                <a class="btn btn-cta btn-sm btntoggle">VIEW MORE</a>
                                @*<button id="toggle">Read More</button>*@
                            </div>
                            }

                    </div>
                            i += 1;
                    }
            </div>


        </div>
        }
    </div>
    <style>
        .text {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script>
        function hidetabs(){
            $(".btntoggle").text("VIEW MORE");
            $(".text").slideUp();
        }
        $(document).ready(function () {

            $(".btntoggle").click(function () {
                var elem = $(this).text();
                debugger;
                if (elem == "VIEW MORE") {
                    //Stuff to do when btn is in the read more state
                    $(this).text("VIEW LESS");
                    $(".text").slideDown();
                } else {
                    //Stuff to do when btn is in the read less state
                    $(this).text("VIEW MORE");
                    $(".text").slideUp();
                }
            });
        });
    </script>
    <div class="clearfix" style="margin-bottom:25px;"></div>
    @*<div class="tab-content">

            @foreach (var a in ViewBag.resultdetails)
            {

                <div class="tab-pane fade  @(i==0?"in active":"")" id="@a.categoryid">
                    <div class="">
                        <div class="owl-carousel">
                            @foreach (var b in a.students)
                            {
                                <div>
                                    <img src="../../Images/results/@b.image" alt="@b.student_name">
                                    <h5 style="margin-top: 4px; margin-bottom: 3px;font-size:11px;"><strong>@b.student_name</strong></h5>
                                    <h5 style="margin-top: 4px; margin-bottom: 3px;font-size:11px;"><strong>@b.score</strong></h5>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                            i += 1;
            }
        </div>*@

    @*}
        </div>*@




</section>

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1><small>Latest</small>UPDATES</h1>
                <div class="updates-container">
                    <div class="updates-list">
                        @if (ViewBag.latestupdatedetails != null)
                        {
                            foreach (var item in ViewBag.latestupdatedetails)
                            {
                        <a href="/Home/latestupdatedetails/@item.id" class="item">
                            <div class="form-group">
                                <div class="details">
                                    <div class="heading">
                                        <h2 style="color: #25273c;">@item.title</h2>
                                    </div>@*HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(text))*@
                                    <p>@HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(item.description).ToString().Length < 300 ? (StripHTML(item.description)).ToString() : (StripHTML(item.description)).ToString().Substring(0, 300))) </p>
                                    <div>
                                        <h5>@(Convert.ToDateTime(item.inserted_on).ToString("dd MMM, yyyy hh:mm tt"))</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                            }
                        }
                    </div>
                    <div class="see-more-box text-align-center">
                        <a href="/Home/latestupdates" class="btn btn-cta">See All</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h1><small>ODM</small>Accolades</h1><ul class="nav nav-tabs overview-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#awards" aria-controls="awards" role="tab" data-toggle="tab">Awards</a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#placements" aria-controls="placements" role="tab" data-toggle="tab"><span class="hidden-sm hidden-xs">University </span>Placements</a>
                    </li>
                </ul>
                <div class="tab-content overview-tabs-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="awards">
                        <ul class="awards-list">
                            @if (ViewBag.awards != null)
                            {
                                foreach (var item in ViewBag.awards)
                                {
                            <li>
                                <div class="icon">
                                    <img class="size-full wp-image-11239 alignleft" src="~/Images/awards/@item.image" alt="@item.name" width="100" height="103">
                                </div>
                                <div class="details">
                                    <h2></h2><h2></h2>
                                    <h2>@item.name</h2>
                                    @item.description
                                </div>
                            </li>
                                }
                            }
                        </ul>

                        <a href="/About/awards_and_accolades" class="btn btn-cta btn-sm" style="float: right;">Know More</a>
                    </div><div role="tabpanel" class="tab-pane fade" id="placements">
                        ODM Public School constantly seeks to provide our students with academic and career opportunities beyond the years that they study with us. As a college preparatory school, the future success of our students is of paramount importance, yet we also know that this success does not happen instantly. Therefore, preparing our students for the demands of university-level studies requires us to develop a rigorous academic environment, make their studies real-world relevant, and support and guide students in their chosen academic and career paths.
                        &nbsp;<h4>IVY Leagues in USA</h4>
                        <ul>
                            <li>Harvard University</li>
                            <li>University of Pennsylvania</li>
                            <li>Cornell University</li>
                        </ul>
                        <h4>Other Popular Colleges/Universities</h4>
                        <ul>
                            <li>London School of Economics</li>
                            <li>UC Riverside</li>
                            <li>Penn State</li>
                            <li>Kings College of London</li>
                            <li>University of Auckland</li>
                        </ul>
                        <a href="/About/University_Placements" class="btn btn-cta btn-sm">See Full List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-slider-container story">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-align-center text-align-center">
                <h1><small>FROM PARENTS AND STUDENTS</small>WHAT THEY SAY ABOUT ODM</h1>
                <div class="testimonial-slider">
                    @if (ViewBag.parents != null)
                    {
                        foreach (var item in ViewBag.parents)
                        {
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <a href="#" data-toggle="modal" class="video-btn" data-src="@item.videolink" data-target="#myModal" tabindex="-1">
                                            <img src="~/Images/videotestimonialthumb/@item.image" class="video-img" alt="@item.name">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 text-align-left">
                                        <p>@item.message</p>
                                        <p class="designation"><strong>@item.name</strong> (@item.designation)</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
                @*<div class="text-align-center margin-top-45">
                        <a href="../Home/testimonial" class="btn btn-cta">Watch More</a>
                    </div>*@
                <ul class="slider-nav-list testimonial-slider-nav-list">
                    <li class="slider-nav prev slick-arrow" style="display: block;">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </li>
                    <li class="slider-nav next slick-arrow" style="display: block;">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@*@if (ViewBag.parents != null)
    {
        foreach (var item in ViewBag.parents)
        {

            <div class="testimonialModal modal fade" id="@item.id" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="testimonialModalLabel">Testimonials</h4>
                        </div><div class="modal-body"><iframe class="testimonialVideo" width="100%" height="300" data-src="@item.videolink" frameborder="0" allowfullscreen="" src="@item.videolink"></iframe></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                    </div>
                </div>
            </div>
        }
    }*@
<section class="join-strip">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6"><h1>JOIN EASTERN INDIA'S BEST EMERGING SCHOOL</h1><p style="margin: 0 0 0px;">To book our campus tour, Write to us at- <a href="mailto:admission@odmegroup.org" style="color: #f4cbe8 !important;">admission@odmegroup.org</a></p></div>
            <div class="col-sm-4 col-md-6 text-align-right">
                <a href="/Home/admission_enquiry" onclick="ga('send', 'event', 'button', 'clicked', 'iam interested')" class="btn btn-cta white">I'm Interested</a>
            </div>
        </div>
    </div>
</section>
<section class="story light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-align-center">
                <h1><small>A PLACE FOR INSPIRATION</small>ODM BLOG</h1>
                <div class="blogs-box">
                    <div class="blogs-grid clearfix">
                        @if (ViewBag.latestupdates != null)
                        {
                            int i = 0;
                            foreach (var a in ViewBag.latestupdates)
                            {
                                if (a != null && i < 2)
                                {
                                    <div class="item">
                                        <div class="wrapper">
                                            <div class="icon">
                                                <img src="~/Images/blog_thumb/@a.image" alt="@a.title" title="@a.title">
                                            </div>
                                            <div class="details">
                                                <div class="date">@(Convert.ToDateTime(a.inserted_on).ToString("MMM dd,yyyy"))</div>
                                                <a href="../Home/blogdetails/@a.id">
                                                    <h2>@a.title</h2>
                                                </a>
                                                <p>
                                                    @HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(a.description).ToString().Length < 300 ? (StripHTML(a.description).ToString() + "...") : StripHTML(a.description).ToString().Substring(0, 300) + "..."))<a href="../Home/blogdetails/@a.id" class="read-more">Read More</a>
                                                </p>
                                                <ul class="meta-grid">
                                                    @*<li><span class="glyphicon glyphicon-map-marker"></span> Bengaluru, Hyderabad, Bachupally, Hyderabad, Gachibowli, Mohali, Vizag <p></p></li>*@
                                                    <li><span class="glyphicon glyphicon-comment"></span>@(a.comments) Comments</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                                i += 1;
                            }
                        }
                    </div><br><a href="../Home/blog" class="btn btn-cta">SEE ALL</a>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .headingfooter {
        text-transform: uppercase;
        font-family: "Muli", sans-serif;
        color: #ea3637;
        font-size: 15px;
        margin-top: -9px;
        margin-bottom: 30px;
        font-weight: 700;
        line-height: 1.1;
    }
</style>
<section class="story light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="clearfix">
                    <div class="col-md-10">
                        <div class="row headingfooter">ACCREDITATIONS & RECOGNITIONS</div>
                    </div>
                    <div class="col-md-2">
                        <ul class="slider-nav-list affiliation-slider-nav-list">
                            <li class="slider-nav prev slick-arrow" style="display: block;">
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </li>
                            <li class="slider-nav next slick-arrow" style="display: block;">
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix">
                    <div class="affiliation-slider">
                        @if (ViewBag.affiliation != null)
                        {
                            foreach (var item in ViewBag.affiliation)
                            {
                                <div class="item">
                                    <div class="clearfix">
                                        <img src="~/Images/partnersthumb/@item.image" alt="" title="Image1" style="width:130px;height:105px;padding: 6px;">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="clearfix">
                    <div class="col-md-10">
                        <div class="row headingfooter">Learning Partners</div>
                    </div>
                    <div class="col-md-2">
                        <ul class="slider-nav-list learning-slider-nav-list">
                            <li class="slider-nav prev slick-arrow" style="display: block;">
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </li>
                            <li class="slider-nav next slick-arrow" style="display: block;">
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix">
                    <div class="learning-slider">
                        @if (ViewBag.learning != null)
                        {
                            foreach (var item in ViewBag.learning)
                            {
                                <div class="item">
                                    <div class="clearfix">
                                        <img src="~/Images/partnersthumb/@item.image" alt="" title="Image1" style="width:130px;height:105px;padding: 6px;">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="clearfix">
                    <div class="col-md-10">
                        <div class="row headingfooter">SERVICE PARTNERS</div>
                    </div>
                    <div class="col-md-2">
                        <ul class="slider-nav-list global-slider-nav-list">
                            <li class="slider-nav prev slick-arrow" style="display: block;">
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </li>
                            <li class="slider-nav next slick-arrow" style="display: block;">
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix">
                    <div class="global-slider">
                        @if (ViewBag.global != null)
                        {
                            foreach (var item in ViewBag.global)
                            {
                                <div class="item">
                                    <div class="clearfix">
                                        <img src="~/Images/partnersthumb/@item.image" alt="" title="Image1" style="width:130px;height:105px;padding: 6px;">
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="clearfix" style="margin-bottom:10px;"></div>
            </div>
        </div>
    </div>
</section>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script>
    //$(document).ready(function () {
    var $owl = $('.owl-carousel');

    $owl.children().each(function (index) {
        $(this).attr('data-position', index); // NB: .attr() instead of .data()
    });

    $owl.owlCarousel({
        center: true,
        loop: true,
        items: 6,
        autoplay: true,
        nav: true,
        navText: [
           "<i class='fa fa-chevron-left'></i>",
           "<i class='fa fa-chevron-right'></i>"
        ],
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 6,
                nav: true,
                loop: true,
                center: true,
                autoplay: true
            }
        }
    });

    $(document).on('click', '.owl-item>div', function () {
        $owl.trigger('to.owl.carousel', $(this).data('position'));
    });
    //})
</script>
