﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<title>@ViewBag.Title</title>
        <meta name="description" content="@ViewBag.MetaDescription">
        <meta name="keywords" content="@ViewBag.MetaKeywords">
        <link rel="canonical" href="@ViewBag.CanonicalURL" />*@
    <link rel="apple-touch-icon" href="~/Content/images/ODM School task bar logo.png">
    <link rel="shortcut icon" href="~/Content/images/ODM School task bar logo.png">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,900,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="../../Content/wp-content/cache/wpfc-minified/784bmyt8/26wg5.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../Content/wp-content/cache/wpfc-minified/mbgchw7v/26wg5.css" media="all">
    @*<link rel="publisher" href="https://plus.google.com/117615745363295017549" />*@
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <title>ODM PUBLIC SCHOOL – Best CBSE School in Bhubaneswar, Odisha</title>
    <meta name="description" content="Join ODM for Class XI">
    <meta name="keywords" content="ODM,ODM Educational Group,ODM Public school,Top CBSE Schools Odisha,Best residential school of the state, Best residential school Bhubaneswar,Ranked No.1 School, No.1 School Bhubaneswar,Best residential school,Best CBSE School,Top 3 CBSE School Odisha,Top 10 best schools Odisha,Top 5 best Schools Bhubaneswar,Top CBSE School Bhubaneswar,Best Day boarding School Bhubaneswar,Best Day scholars schools Odisha,Best Emerging School of Eastern India,Top Educational group Bhubaneswar,Top 10 best Schools Bhubaneswar,Join ODM for Class XI">
    <link rel="canonical" href="https://www.odmps.org/Home/JoinODM" />

    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <script type="text/javascript" async="" src="https://sjs.bizographics.com/insight.min.js"></script>
    <script type="text/javascript" async="" src="https://sjs.bizographics.com/insight.min.js"></script>
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0076/8296.js?433925"></script>
    <script src="//widgets.getsitecontrol.com/133773/script.js"></script>

    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//s.w.org">
    <script src="../../Content/wp-includes/js/wp-emoji-release.min.js?ver=5.0.4" type="text/javascript"></script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../../Content/wp-content/cache/wpfc-minified/1dkwz2b5/26whc.css" media="all">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../Content/wp-content/cache/wpfc-minified/6k2qlzde/26whc.js" type="text/javascript"></script>
    <script src="../../Content/wp-content/cache/wpfc-minified/7bm4h71p/26wg5.js" type="text/javascript"></script>
    <script src="../../Content/wp-content/cache/wpfc-minified/kah0pu45/26wg5.js" type="text/javascript"></script>
    @*<meta name="generator" content="WordPress 5.0.4">*@
    <link rel="shortlink" href="/">

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/images/ODM School task bar logo.png" sizes="32x32">
    <link rel="icon" href="~/Content/images/ODM School task bar logo.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ODM School task bar logo.png">
    <meta name="msapplication-TileImage" content="~/Content/images/ODM School task bar logo.png">
    <meta name="google-site-verification" content="VqPRDtXGU93Ium-Kb_tJ7M8NG0YLSprJwFjpVmkB0ao"><!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="google-site-verification" content="QyakOl5D7mcFkhwMKN13ZwgOa5pmSTJmljW69M_0C9w" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147713452-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-147713452-1');
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M6Q9ZXB');</script>
    <!-- End Google Tag Manager -->


</head>

<body data-gr-c-s-loaded="true" class="fts-powered-by-text-popup" cz-shortcut-listen="true" style="overflow-x: hidden;">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6Q9ZXB"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-default" id="main-nav">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span> </button>*@
                @*<div class="header-info form">
            <form class="header-search-form" method="get" action="/" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" name="s" value="" id="s" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>*@

                <div class="header-info link hidden-xs">
                    <a href="http://online.odmegroup.org/Application/Register" target="_blank" style="padding:15px 20px;font-size:15px;font-weight:600;">
                        <span class="hidden-xs">Apply Online</span>
                        <span class="visible-xs-inline">Apply Online</span>
                    </a>
                </div>
                <div class="header-info phone">
                    <a href="mailto:info@odmps.org" style="padding:15px 20px;font-size:15px;font-weight:600;"><span class="glyphicon glyphicon-envelope" ></span>info@odmps.org<span class="call">Mail</span></a>
                </div>
                <div class="header-info phone">
                    <a href="tel:+9118001202316" style="padding:15px 20px;font-size:15px;font-weight:600;"><span class="glyphicon glyphicon-earphone"></span> <span class="num">1800-120-2316</span><span class="call">Call</span></a>
                </div>
                <a class="navbar-brand" href="/">
                    <img src="~/Content/images/header logo.png" width="100" alt="ODM Public School" title="ODM Public School" id="main-logo">
                </a>
            </div>
            @*<div class="collapse navbar-collapse" id="main-nav-collapse">
                <form method="get" class="navbar-form navbar-left visible-xs-block" action="/" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="s" value="" id="s" placeholder="Search...">
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </form>
                <div class="header-info link hidden-xs">
                    <a href="http://online.odmegroup.org/Application/Register" target="_blank">
                        <span class="hidden-xs">Apply Online</span>
                        <span class="visible-xs-inline">Apply Online</span>
                    </a>
                </div>
            </div>*@
        </div>
    </nav>
    @*-------------------------------Body-------------------------------*@

    @helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        input = System.Text.RegularExpressions.Regex.Replace(input, "<.*?>", String.Empty);

        @input
    }
}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet" />
    <style>
        .owl-carousel {
            display: none;
            width: 100%;
            z-index: 0;
        }

        .owl-item > div {
            cursor: pointer;
            margin: 6% 8%;
            transition: margin 0.4s ease;
        }

        .owl-item.center > div {
            cursor: auto;
            margin: 0;
        }

        .owl-item:not(.center) > div:hover {
            opacity: 0.75;
        }

        .owl-carousel .owl-item {
            padding: 12px;
        }

            .owl-carousel .owl-item img {
                display: block;
                width: 100%;
                border-radius: 50%;
            }

        .owl-prev, .owl-next {
            position: absolute;
        }

        .owl-prev {
            left: 38px;
            font-size: larger;
            background-color: #574e4e26;
            padding: 6px 12px;
            border-radius: 50%;
            top: 116px;
        }

        .owl-next {
            right: 38px;
            font-size: larger;
            background-color: #574e4e26;
            padding: 6px 12px;
            border-radius: 50%;
            top: 116px;
        }

            .owl-prev:hover, .owl-next:hover {
                background-color: #808080;
            }

        .home-slider {
            display: none;
        }

            .home-slider.slick-initialized {
                display: block;
            }

        .updates-list {
            display: none;
        }

            .updates-list.slick-initialized {
                display: block;
            }

        .testimonial-slider {
            display: none;
        }

            .testimonial-slider.slick-initialized {
                display: block;
            }

        .affiliation-slider {
            display: none;
        }

            .affiliation-slider.slick-initialized {
                display: block;
            }

        .learning-slider {
            display: none;
        }

            .learning-slider.slick-initialized {
                display: block;
            }

        .global-slider {
            display: none;
        }

            .global-slider.slick-initialized {
                display: block;
            }
        /*.home-slider {
            overflow-y: hidden !important;
        }
        .updates-container{
            overflow-y:hidden !important;
        }*/
    </style>


    <section class="story light" style="padding-top:72px;">
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-xs-12"><h1 style="font-size:55px !important;">GO ONLINE !<br /><small>Join ODM for CLASS XI</small></h1></div>
                        @*<div class="col-xs-12"><h5></h5></div>*@
                    </div>
                    <ul class="nav nav-tabs overview-tabs" role="tablist" >
                        <li role="presentation" class="active" style="font-size:20px !important;">
                            <a aria-controls="overview">SCIENCE</a>
                        </li>
                        <li role="presentation" class="" style="font-size:20px !important;">
                            <a aria-controls="accreditations">COMMERCE</a>
                        </li>
                    </ul>
                    <div class="padding-top-10">
                        <h1 style="font-size:30px;"><small>For CBSE + JEE/NEET Preparation</small></h1>
                    </div>
                    <div class="padding-top-30" style="height:50px;">
                        <h3 class="blinking">Last Batch Starts From 29<sup>th</sup> June</h3>
                    </div>
                    <div class="clearfix" style="margin-bottom:30px;"></div>
                </div>

                <div class="col-sm-6">
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <iframe width="100%" height="300" data-src="https://www.youtube.com/embed/QGknbaRvwnI" frameborder="0" allowfullscreen="" class="youtube-iframe" src="https://www.youtube.com/embed/QGknbaRvwnI"></iframe>
                </div>
            </div>
        </div>
    </section>


    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1><small>Buildings are sealed,</small> but education isn't</h1>
                    <div style="font-size:14px;color:#666877;margin:0 0 9px;">
                    ODM is offering the best of online classes with the following features-</div>
                    <ul class="">
                        <li>Daily classes for CBSE + JEE/NEET Preparation</li>
                        <li>Access to Recorded Lectures of teachers on ODM Learning App</li>
                        <li>Weekly Test, Analysis and Reports</li>
                        <li>Doubt Clearing Sessions</li>
                        <li>1-on-1 Mentoring Sessions</li>
                        <li>Worksheets, Study Materials and Daily Practice Papers</li>
                        <li>Subjective Tests and Evaluations</li>
                    </ul>
                    <div style="font-size:14px;color:#666877;margin:0 0 9px;">
                        In this time of pandemic, choose a school that can provide you the best support online as these months are really crucial for your child!
                    </div>
                    <div class="row" style="background-color: #323548;color: white; font-size: 20px; padding: 6px;">
                        <div class="col-md-8" style="padding-top:5px;">Take a 360<sup>0</sup> tour of our campus</div>
                        <div class="col-md-4">
                            <a href="/virtualtour/ODM/index.html" class="btn btn-cta btn-sm" style="float:right;">Click Here</a>
                        </div>  </div>
                </div>
                <div class="col-sm-6">
                    <h1><small>Admission</small>Details</h1>
                    <p>You can now directly apply online for Class XI and take admission by Showing your pre-board marksheet</p>
                    @*<ul class="">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>*@
                    <div class="text-center">
                        <h1>
                            <small>For Registration</small>
                            <a href="http://online.odmegroup.org/Application/Register" class="btn btn-cta btn-sm">Apply Now</a>
                        </h1>
                    </div>
                    <div class="clearfix" style="margin-bottom:20px;"></div>
                    <div class="text-center">
                        <h1>
                            <small>Know more about admission</small>
                            <a href="/Admission/admission_details" class="btn btn-cta btn-sm">Admission Details</a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-slider-container story">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-align-center text-align-center">
                    <h1><small>FROM PARENTS AND STUDENTS</small>WHAT THEY SAY ABOUT ODM</h1>
                    <div class="testimonial-slider">
                        @if (ViewBag.parents != null)
                        {
                            foreach (var item in ViewBag.parents)
                            {
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <a href="#" data-toggle="modal" class="video-btn" data-src="@item.videolink" data-target="#myModal" tabindex="-1">
                                                <img src="~/Images/videotestimonialthumb/@item.image" class="video-img" alt="@item.name">
                                            </a>
                                        </div>
                                        <div class="col-sm-7 text-align-left">
                                            <p>@item.message</p>
                                            <p class="designation"><strong>@item.name</strong> (@item.designation)</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                    @*<div class="text-align-center margin-top-45">
                            <a href="../Home/testimonial" class="btn btn-cta">Watch More</a>
                        </div>*@
                    <ul class="slider-nav-list testimonial-slider-nav-list">
                        <li class="slider-nav prev slick-arrow" style="display: block;">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </li>
                        <li class="slider-nav next slick-arrow" style="display: block;">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <style>
        .headingfooter {
            text-transform: uppercase;
            font-family: "Muli", sans-serif;
            color: #ea3637;
            font-size: 15px;
            margin-top: -9px;
            margin-bottom: 30px;
            font-weight: 700;
            line-height: 1.1;
        }
    </style>
    <section class="story light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="clearfix">
                        <div class="col-md-10">
                            <div class="row headingfooter">ACCREDITATIONS & RECOGNITIONS</div>
                        </div>
                        <div class="col-md-2">
                            <ul class="slider-nav-list affiliation-slider-nav-list">
                                <li class="slider-nav prev slick-arrow" style="display: block;">
                                    <span class="glyphicon glyphicon-menu-left"></span>
                                </li>
                                <li class="slider-nav next slick-arrow" style="display: block;">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix">
                        <div class="affiliation-slider">
                            @if (ViewBag.affiliation != null)
                            {
                                foreach (var item in ViewBag.affiliation)
                                {
                                    <div class="item">
                                        <div class="clearfix">
                                            <img src="~/Images/partnersthumb/@item.image" alt="" title="Image1" style="width:130px;height:105px;padding: 6px;">
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="clearfix">
                        <div class="col-md-10">
                            <div class="row headingfooter">Learning Partners</div>
                        </div>
                        <div class="col-md-2">
                            <ul class="slider-nav-list learning-slider-nav-list">
                                <li class="slider-nav prev slick-arrow" style="display: block;">
                                    <span class="glyphicon glyphicon-menu-left"></span>
                                </li>
                                <li class="slider-nav next slick-arrow" style="display: block;">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix">
                        <div class="learning-slider">
                            @if (ViewBag.learning != null)
                            {
                                foreach (var item in ViewBag.learning)
                                {
                                    <div class="item">
                                        <div class="clearfix">
                                            <img src="~/Images/partnersthumb/@item.image" alt="" title="Image1" style="width:130px;height:105px;padding: 6px;">
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                </div>

                <div class="col-md-4 col-sm-12">
                    <div class="clearfix">
                        <div class="col-md-10">
                            <div class="row headingfooter">SERVICE PARTNERS</div>
                        </div>
                        <div class="col-md-2">
                            <ul class="slider-nav-list global-slider-nav-list">
                                <li class="slider-nav prev slick-arrow" style="display: block;">
                                    <span class="glyphicon glyphicon-menu-left"></span>
                                </li>
                                <li class="slider-nav next slick-arrow" style="display: block;">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix">
                        <div class="global-slider">
                            @if (ViewBag.global != null)
                            {
                                foreach (var item in ViewBag.global)
                                {
                                    <div class="item">
                                        <div class="clearfix">
                                            <img src="~/Images/partnersthumb/@item.image" alt="" title="Image1" style="width:130px;height:105px;padding: 6px;">
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                </div>
            </div>
        </div>
    </section>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script>
        //$(document).ready(function () {
        var $owl = $('.owl-carousel');

        $owl.children().each(function (index) {
            $(this).attr('data-position', index); // NB: .attr() instead of .data()
        });

        $owl.owlCarousel({
            center: true,
            loop: true,
            items: 6,
            autoplay: true,
            nav: true,
            navText: [
               "<i class='fa fa-chevron-left'></i>",
               "<i class='fa fa-chevron-right'></i>"
            ],
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 6,
                    nav: true,
                    loop: true,
                    center: true,
                    autoplay: true
                }
            }
        });

        $(document).on('click', '.owl-item>div', function () {
            $owl.trigger('to.owl.carousel', $(this).data('position'));
        });
        //})
    </script>





    @*-------------------------------Body-------------------------------*@
    @*<section class="join-strip">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-6">
                        <h1>JOIN INDIA'S BEST INTERNATIONAL SCHOOL</h1>
                        <p>To book our campus tour, please call +91 9133337711/ 22</p>
                    </div>
                    <div class="col-sm-4 col-md-6 text-align-center"><a href="../Admission/for_indian_students" onclick="ga('send', 'event', 'button', 'clicked', 'iam interested')" class="btn btn-cta white">I'm Interested</a></div>
                </div>
            </div>
        </section>*@
    <footer>
        <div class="container">
            
            <div class="row">
                <div class="container"><div class="row"><div class="col-sm-6">1800-120-2316</div><div class="col-sm-6 text-right"><a style="color:white;" href="mailto:admission@odmegroup.org">admission@odmegroup.org</a></div></div></div>
            </div>
            <div class="clearfix" style="margin-bottom:10px;"></div>
        </div>
    </footer>
    <aside class="clearfix" id="sticky">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" class="logo">
                        <img src="~/Content/images/ODM School task bar logo.png" alt="Home" title="Home" width="30">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false" id="aside-toggle">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <div class="header-info link hidden-xs">
                        
                    </div>
                    <div class="header-info phone">
                        
                    </div>
                    <div class="header-info phone">
                        
                    </div>
                    <ul id="menu-header-menu-1" class="nav-sticky nav navbar-nav">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-78 dropdown">
                            <a href="mailto:info@odmps.org"><span class="glyphicon glyphicon-envelope"></span>info@odmps.org<span class="call">Mail</span></a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-82 dropdown">
                            <a href="tel:+9118001202316"><span class="glyphicon glyphicon-earphone"></span> <span class="num">1800-120-2316</span></a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-90 dropdown">
                            <a href="http://online.odmegroup.org/Application/Register" target="_blank" class="btn btn-cta" style="padding:10px 10px;">
                                <span class="hidden-xs">Apply Online</span>
                                <span class="visible-xs-inline">Apply Online</span>
                            </a>
                        </li>

                        </ul>
                </div>
            </div>
        </div>
    </aside>
    <div class="testimonialModal modal fade" id="comingsoon" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="testimonialModalLabel">Coming Soon</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <img src="~/Content/images/comingsoon.jpg" style="width:300px;display: -webkit-inline-box;" alt="Coming Soon" title="Coming Soon" /><br />
                        <br />  <h2>STAY TUNED, FOR MORE UPDATES</h2>
                    </div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>*@
            </div>
        </div>
    </div>
    <div class="testimonialModal modal fade" id="virtualtour" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="testimonialModalLabel">Coming Soon</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <img src="~/Content/images/virtual tour.jpg" style="width:300px;display: -webkit-inline-box;" alt="Coming Soon" title="Coming Soon" /><br />
                        <br />  <h2>STAY TUNED, FOR MORE UPDATES</h2>
                    </div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>*@
            </div>
        </div>
    </div>

    <div class="testimonialModal modal fade" id="schoolanthem" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="testimonialModalLabel">School Anthem</h4>
                </div><div class="modal-body"><iframe width="100%" class="schoolanthemevideo" height="300" data-src="https://www.youtube.com/embed/ti-VvK2EbhQ" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/ti-VvK2EbhQ"></iframe></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>
    <div class="copyright-row">
        <div class="container"><div class="row"><div class="col-sm-6">©&nbsp;<span id="footerYear">2019</span>&nbsp;ODM Public School</div><div class="col-sm-6"></div></div></div>
    </div>

    <link href="~/Content/popupdrop.css" rel="stylesheet" />
    <a id="btnapplynow" href="http://online.odmegroup.org/Application/Register" target="_blank"><h1 style="color:white !important;    margin-bottom: 20px;">APPLY<small style="color:white !important;">NOW</small></h1></a>
    <div id="mqCheck-767"></div>
    <div id="mqCheck-600"></div><div id="mqCheck-500"></div><div id="mqCheck-479"></div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/Content/wp-content/Slick-slider/slick.min.js"></script>*@
    <script src="~/Content/photogallery/gallery.js"></script>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>


                </div>

            </div>
        </div>
    </div>


    <style>
        .modal-dialog {
            max-width: 800px;
            margin: 30px auto;
        }



        .modal-body {
            position: relative;
            padding: 0px;
        }

        .close {
            position: absolute;
            right: -30px;
            top: 0;
            z-index: 999;
            font-size: 2rem;
            font-weight: normal;
            color: #fff;
            opacity: 1;
        }
    </style>
    <script>
        function blink() {
            $('.blinking').fadeIn(700);
            $('.blinking').fadeOut(500);

        }
        setInterval(blink, 1000);
        $(document).ready(function () {
            // Gets the video src from the data-src on each button
            var $videoSrc;
            $('.video-btn').click(function () {
                $videoSrc = $(this).data("src");
            });
            console.log($videoSrc);
            // when the modal is opened autoplay it
            $('#myModal').on('shown.bs.modal', function (e) {

                // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
                $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
            })
            // stop playing the youtube video when I close the modal
            $('#myModal').on('hide.bs.modal', function (e) {
                // a poor man's stop video
                $("#video").attr('src', $videoSrc);
            })
            // document ready
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            Getlatestblog();

            function Getlatestblog() {
                // debugger;
                $.get('/Home/Getlatestblogs', function (data) {
                    //debugger;
                    var s = '';
                    $('#recentblog').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            s += '<li class="item"><a href="/Home/blogdetails/' + data[i].id + '" class="wrapper"><div class="icon">';
                            s += '<img src="../../Images/blog_thumb/' + data[i].image + '" alt="' + data[i].title + '" title="' + data[i].title + '"></div>';
                            s += '<div class="details"><h3>' + data[i].title + '</h3><p>' + data[i].description + '</p><span class="read-more">Read More</span></div></a></li>';
                        }
                    }
                    $('#recentblog').html(s);
                })
            }
        })
        $(document).ready(function () {

            $('.home-slider').slick({
                slidesToShow: 1, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: true, fade: true, adaptiveHeight: true, arrows: false,
            });
            $('.testimonial-slider').slick({
                slidesToShow: 1, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.testimonial-slider-nav-list .slider-nav.prev'), nextArrow: $('.testimonial-slider-nav-list .slider-nav.next')
            });
            $('.latestupdate-slider').slick({
                slidesToShow: 1, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.latestupdate-slider-nav-list .slider-nav.prev'), nextArrow: $('.latestupdate-slider-nav-list .slider-nav.next')
            });
            $('.campus-slider').slick({
                slidesToShow: 1, slidesToScroll: 3, autoplay: true, autoplaySpeed: 5000, swipeToSlide: true, dots: false, fade: true, arrows: true, centerMode: false, variableWidth: false, prevArrow: $('.campuses-slider-nav-list .slider-nav.prev'), nextArrow: $('.campuses-slider-nav-list .slider-nav.next'), responsive: [{ breakpoint: 991, settings: { arrows: false, centerMode: false, slidesToShow: 1, variableWidth: false, } }, { breakpoint: 768, settings: { arrows: false, centerMode: false, slidesToShow: 1, variableWidth: false, } }, { breakpoint: 540, settings: { arrows: false, centerMode: false, slidesToShow: 1, variableWidth: false, } }]
            });
            $('.updates-list').slick({
                slidesToShow: 2, slidesToScroll: 2, autoplay: true, autoplaySpeed: 2000, vertical: true, verticalSwiping: true, adaptiveHeight: true, dots: false, fade: false, arrows: false, responsive: [{ breakpoint: 768, settings: { arrows: false, centerMode: false, slidesToShow: 1, slidesToScroll: 1, vertical: false, verticalSwiping: false, verticalSwipe: false, } }]
            });
            $('.affiliation-slider').slick({
                slidesToShow: 3, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.affiliation-slider-nav-list .slider-nav.prev'), nextArrow: $('.affiliation-slider-nav-list .slider-nav.next')
            });
            $('.learning-slider').slick({
                slidesToShow: 3, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.learning-slider-nav-list .slider-nav.prev'), nextArrow: $('.learning-slider-nav-list .slider-nav.next')
            });
            $('.global-slider').slick({
                slidesToShow: 3, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.global-slider-nav-list .slider-nav.prev'), nextArrow: $('.global-slider-nav-list .slider-nav.next')
            });
        });
    </script>
    <!-- <script src="js/vendor/slick.min.js"></script> -->
    <script src="../../Content/wp-content/themes/neptune/js/vendor/jquery.touchSwipe.min.js"></script>
    <script src="../../Content/wp-content/themes/neptune/js/plugins.js"></script>
    <script src="../../Content/wp-content/themes/neptune/js/main.js"></script>
    <script>window.onload = function () { $(".children").addClass("nav nav-list"); };</script>
    <script>setTimeout(function () { $('#vacancy-status').modal('show'); }, 30000);</script>
    <script>$(document).ready(function () { $('input[type="checkbox"]').click(function () { if (this.checked) { if ($(this).attr('id') == "anyway_else_chk") { $('#ifanyelse_textbox').css('display', 'block'); $("#anyway_else").prop('required', true); } } else { if ($(this).attr('id') == "anyway_else_chk") { $('#ifanyelse_textbox').css('display', 'none'); $("#anyway_else").prop('required', false); } } }); });</script>



    <script>
        //$('#dri-custom-get-to-know-lead-form').submit(function (e) {
        //    e.preventDefault();
        //    var checkbox_vlid = $('input:checkbox.myCheckBox:checked').length;
        //    if (checkbox_vlid == 0) { alert("You must select at least one!"); return false(); } else { }
        //    $("#submit_thk_feedback").attr("disabled", "disabled"); $("#loading").show();
        //    var knowaboutus = [];
        //    $.each($("input[name='knowaboutus']:checked"), function () {
        //        knowaboutus.push($(this).val());
        //    });
        //    // alert(knowaboutus);
        //    // alert('Your Habits are :' + knowaboutus.join(", "));
        //    $.post('/Home/SaveFeedback', { knowaboutus: knowaboutus.join(", ") }, function (data) {
        //        if (data == '0') {
        //            $("#loading").hide();
        //            $("#submit_thk_feedback").attr("disabled", false); alert("DB Insert Failed");
        //        } else {
        //            $("#loading").hide();
        //            $("#submit_thk_feedback").attr("disabled", true); alert("Thank you for your feedback.");
        //            window.location = '../../Home/index';
        //        }
        //    });
        //  });
    </script>
    <script>
        $("#campus").change(function () { var selectedText = $(this).find("option:selected").text(); var selectedValue = $(this).val(); jQuery('input[name="otpcampus"]').attr('value', selectedValue); });</script>
    <script>
        $("#phone").on("change", function () {
            phone = $("#phone").val(); phone = phone.replace(/[^0-9]/g, ''); errorMsg = $("#error-msg"); validMsg = $("#valid-msg"); if (phone.length != 10) {
                $("#phone").addClass("error");
                $("#contactbutton").prop('disabled', true); errorMsg.removeClass("hide");
            } else { errorMsg.addClass("hide"); var campusName = $('#campus').val(); var grade = $('#grade').val(); var curriculum = $('#curriculum').val(); if (campusName == "Gachibowli") { $("#contactbutton").prop('disabled', false); } else { $("#contactbutton").prop('disabled', false); } }
        }); $('#dri-custom-form').submit(function (e) {
            e.preventDefault();
            $("#contactbutton").attr("disabled", "disabled");
            var $this = $(this); $("#loading").show();
            $.ajax({
                url: '/Home/SaveContact', type: 'POST', dataType: 'json', data: $this.serialize(), success: function (data) {
                    if (data == '0') {
                        $("#loading").hide();
                        alert("DB Insert Failed");
                    }
                    else {
                        var thankyouURL = '/Home/Thankyou';
                        // var campusisset = data;
                        //if (campusisset != '') {
                        //    thankyouURL = thankyouURL;
                        //}
                        $("#loading").hide();
                        window.location = thankyouURL;
                    }
                }
            });
        });
        $("#popupphone").on("change", function () { phone = $("#popupphone").val(); phone = phone.replace(/[^0-9]/g, ''); errorMsg = $("#popuperror-msg"); validMsg = $("#popupvalid-msg"); if (phone.length != 10) { $("#popupphone").addClass("error"); $("#popupcontactbutton").prop('disabled', true); errorMsg.removeClass("hide"); } else { errorMsg.addClass("hide"); var campusName = $('.popupcampus').val(); var grade = $('#popupgrade').val(); var popupcurriculum = $('.popupcurriculum').val(); if (campusName == "Gachibowli") { $("#contactbutton").prop('disabled', false); } else { $("#popupcontactbutton").prop('disabled', false); } } });
    </script>
    <!--Start of Tawk.to Script-->
    @*<script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5d3008d6bfcb827ab0cc62fa/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>*@





    <!--End of Tawk.to Script-->
    @*<script type="text/javascript">
        function add_chatinline() { var hccid = 10468124; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
        add_chatinline(); </script>*@
    <link rel="stylesheet" type="text/css" href="../../Content/wp-content/cache/wpfc-minified/g3g0bk99/djv0g.css" media="all">
    <script type="text/javascript" src="../../Content/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.3"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/wonderplugin-gridgallery/engine/wonderplugingridlightbox.js?ver=10.6"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/wonderplugin-gridgallery/engine/wonderplugingridgallery.js?ver=10.6"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/wp-sticky-menu/public/js/headroom.min.js?ver=0.7.0"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/wp-sticky-menu/public/js/wp-sticky-menu-public.js?ver=1.0.0"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/popups/public/assets/js/public.js?ver=1.9.3.6"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/page-links-to/js/new-tab.min.js?ver=3.1.1"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/popup-by-supsystic/js/common.min.js?ver=1.9.49"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/popup-by-supsystic/js/core.min.js?ver=1.9.49"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/popup-by-supsystic/modules/popup/js/frontend.popup.min.js?ver=1.9.49"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.min.js"></script>
</body>
</html>
