﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Notice | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="">
    <meta name="keywords" content="Notices,Notices in odm, Notices in odm public school, Notices in odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Home/Notices" />
}
<link href="~/Content/NoticeStyleSheet.css" rel="stylesheet" />
<link href="~/Content/pagination/css/jquery.snippet.min.css" rel="stylesheet" />
<link href="~/Content/pagination/css/styles.css" rel="stylesheet" />
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <img src="~/Content/banner/notices.jpg" style="width:100%;" />
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Notices." href="/Home/Notices" class="post post-page current-item"><span property="name">Notice</span></a><meta property="position" content="2"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <section class="inner-lead">
            <div class="row">
                <div class="col-lg-8 clearfix">
                    <div class="col-sm-12 col-md-12">
                        <h1>Notices</h1>

                        <section class="inner-lead">
                            <div id="easyPaginate">
                                @if (ViewBag.noticelist != null)
                                {
                                    foreach (var a in ViewBag.noticelist)
                                    {
                                        <section style="padding:0px;font-family: Muli, sans-serif !important;">
                                            <ul class="notices" style="box-shadow: 4px 3px 20px 1px #80808047 !important;">
                                                <li>
                                                    <label style="font-size: 14px;color: #ea3637;line-height: 1.4em;text-align: center;"><strong>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM, yyyy hh:mm tt"))</strong></label>
                                                </li>
                                                <li>
                                                    <label style="margin-top: 1px;font-size: 14px;">@Html.Raw(a.notice)</label>
                                                </li>
                                            </ul>
                                            <div class="clearfix" style="margin-bottom:20px;"></div>
                                        </section>
                                    }
                                }
                            </div>
                            <div class="col-md-12 text-center">
                                <ul class="pagination pagination-lg pager" id="myPager"></ul>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="static-testimonial-box">
                        <span class="fa fa-quote-left quote quote-top">
                        </span>
                        <div class="person-box">
                            <img src="~/Content/testimonial/SAI SUBHANKAR BISWAL.jpg" alt="Photo">
                            <div class="details">
                                <p class="name">SAI SUBHANKAR BISWAL</p><p class="designation">Student, Class II</p>
                            </div>
                        </div>
                        <blockquote class="testimonial">
                            ODM Public School is a great school! The teachers here are super about encouraging students to do their very best. Viswo Vinita Mam, is my English teacher, is fun and I really like her class. She loves to joke around, but does not play about getting work done.
                        </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                    </div>
                    <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                    @Html.Partial("Recentblogs")
                </div>

            </div>
        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="~/Content/pagination/js/bootstrap.min.js"></script>
<script src="~/Content/pagination/js/jquery.snippet.min.js"></script>
<script src="~/Content/pagination/lib/jquery.easyPaginate.js"></script>
<script src="~/Content/pagination/js/scripts.js"></script>

