﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Sitemap | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="ODM Public School sitemap defining all pages links.">
    <meta name="keywords" content="sitemap in odm, sitemap in odm public school, sitemap in odm school,  sitemap of odm, sitemap of odm public school,sitemap of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Home/sitemap" />
}
<style>
    section {
        padding: 3.2em 0;
    }

    .color-brown {
        color: #ea3637;
        font-size: 13px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        font-family: arial;
    }

    .line {
        border-top: 1px dashed #ea3637;
        width: 100%;
    }

    .home-map ul {
        margin: 0;
        padding: 0;
    }

        .home-map ul li {
            list-style-type: none;
            background: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 6px 30px;
            border: 10px solid #f2f2f2;
        }

            .home-map ul li a {
                color: #f37737;
                font-family: 'Roboto',sans-serif;
                font-size: 11px;
                font-weight: 500;
            }

    .pink {
        color: #9f218c;
    }

    .orange {
        font-size: 10px;
        font-family: 'Roboto',sans-serif;
        color: #f37737;
    }

    .about-map ul {
        border: 10px solid #f2f2f2;
        padding: 6px 0;
        border-radius: 6px;
    }

        .about-map ul li {
            border: 0;
            list-style: none;
            border-radius: 6px;
            border-bottom: 10px solid #f2f2f2;
            border-radius: 0;
            padding: 0;
        }

            .about-map ul li:last-child {
                border-bottom: 0;
            }

    .dark-pink {
        color: #9f218c;
        font-size: 25px;
        font-family: 'Roboto',sans-serif;
        text-align: center;
    }

    .about-map ul li a {
        color: #f37737;
        font-family: 'Roboto',sans-serif;
        font-size: 11px;
        text-align: center;
        display: block;
        font-weight: 500;
    }

    .admission-map ul {
        border: 10px solid #f2f2f2;
        padding: 6px 0;
        border-radius: 6px;
    }

        .admission-map ul li {
            border: 0;
            list-style: none;
            border-radius: 6px;
            border-bottom: 10px solid #f2f2f2;
            border-radius: 0;
            padding: 0;
        }

            .admission-map ul li:last-child {
                border-bottom: 0;
            }

            .admission-map ul li a {
                color: #f37737;
                font-family: 'Roboto',sans-serif;
                font-size: 12px;
                text-align: center;
                display: block;
                font-weight: 500;
            }

    .Student-map ul {
        border: 10px solid #f2f2f2;
        padding: 0;
        border-radius: 6px;
    }

        .Student-map ul li {
            border: 0;
            list-style: none;
            border-radius: 6px;
            border-bottom: 10px solid #f2f2f2;
            border-radius: 0;
            padding: 6px;
        }

            .Student-map ul li:last-child {
                border-bottom: 0;
            }

            .Student-map ul li a {
                color: #f37737;
                font-family: 'Roboto',sans-serif;
                font-size: 11px;
                text-align: center;
                display: block;
                font-weight: 500;
            }

    .Academics-sitemap ul {
        border: 10px solid #f2f2f2;
        padding: 0;
        border-radius: 6px;
    }

        .Academics-sitemap ul li {
            border: 0;
            list-style: none;
            border-radius: 6px;
            border-bottom: 10px solid #f2f2f2;
            border-radius: 0;
            padding: 6px;
        }

            .Academics-sitemap ul li:last-child {
                border-bottom: 0;
            }

            .Academics-sitemap ul li a {
                color: #f37737;
                font-family: 'Roboto',sans-serif;
                font-size: 11px;
                text-align: center;
                display: block;
                font-weight: 500;
            }

    .media-sitemap {
        border: 10px solid #f2f2f2;
        border-radius: 6px;
        border-bottom: 0;
    }

        .media-sitemap li {
            border: 0;
            border-radius: 6px;
            padding: 0;
            border-radius: 0;
        }

            .media-sitemap li:last-child {
                border-bottom: 0;
            }

            .media-sitemap li a {
                color: #272727;
                font-family: 'Roboto',sans-serif;
                font-size: 10px;
                font-weight: 500;
            }

    .thin-grey {
        color: #848484;
        font-size: 12px;
        font-family: 'Roboto',sans-serif;
    }

    .media-wrapper {
        background: #f2f2f2;
        padding: 19px 4px;
        border-radius: 6px;
    }

    .color-pink {
        color: #9f218c;
        font-size: 13px;
        font-family: arial;
        text-align: center;
        font-weight: bold;
    }

    .media-sitemap li a.text-orange {
        color: #f37737;
    }

    .media-map {
        border: 10px solid #f2f2f2;
        border-bottom: 0;
        border-radius: 6px;
    }

        .media-map li {
            border: 0;
            border-radius: 6px;
            padding: 0;
            border-radius: 0;
        }

            .media-map li:last-child {
                border-bottom: 0;
                padding: 5px;
                border-radius: 6px;
            }

            .media-map li a {
                color: #272727;
                font-family: 'Roboto',sans-serif;
                font-size: 10px;
                font-weight: 500;
            }

                .media-map li a.text-orange {
                    color: #f37737;
                }

    .media-site {
        border: 10px solid #f2f2f2;
        padding: 6px 0;
        border-radius: 6px;
    }

        .media-site li {
            border: 0;
            border-radius: 6px;
            padding: 0;
            border-radius: 0;
        }

            .media-site li:last-child {
                border-bottom: 0;
                padding: 5px;
                border-radius: 3px;
            }

            .media-site li a {
                color: #f37737;
                font-family: 'Roboto',sans-serif;
                font-size: 10px;
                font-weight: 500;
            }

    .bachupally-sitemap ul {
        border: 10px solid #f2f2f2;
        border-bottom: 0;
        background: #ffff;
        padding: 0;
        display: block;
        text-align: center;
        border-radius: 6px;
    }

        .bachupally-sitemap ul li {
            border: 0;
            border-radius: 6px;
            padding: 0;
            list-style: none;
            border-radius: 0;
        }

            .bachupally-sitemap ul li:last-child {
                border-bottom: 0;
            }

            .bachupally-sitemap ul li a {
                color: #272727;
                font-family: 'Roboto',sans-serif;
                font-size: 11px;
                font-weight: 500;
            }

                .bachupally-sitemap ul li a.text-orange {
                    color: #f37737;
                }

    .bachupally-site ul {
        border: 10px solid #f2f2f2;
        border-bottom: 0;
        padding: 0;
        display: block;
        text-align: center;
        background: #ffff;
        border-radius: 6px;
    }

        .bachupally-site ul li {
            border: 0;
            border-radius: 6px;
            padding: 0;
            list-style: none;
            border-radius: 0;
        }

            .bachupally-site ul li:last-child {
                border-bottom: 0;
                padding: 5px;
                border-radius: 3px;
            }

    .bachupally-site li a {
        color: #f37737;
        font-family: 'Roboto',sans-serif;
        font-size: 10px;
        font-weight: 500;
    }

    .bachupally-site1 ul {
        border: 10px solid #f2f2f2;
        border-bottom: 0;
        padding: 0;
        display: block;
        text-align: center;
        background: #ffff;
        border-radius: 6px;
    }

        .bachupally-site1 ul li {
            border: 0;
            border-radius: 6px;
            padding: 0;
            list-style: none;
            border-radius: 0;
        }

            .bachupally-site1 ul li:last-child {
                border-bottom: 0;
            }

            .bachupally-site1 ul li a {
                color: #272727;
                font-family: 'Roboto',sans-serif;
                font-size: 11px;
                font-weight: 500;
            }

                .bachupally-site1 ul li a.text-orange {
                    color: #f37737;
                }

    .bachupally-site2 {
        border: 10px solid #f2f2f2;
        padding: 6px 0;
        border-radius: 6px;
    }

        .bachupally-site2 li {
            border: 0;
            border-radius: 6px;
            padding: 0;
            border-radius: 0;
        }

            .bachupally-site2 li:last-child {
                border-bottom: 0;
            }

            .bachupally-site2 li a {
                color: #848484;
                font-family: 'Roboto',sans-serif;
                font-size: 11px;
                font-weight: 500;
            }

    .bachupally-site3 ul {
        border: 10px solid #f2f2f2;
        border-bottom: 0;
        background: #ffff;
        border-radius: 6px;
        padding: 0;
    }

        .bachupally-site3 ul li {
            border: 0;
            list-style: none;
            border-radius: 6px;
            padding: 0;
            border-radius: 0;
        }

            .bachupally-site3 ul li:last-child {
                border-bottom: 0;
                padding: 3px;
                border-radius: 3px;
            }

            .bachupally-site3 ul li a {
                color: #f37737;
                font-family: 'Roboto',sans-serif;
                font-size: 11px;
                display: block;
                text-align: center;
                font-weight: 500;
            }

    .gap {
        margin-top: 20px;
    }
</style>
<section style="padding:70px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-md-offset-1">
                <h4 class="color-brown">Home</h4>
                <div class="home-map">
                    <ul>
                        <li><a href="/">Homepage</a></li>
                    </ul>
                </div>
                <h4 class="color-brown">About us</h4>
                <div class="about-map">
                    <ul>
                        <li><a href="/About/Index">Overview</a></li>
                        <li><a href="/About/odm_difference">ODM Difference</a></li>
                        <li><a href="/About/Chairman_Message">Chairman's Message</a></li>
                        <li><a href="/About/awards_and_accolades">Awards and Accolades</a></li>
                        <li><a href="/About/odm_educational_group">ODM Educational Group</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <h4 class="color-brown">Academics</h4>
                <div class="Academics-sitemap">
                    <ul>
                        <li><a href="/Academics/kids_world">Kid's World</a></li>
                        <li><a href="/Academics/Primary">Primary</a></li>
                        <li><a href="/Academics/Secondary">Secondary</a></li>
                        <li><a href="/Academics/sr_secondary">Senior Secondary</a></li>
                        <li><a href="/Academics/Competitives">Competitives</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <h4 class="color-brown">Student Life</h4>
                <div class="Student-map">
                    <ul>
                        <li><a href="/Studentlife/Index">About Student Life</a></li>
                        <li><a href="/Studentlife/UN_Nodal_School">UN Nodal School</a></li>
                        <li><a href="/Studentlife/literary_activities">Literary Activities</a></li>
                        <li><a href="/Studentlife/art_and_cultural">Art And Cultural</a></li>
                        <li><a href="/Studentlife/sports_and_wellness">Sports and Wellness</a></li>
                        <li><a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a></li>
                        <li><a href="/Studentlife/Achievers_club">Achiever's Club</a></li>
                        <li><a href="/Studentlife/community_service">Community Service</a></li>
                        <li><a href="/Studentlife/Green_India_Club">Green India Club</a></li>
                        <li><a href="/Studentlife/Leap_series">L.E.A.P Series</a></li>
                        <li><a href="/Studentlife/odm_media_club">ODM Media Club</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h4 class="color-brown">Admissions</h4>
                <div class="admission-map">
                    <ul>
                        <li><a href="/Admission/admission_details">Admission Details</a></li>
                        <li><a href="/Home/admission_enquiry">Admission Enquiry</a></li>
                    </ul>
                    <h4 class="color-brown">Careers</h4>
                    <ul class="home-map">
                        <li><a href="/Career/Index">Join ODM</a></li>
                    </ul>
                    <h4 class="color-brown">Contact Us</h4>
                    <ul class="home-map">
                        <li><a href="/Home/Contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="line"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-md-offset-1">
                <h4 class="color-brown">Information</h4>
                <div class="about-map">
                    <ul>
                        <li><a href="/Home/InformationBooklet">Information Booklets</a></li>
                        <li><a href="/Home/Notices">School Notices</a></li>
                        <li><a href="/Home/Eventvideos">Event Videos</a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download App</a></li>

                    </ul>
                </div>
               
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <h4 class="color-brown">Media</h4>
                <div class="Academics-sitemap">
                    <ul>
                        <li><a href="/Home/Events">Events</a></li>
                        <li><a href="/Home/photogallery">Photo Gallery</a></li>
                        <li><a href="/Home/mediagallery">Media Gallery</a></li>
                        <li><a href="/Home/blog">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <h4 class="color-brown">Admissions</h4>
                <div class="Academics-sitemap">
                    <ul>
                        <li><a href="/Admission/plan_a_visit">Plan a Visit</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <h4 class="color-brown">Other Links</h4>
                <div class="admission-map">
                    <ul>
                        <li><a href="/About/Index">About Us</a></li>
                        <li><a href="/About/awards_and_accolades">Awards and Accolades</a></li>
                        <li><a href="/Home/sitemap">Sitemap</a></li>
                        <li><a href="/Home/privacypolicy">Privacy Policy</a></li>
                        <li><a href="/Home/onlinepayment">Online Fee Payment</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>