﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Thank You | ODM PUBLIC SCHOOL</title>

}
@*<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background: url('') center center no-repeat; background-size: cover;">
            </div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 "> <div class="mask"> <h1> </h1> <p></p> </div> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Thank You." href="/Home/Contact" class="post post-page current-item"><span property="name">Thank You</span></a>
                        <meta property="position" content="2">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="inner-lead">
    <div class="row">
        <div class="col-md-12 text-align-center">
            <h1>Thank You</h1><h5>Our team will reach out to you soon</h5>
            @*<label for="get-to-know"><p>Also, we would love to know how did you get to KNOW ABOUT US. You can select multiple options below, which will help us get a better understanding.</p></label>*@
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-7 col-md-offset-5">
            <form action="" method="POST" name="dri-custom-get-to-know-lead-form" id="dri-custom-get-to-know-lead-form">
                <input type="hidden" name="action" value="feedback_form_handler">
                <div class="form-group">
                    <div class="selection-form-fields" style="width:100%;">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="knowaboutus" value="Hoardings" name="knowaboutus" class="myCheckBox"> Hoardings
                            </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Newspaper ADS" name="knowaboutus" class="myCheckBox"> Newspaper ADS </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Google search" name="knowaboutus" class="myCheckBox"> Google search </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="ODM Guest Lecture program" name="knowaboutus" class="myCheckBox"> ODM Guest Lecture program </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Student success stories on Facebook" name="knowaboutus" class="myCheckBox"> Student success stories on Facebook </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Existing ODM Parent" name="knowaboutus" class="myCheckBox"> Existing ODM Parent </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Attended Marketing event" name="knowaboutus" class="myCheckBox"> Attended Marketing event </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Friends, colleagues and Relatives" name="knowaboutus" class="myCheckBox"> Friends, colleagues and Relatives </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="anyway_else_chk" class="myCheckBox"> If anyway else , please mention here </label>
                        </div>
                    </div>
                </div>
                <div class="selection-form-fields" style="width:50%;display: none;" id="ifanyelse_textbox">
                    <div class="form-group"><label for="others">If anyway else , please mention here</label><input type="text" name="anyway_else" id="anyway_else" size="80" class="form-control input-sm"></div>
                </div><div class="form-group"><input type="submit" value="Submit" class="btn btn-cta btn-wide" id="submit_thk_feedback"><img id="loading" src="~/Content/wp-content/themes/neptune/img/loading.gif" alt="Loading..." title="Loading..." style="display:none;"></div>
            </form>
        </div>
    </div>*@
</section>
