﻿@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Get Admission in ODM Public School | Details- Nursery to XI Class</title>
    <meta name="description" content="You can find all the details related to admission process at ODM Public School here. Get in touch today.">
    <meta name="keywords" content="Admission in odm,Admission in odm public school,Admission details,Admission,Admission of odm,Admission of odm public school" />
    <link rel=" canonical" href="https://www.odmps.org/Admission/admission_details" />
}
<style>
    .form-horizontal .form-group {
     margin-right: 0px; 
     margin-left: 0px; 
}
</style>
<section class="home-slider-container">
    <div class="home-slider slick-initialized slick-slider">
        <div class="item">
            <div class="bg" style="background:url(../../Content/banner/Chocolate.jpg) center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>FUTURE BELONGS TO THOSE WHO BELIEVE IN THE BEAUTY OF THEIR DREAMS</h1>
                                <p>Everything that is worthwhile in the life, seems scary. Especially choosing a school. But here it will definitely pay off</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Admission Details." href="/Admission/admission_details" class="post post-page current-item"><span property="name">Admission Details</span></a><meta property="position" content="2">
                    </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open"><span class="glyphicon glyphicon-menu-left"></span></div><div class="close"><span class="close">×</span></div>
                </div>
                <ul class="">
                    <li class="active"> <a href="/Admission/admission_details">Admission Details</a> </li>
                    <li> <a href="/Home/admission_enquiry">Admission Enquiry</a> </li>
                    <li> <a href="/Admission/OSAT_2020_and_N40">OSAT 2020 and N40</a> </li>
                    <li> <a href="/Admission/Scholarships">Scholarships</a> </li>
                </ul>
                
            </div>
        </div><div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-md-4 col-md-push-8">
                                <h3>Admission Enquiry</h3>
                                @Html.Partial("_Admissionenquiry")
                            </div>
                            <div class="col-md-8 col-md-pull-4" style="padding-right: 30px;text-align: justify;">
                                <h1 style="margin-bottom: 0px;">Admission Details</h1>
                                <h4 style="margin-top: 4px;">(Admission Registration Open for 2020-21 Session)</h4>
                                <p>Admissions Open from Playgroup to Class XI, in ODM Kids point, ODM Public School     (Day Boarding and Day Scholars) for the academic session 2019-20. Names can be registered in the school office in between 10 am to 5pm on weekdays.</p>
                                <h2>Procedure</h2>
                                <ul>
                                    <li>The admission form can be filled online or collected from the school office.</li>
                                    <li>The completed registration form(offline) along with the required documents and fees has to be submitted in the school reception on or before the scheduled date.</li>
                                    <li>The school office should be consulted for the result and other admission formalities.</li>
                                    <li>If the child will avail hostel facility, the formalities along with hostel application form, should be submitted on or before due date.</li>
                                    <li>The formalities along with the transport application form should be completed and submitted, if the child will use bus facility.</li>
                                    <li>The child should be sent to school on the date agreed upon.</li>
                                </ul>
                                <h4>NURSERY TO UKG:</h4>
                                <p>Direct admission on first come first serve basis.</p>

                                <h4>
                                    CBSE STD I TO VII:
                                </h4>
                                <p>
                                    Strictly on merit,through personal interaction session.
                                </p>

                                <h4>
                                    CBSE STD VIII TO XI (SCIENCE):
                                </h4>
                                <p>
                                    Strictly on merit, through entrance exam and personal interaction session.
                                </p>

                                <h4>
                                    CBSE STD XI (COMMERCE):
                                </h4>
                                <p>
                                    Strictly on merit, through personal interaction session.
                                    
                                </p>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sl.No.
                                            </th>
                                            <th>Class</th>
                                            <th>Age</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Nursery</td>
                                            <td>Two and half Years (Age as on 30.09.2019)</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>LKG</td>
                                            <td>Three Years (Age as on 30.09.2019)</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>UKG</td>
                                            <td>Four Years (Age as on 30.09.2019)</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>I</td>
                                            <td>Five Years (Age as on 30.09.2019)</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>II</td>
                                            <td>Class I cleared from a recognized school</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>III</td>
                                            <td>Class II cleared from a recognized school</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>IV</td>
                                            <td>Class III cleared from a recognized school</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>V</td>
                                            <td>Class IV cleared from a recognized school</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>VI</td>
                                            <td>Class V cleared from a recognized school</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>VII</td>
                                            <td>Class VI cleared from a recognized school</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>VIII</td>
                                            <td>Class VII cleared from a recognized school</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>XI</td>
                                            <td>Class X appeared/appearing/cleared from a recognized Board</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <a href="http://online.odmegroup.org/Application/Register" class="btn btn-cta btn-sm">Apply Now</a>
                                @*<a href="#" data-toggle="modal" data-target="#admissionmodal" tabindex="-1" class="btn btn-cta btn-sm">Apply Now</a>*@
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="text-right">
                                    <a href="/Admission/OSAT_2020_and_N40" class="btn btn-cta btn-sm">know more about OSAT 2020 &amp; N40</a>
                                </div>
                                <div class="clearfix" style="margin-bottom:35px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@*<div class="testimonialModal modal fade" id="admissionmodal" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="testimonialModalLabel">Admission Details</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix" style="margin-bottom:20px;"></div>
                <div class="row text-center">
                    <h2>Online Application Form will be live by <br />25th November 2019</h2>
                </div>
                <div class="clearfix" style="margin-bottom:20px;"></div>
            </div>
            
        </div>
    </div>
</div>*@