﻿@{
    ViewBag.Title = "Scholarships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    <title>Scholarships | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="A student at ODM can obtain scholarship on any of the following criterias">
    <meta name="keywords" content="Scholarships in odm,Scholarships" />
    <link rel=" canonical" href="https://www.odmps.org/Admission/Scholarships" />
}
<style>
    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>
<section class="home-slider-container">
    <div class="home-slider slick-initialized slick-slider">
        <div class="item">
            <div class="bg" style="background:url(../../Content/banner/Chocolate.jpg) center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>FUTURE BELONGS TO THOSE WHO BELIEVE IN THE BEAUTY OF THEIR DREAMS</h1>
                                <p>Everything that is worthwhile in the life, seems scary. Especially choosing a school. But here it will definitely pay off</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Scholarships" href="/Admission/Scholarships" class="post post-page current-item"><span property="name">Scholarships</span></a><meta property="position" content="2">
                    </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open"><span class="glyphicon glyphicon-menu-left"></span></div><div class="close"><span class="close">×</span></div>
                </div>
                <ul class="">
                    <li> <a href="/Admission/admission_details">Admission Details</a> </li>
                    <li> <a href="/Home/admission_enquiry">Admission Enquiry</a> </li>
                    <li> <a href="/Admission/OSAT_2020_and_N40">OSAT 2020 and N40</a> </li>
                    <li class="active"> <a href="/Admission/Scholarships">Scholarships</a> </li>
                </ul>

            </div>
        </div><div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-md-4 col-md-push-8">
                                <h3>Admission Enquiry</h3>
                                @Html.Partial("_Admissionenquiry")
                            </div>
                            <div class="col-md-8 col-md-pull-4" style="padding-right: 30px;text-align: justify;">
                                <h1 style="margin-bottom: 0px;">Scholarships</h1>

                                <h4>Scholarship is provided only to Class XI students.</h4>
                                <p>
                                    A student at ODM can obtain scholarship on any of the following criterias
                                </p>

                                <ul>
                                    <li>
                                        <h5>
                                            Top Performance in OSAT
                                        </h5>
                                        <p>
                                            A top-performing student in OSAT, will have the best chances for scholarship
                                        </p>
                                    </li>
                                    <li>
                                        <h5>NTSE Stage-1 Qualifier</h5>
                                        <p>Any child qualifying stage-1 of NTSE will be entitled to a scholarship.</p>
                                    </li>
                                    <li>
                                        <h5>
                                            RMO/PRMO Qualifier
                                        </h5>
                                        <p>
                                            Any child qualifying stage-1 of these olympiads will be entitled to a scholarship.
                                        </p>
                                    </li>
                                    <li>
                                        <h5>
                                            97% above in Boards
                                        </h5>
                                        <p>
                                            Any student securing above 96% in Boards will be entitled to some financial relaxement
                                        </p>
                                    </li>
                                </ul>
                                <p>
                                    a. Scholarships are provided on a case to case basis. The final percentage of scholarship, to be provided to any child, depends on the final decision of the scholarship committee.<br />
                                </p> @*<div class="clearfix" style="margin-bottom:2px;"></div>*@
                                <p>
                                    b. A student has more chance of getting a scholarship if he/she is opting for an early admission, as the total amount available in the scholarship fund is limited. Students opting for admission after publication of board examination results will have limited scholarship options available with them.
                                </p>
                                <div class="text-center">
                                    <a href="/Images/pdffile/scolarship-2.pdf" target="_blank" class="btn btn-cta btn-sm"><i class="fa fa-download"></i>&nbsp;Scholarship OSAT 2020</a>
                                </div>
                                <div class="text-center">
                                    <h4>Academic Scholarships (Disbursed Amount)</h4>
                                </div>

                                <div class="row">
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-5 text-center">
                                        <img src="~/Content/images/19-20.png" style="max-height:200px;" />
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <img src="~/Content/images/18-19.png" style="max-height:200px;" />
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                </div>
                                <div class="clearfix" style="margin-top:50px;"></div>
                                <a href="http://online.odmegroup.org/Application/Register" style="float: right;" class="btn btn-dark btn-sm">Apply Online</a>
                                <div class="clearfix" style="margin-bottom:35px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

