﻿body {
   /*background-color: #ea3637;*/
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#ea3637),to(#1e1e1f));
    background-image: linear-gradient(180deg,#ea3637 10%,#1e1e1f 100%);
    background-size: cover;
    position: relative;
     height: 100%;
     /*padding:4%;*/
     background-repeat:no-repeat;
     font-family: 'Roboto Condensed', sans-serif;
}
html{
    position: relative;
    height:100%;
}
.register-left {
    text-align: center;
    color: #fff;
    /*margin-top: 4%;*/
    position: relative;
    /*height:100%;*/
}

    .register-left input {
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }

.register-right {
    background-color: white;
    position: relative;
    /*height:100%;*/
    padding:13%;

    /*border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
   padding-left:8%;*/
}

.register-left img {
        margin-top: 5%;
    margin-bottom: 3%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    
    /*margin-top: 10%;*/
    margin-bottom: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 2% 15%;
    background: #ea3637;
    color: #fff;
    font-weight: 600;
    /*width: 50%;*/
    cursor: pointer;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

    .register .nav-tabs .nav-link {
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

        .register .nav-tabs .nav-link:hover {
            border: none;
        }

        .register .nav-tabs .nav-link.active {
            width: 100px;
            color: #0062cc;
            border: 2px solid #0062cc;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
    color: #495057;
}
       .divloaders {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

    .divloaders img {
        height: 67px;
        margin-top: 20%;
        margin-left: 50%;
    }

@media all and (max-width:500px) {
    .divloaders img {
        margin-top: 70%;
        margin-left: 40%;
    }
}