﻿@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Overview | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="ODM Public School is the flagship school of ODM Educational Group, Odisha's emerging educational group. Over the past decade, ODM has garnered a strong reputation as one of the top CBSE schools of the state and definitely as the best residential school of the state because of its dedication and sheer focus on Academics and service to parents.">
    <meta name="keywords" content="About ODM School, About ODM, Overview Of ODM, Overview Of ODM School, Overview of ODM Public School">
    <link rel="canonical" href="https://www.odmps.org/About/Index" />
}

<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Students Standing in Circles.jpg') center center no-repeat;background-size:cover">
            </div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>ODMIANS, FOR US- SKY IS THE LIMIT</h1>
                                <p>Where each achievement every next day seems smaller</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Overview." href="/About/Index" class="post post-page current-item">
                            <span property="name">Overview</span>
                        </a>
                        <meta property="position" content="2">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/About/odm_difference">ODM Difference</a> </li>
                    <li> <a href="/About/Chairman_Message">Chairman's Message</a> </li>
                    <li> <a href="/About/University_Placements">University Placements</a> </li>
                    <li> <a href="/About/awards_and_accolades">Awards and Accolades</a> </li>
                    <li> <a href="/About/odm_educational_group">ODM Educational Group</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Overview</h1>
                        <p>ODM Public School is the flagship school of ODM Educational Group, Odisha's emerging educational group. Over the past decade, ODM has garnered a strong reputation as one of the top CBSE schools of the state and definitely as the best residential school of the state because of its dedication and sheer focus on Academics and service to parents. ODM's motto "Be Good and Make Others Good" originates from its three core values, Love, Care and Respect. The school was started back in 1989 and it recently completed three decades in the domain of education.</p>
                        <p>ODM is dedicated to nurturing each and every child under its banner as it solely believes in the vision that "Each and Every Child can Grow". ODM believes in providing holistic education and grooming children for an all round development. The school is CBSE affiliated and provides Science and Commerce stream education in its senior secondary segment. With a world class campus and an international ambience, the school provides state-of-the-art education standards for the children.</p>
                        <p><img class="alignnone size-full wp-image-7882" title="ODM is dedicated to nurturing each and every child under its banner as it solely believes in the vision that each and every child can grow" src="~/Content/images/Student Activity.jpg" alt="ODM is dedicated to nurturing each and every child under its banner as it solely believes in the vision that each and every child can grow"></p>
                        <p>Within the broad-based curriculum options offered, ample opportunities are provided to develop and assess the critical creative thinking skills, the flexibility of approach, ability to work with and serve others, and the grit and fortitude in the face of challenges.</p>
                        <p>A kaleidoscope of extra-curricular activities, support the education programme of the institution to create the ultimate ODM product- strong confident individuals and active life-long learners.</p>
                        <p>ODM fuels the desire to inculcate a lifelong habit of learning in students, imperative for holistic development. To fuel the seed of learning, the school constantly motivates the students to believe in the motto “Learning the treasure within.”</p>
                        <h3><strong>SCHOOL HISTORY</strong></h3>
                        <p>In the year 1989, 10 students entered into a small dingy room which was supposedly their school and this was the first step towards a big dream visualized by a visionary educationist Dr. Satyabrata Minaketan, the Founder-Chairman of ODM educational group. With numerous degrees into his pocket and myriad career options before him, this man chose an unsteady and thorny path of establishing a school which would be a school with a difference and serve the mankind with real knowledge.That small room with 10 students was the beginning of what you see today as ODM Public School. With no external support and no godfather, the school rose to heights and crossed several milestones year after year. A secondary school was set-up for Socio-Economic Backward children in 1992 followed by the school’s secondary branch in 1996.</p>
                        <p>It then moved into a small campus with 350 children. Soon the quality of education, individual attention to students saw the numbers rise each year. It was only in 2005, the school took a giant leap by opening the Senior Secondary branch which saw the enrollment of 35 students in its first year. Following that, ODM became the first +2 CBSE residential school in Odisha, when it first introduced residential facilities for Senior Secondary Science students. The School has witnessed its evolution from a small building to a sprawling campus spread on 4 acres of land with 5 main blocks, from 10 students to a whooping 3500, from 2 teaching faculties to a fleet of 300+ staff. In years to come, it will definitely target the pinnacle of success by imparting qualitative education to inspire and change lives</p>
                        <h3><strong>SCHOOL MISSION</strong></h3>
                        <p>
                            <ul>
                                <li>To provide a platform to every child to explore his/her potential</li>
                                <li>Imparting modernised education with eastern values</li>
                                <li>To create global leaders in every domain</li>
                                <li>To be a pioneer in quality education</li>
                                <li>To mould every child into a good human</li>
                            </ul>
                        </p>
                        <h3><strong>SCHOOL MOTTO</strong></h3>
                        <p>
                            "<strong>Be Good and Make Others Good</strong>"<br />
                            ODM stands for being a global leader for excellence in education that empowers students, faculty and employees with values that contribute to universal brotherhood, create great leaders to meet challenges and make a positive contribution to society.
                        </p>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/INDRANIL PADHI.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">INDRANIL PADHI</p><p class="designation">Student, Class II</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                I choose to learn from the best. When it comes to learning, ODM is the school one should be at. They focus on holistic growth of the children and ensure each child is given his/her type of academic support
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>