﻿
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>ODM Group | Writing History in the world of Education</title>
    <meta name="description" content="ODM Educational Group has institutions designed for students of all age. Started in 2003, ODM has been able to create centres of human excellence with best teachers to support the students growth.">
    <meta name="keywords" content="ODM Educational Group">
    <link rel="canonical" href="https://www.odmps.org/About/odm_educational_group" />
}

<section class="home-slider-container">
    <div class="home-slider">
        <div class="item" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1349px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
            <img src="~/Content/banner/odm educational group.jpg" />        
        </div>
    </div>
</section>

<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Overview." href="/About/Index" class="post post-page"><span property="name">Overview</span></a>
                        <meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM Educational Group." href="/About/odm_educational_group" class="post post-page current-item">
                            <span property="name">ODM Educational Group</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left">
                        </span>
                    </div><div class="close"><span class="close">×</span></div>
                </div>
                <ul class="">
                    <li> <a href="/About/odm_difference">ODM Difference</a> </li>
                    <li> <a href="/About/Chairman_Message">Chairman's Message</a> </li>
                    <li> <a href="/About/University_Placements">University Placements</a> </li>
                    <li> <a href="/About/awards_and_accolades">Awards and Accolades</a> </li>
                    <li class="active"> <a href="/About/odm_educational_group">ODM Educational Group</a> </li>
                </ul>
                <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
                <br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix" style="text-align:justify;">
                        <h1>ODM Educational Group</h1>
                        <p>ODM Educational Group is an emerging education conglomerate headquartered at Bhubaneswar, Odisha. It is founded by Dr. Satyabrata Minaketan. ODM Educational Group, houses multiple institutions like ODM Public School, K-12 CBSE affiliated school, ODM Kids World, a pre-school chain, ODM School of Advanced Learning, test prep institute, Institute of Human Excellence, a skill development academy, Astral Institute of Management, A B-School affiliated to AICTE and DIGICHAMPS, an e-learning venture.</p>
                        <p>Under the ODM Educational Group, its flagship K-12 School, ODM Public School is a leading school of the state producing stellar results across all fields ranging from Academics to Sports. ODM Public School has been awarded as the Best School of Odisha by several leading organizations. DIGICHAMPS, the E-Learning Venture of ODM Educational Award is also a widely acclaimed EduTech Startup of the Group, which won Best Edutech Startup Award at Odisha Business Awards and the team won the Pride of Odisha Award and was felicitated by Honourable Chief Minister of Odisha, Sj. Naveen Pattaik at Make in Odisha Conclave 2018. </p>
                        <h3>
                            History
                        </h3>
                        <p>ODM Educational Group was formally established in the year 2003, however ODM Public School its constituent unit was established way back in 1989. ODM Public School, saw its humble beginning with 1 rented room and 5 students and a meagre 10 rupees as tuition fees to start with in the year 1989. ODM Public School then moved to a small campus in Chandrasekharpur, Bhubaneswar and kept on growing every year by leaps and bounds. Within this period, ODM Educational Group, was established with the noble cause to spread qualitative education through other educational activities. This witnessed the Establishment Value Education Research Centre in the year 2003, AIMS Business School in 2008, ODM School of Advanced Learning in 2010, ODM International School in 2014, ODM Kids World and DIGICHAMPS in 2016 followed by Institute of Human Excellence in 2018. Over the span of 30 years, ODM Educational Group has branched into imparting Education from KG to PG. </p>
                        <h4 class="text-center" style="text-decoration:underline;padding:10px 0px;">OUR ORGANISATIONS</h4>
                        <p>
                            <img src="~/Content/images/odmeducationalgroup2.jpg" />
                            <br /><img src="~/Content/images/odmeducationalgroup1.jpg" />
                        </p>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/AAKASHINI BEHERA.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">AAKASHINI BEHERA</p><p class="designation">Student, Class III</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM is a great school to attend. You learn things at this school. It is fun but it’s very strict here. I believe this school provides the best education in the state of Odisha. I sincerely recommend this school to all
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
