﻿@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>30 Years of Excellence in Education | ODM Public School</title>
    <meta name="description" content="ODM Public School is a 21st Century learning institution dedicated towards nurturing responsive and motivated students through a dynamic, success oriented education program.">
    <meta name="keywords" content="ODM Difference">
    <link rel="canonical" href="https://www.odmps.org/About/odm_difference" />
}


<section class="home-slider-container">
    <div class="home-slider">
        <div class="item" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1349px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
            <div class="bg" style="background:url('../../Content/banner/Students Hostel.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="mask">
                                <h1>EDUCATION THAT INSPIRES CURIOSITY</h1>
                                <p>Inquiry based learning to generate curiosity make students life long learners</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Overview." href="/About/Index" class="post post-page"><span property="name">Overview</span></a>
                        <meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM Difference." href="/About/odm_difference" class="post post-page current-item">
                            <span property="name">ODM Difference</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left">
                        </span>
                    </div><div class="close"><span class="close">×</span></div>
                </div>
                <ul class="">
                    <li class="active"> <a href="/About/odm_difference">ODM Difference</a> </li>
                    <li> <a href="/About/Chairman_Message">Chairman's Message</a> </li>
                    <li> <a href="/About/University_Placements">University Placements</a> </li>
                    <li> <a href="/About/awards_and_accolades">Awards and Accolades</a> </li>
                    <li> <a href="/About/odm_educational_group">ODM Educational Group</a> </li>
                </ul>
                <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
                <br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>ODM Difference</h1>
                        <p>ODM Public School, As a 21st Century learning organization, is dedicated to nurturing responsive and motivated students through a dynamic, success oriented education program empowering students with a global and local perspective.</p>
                        <h3>10 Points that set ODM apart from the rest</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-624 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/1.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">
                                            <span style="font-weight: 400;">Part of the Odisha’s Emerging Educational Group, ODM Educational Group that offers program from KG to PG and draws academic experience from multiple academic experts at various level.</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-624 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/2.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">One of the first CBSE schools of the state offering best of the education facilities with average faculty experience being 12 years. Not a single faculty has less than 6 years of teaching experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-626 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/3.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">ODM follows a Unique Integrated System of Learning using “inquiry and real-life learning” as a vehicle of learning.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-624 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/4.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">State-of-art Indoor and Outdoor amenities – Basketball Courts, Cricket Nets, Swimming pool, Amphitheatre, Digital Classrooms, Learning Resource Centre with extensive collection of books/DVD’s, Audio-Visual rooms and Labs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-4872 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/5.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">Guest Lectures featuring imminent personalities from across industries. Introduced the L.E.A.P Series, Learn. Engage. Aspire. Prosper in association with Utkal Prativa Foundation where various industry leaders come and engage with the children.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-624 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/6.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">Strategic developmental programs in association with reputed International schools from UK, US and Sri Lanka.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-626 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/7.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">Ranked No.1 by The Times of India Schools Survey rankings for the state of Odisha.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-624 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/8.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">Awarded as the Best Emerging School of Eastern India.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-626 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/9.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">Launched Odisha’s First Tab Lab in any school for the holistic growth of children beyond the school hours. Launched its own school app and ensured in-house digital learning product “DIGICHAMPS” for personalised growth of the children.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <span class="media-left">
                                        <img class="alignnone size-full wp-image-624 margin-bottom-15 media-object img-responsive" src="~/Content/ODM DIFFERENCE/10.png" style="width:65px;height:65px;" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h4 class="media-heading"></h4>
                                        <p class="margin-bottom-15">A Rich Co-Curricular Enrichment Program (CCEP), that supports the main teaching by invoking the creativity and hidden skills in every student.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/IPSITA MISHRA.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">IPSITA MISHRA</p><p class="designation">Student, Class II</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM is a great school to learn and to become a better student and person. The curriculum here is very precise and challenging. We have science fairs year round and go on numerous educational and fun field trips. If you listen and follow directions there is no reason why you should not succeed with flying colors.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
