﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Apply Now | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="@ViewBag.careerdet.responsibilities">
    <meta name="keywords" content="Apply @(ViewBag.careerdet.position),@(ViewBag.careerdet.position) in odm,Apply @(ViewBag.careerdet.position) in odm school,Apply @(ViewBag.careerdet.position) in odm public school" />
    <link rel=" canonical" href="https://www.odmps.org/Career/Applynow/@ViewBag.careerdet.id" />
}
<style>
    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>
<section class="about-section no-slider" style="padding:70px 0px;">
    <div class="container">
        <h1 class="single-page-title">@ViewBag.careerdet.position</h1>
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <h4>Job Code</h4>
                <p>@ViewBag.careerdet.code</p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <h4>Posted On</h4>
                <p>
                    @(Convert.ToDateTime(ViewBag.careerdet.inserted_on).ToString("MMM dd, yyyy"))
                </p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <h4>No Of Vacancy</h4>
                <p>
                    @ViewBag.careerdet.no_of_vacancy
                </p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <h4>Status</h4>
                <p>
                    @ViewBag.careerdet.status
                </p>
            </div>
        </div>
        <div class="row margin-top-30">
            <div class="col-md-8">
                <div class="article-thumbnail">
                    @using (Html.BeginForm("savecandidatedetails", "Career", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                    {
                        <input type="hidden" name="action" value="form_handler">
                        <div class="form-group">
                            <label for="RegImage1">
                                Upload Image <span class="text-danger">*</span>
                            </label>
                            <input type="file" id="RegImage11" name="RegImage11" accept=".jpg,.jpeg,.png,.gif" required data-msg-required="Please choose your profile picture" />
                            <img id="PrevImage19" src="~/Content/images/user.png" title="Image is optional" width="120" height="90" alt="Image" />
                        </div>
                        <div class="form-group">
                            <label for="fullname">
                                Name <span class="text-danger">*</span>
                            </label><input type="text" name="fullname" id="fullname" size="40" class="form-control input-sm" required data-msg-required="Please enter your name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email <span class="text-danger">*</span></label>
                            <input type="email" name="email" id="email" size="40" class="form-control input-sm" required="" data-msg-required="Please enter your email">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone <span class="text-danger">*</span></label>
                            <input type="tel" name="phone" id="phone" size="40" class="form-control input-sm" required="" data-msg-required="Please enter your phone">

                        </div>
                        <div class="form-group">
                            <label>Upload Resume <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-group">
                            <input type="file" id="RegImage1" name="RegImage1" accept=".pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" required data-msg-required="Please upload your resume" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Apply Now" id="applynow" class="btn btn-cta btn-wide">
                            <img id="loading" src="~/Content/wp-content/themes/neptune/img/loading.gif" alt="Loading..." title="Loading..." style="display:none;">
                        </div>

                    }
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        <div class="row" style="margin-top:40px;">
            <div class="col-sm-12 text-center"> <a class="btn btn-cta btn-sm" href="/Career/Index">Back To Career</a> </div>
        </div>

    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/admin_assets/js/jquery.elevatezoom.js"></script>
<!--Validation scripts-->
<script type="text/javascript" src="~/admin_assets/assets/jquery-validation/dist/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/admin_assets/assets/jquery-validation/dist/additional-methods.min.js"></script>

<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $('#validation-form').validate();
        $('#applynow').submit(function (e) {
            if ($('#validation-form').valid()) {
                $("#applynow").attr("disabled", "disabled");
                $("#loading").show();
            }
        })
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#PrevImage19').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#RegImage11").change(function () {
            readURL1(this);
        });
        $(".zoom_10").elevateZoom({
            zoomWindowWidth: 200,
            zoomWindowHeight: 200
        });

    });
</script>