﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        input = System.Text.RegularExpressions.Regex.Replace(input, "<.*?>", String.Empty);

        @input
    }
}
@section metatags
{
    <title>Openings at ODMPS | Join Us</title>
    <meta name="description" content="ODM Public School provides an enriching working environment. Click to find new Job openings at ODM Public School, Bhubneshwar.">
    <meta name="keywords" content="join in odm public school,join in odm,career in odm,career in odm public school,career in odm school,join at odm,join at odm public school,career at odm,career at odm public school" />
    <link rel=" canonical" href="https://www.odmps.org/Career/Index" />
}
<link href="~/Content/pagination/css/jquery.snippet.min.css" rel="stylesheet" />
<link href="~/Content/pagination/css/styles.css" rel="stylesheet" />
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background: url(../../Content/banner/Sambhar.jpg) center center no-repeat; background-size: cover;"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>INDIVIDUAL COMMITMENT TO A GROUP EFFORT-- THAT IS WHAT MAKES A TEAM WORK</h1>
                                <p>Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a><meta property="position" content="1">
                    </span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Join ODM." href="/Career/Index" class="post post-page current-item"><span property="name">Join ODM</span></a><meta property="position" content="2"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="form-group">
        
        <div class="col-sm-12 col-xs-12 col-md-12 clearfix">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Join ODM</h1>
                        <p>
                            ODM's unique and enriching environment is built to hone great talents, not just in students but also in educators and other staff. With a versatile global culture and high standards in teaching methodology, ODM has grown to be one of Eastern India’s top Schools, opening up a plethora of opportunities for like-minded candidates.We are always on the lookout for energetic and dedicated professionals, who are willing to take up roles that are both challenging and rewarding. Do check out our openings below and follow the below mentioned procedure for applying-
                        </p>
                        <ul class="">
                            <li>
                                If you are interested in applying for any current opening, view the job details, apply for the same. Do send in your photograph and resume attached along with your details like Email ID and Phone Number.
                            </li>
                            <li>
                                If the position you are wishing to apply for is not there currently, do send your resume at <strong>hr@odmegroup.org</strong>, in case any vacancy comes up, our HR Representative will reach out to you. Please note that the openings are for both our school and our parent organization, ODM Educational Group. If you are shortlisted, our HR Representative will reach out to you.
                            </li>
                        </ul>
                        <h2>OUR OPENINGS:</h2>
                        <div class="col-xs-12 col-sm-12 col-md-12" style="background-color: #c6c3c300; border: 1px solid #eee5e5;">
                            <div class="row  clearfix">
                                @if (ViewBag.careers != null)
                                {
                                    <div class="easyPaginate">
                                        @foreach (var item in ViewBag.careers)
                                        {
                                            <section style="padding:0px;">
                                                <div class="col-xs-12 col-sm-12 col-md-12 blog-posts">
                                                    <div class="a-post a-post-" style="border-bottom:1px dashed red;">
                                                        <h3>@item.position</h3>
                                                        <div class="date"><strong>Posted On: </strong>@(Convert.ToDateTime(item.inserted_on).ToString("dd MMM, yyyy"))&nbsp;&nbsp; </div>
                                                        <div class="date"><strong>No Of Vacancy: </strong>@item.no_of_vacancy&nbsp;&nbsp;<strong>Salary: </strong>@item.salary </div>
                                                        <div class="date"><strong>Skills: </strong>@item.skills&nbsp;&nbsp;</div>
                                                        <div class="blog-posts-panel">
                                                            <div class="box-body">
                                                                <p>@HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(item.responsibilities).ToString().Length < 366 ? StripHTML(item.responsibilities).ToString() : StripHTML(item.responsibilities).ToString().Substring(0, 366))) […]</p>
                                                                <a class="btn btn-cta btn-sm" href="/Career/jobdetails/@item.id">View Job Details</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        }
                                    </div>
                                }

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top"></span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/NAINA PRIYADARSINI NAYAK.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">NAINA PRIYADARSINI NAYAK</p>
                                    <p class="designation">Student, Class IX</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM has a very unique school system that meets every parent’s needs. The after-school activities are something to look forward to and have each individual working hard. The after-school programs are very fun and provide students something to do rather than just doing homework all the time.
                            </blockquote>
                            <span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" ></script>
<script src="~/Content/pagination/js/bootstrap.min.js"></script>
<script src="~/Content/pagination/js/jquery.snippet.min.js"></script>
<script src="~/Content/pagination/lib/jquery.easyPaginate.js"></script>
<script src="~/Content/pagination/js/scripts.js"></script>