﻿
@{
    ViewBag.Title = "contactus";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Contact Us</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="btn btn-primary" href="/Admin/createoreditlandingpage"><i class="fa fa-plus"></i><span> Create</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Purpose</th>
                                    <th>Message</th>
                                    <th>Know by</th>
                                    <th>Posted On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.schoolcontactus != null)
                                    {
                                        int i = 0;

                                        foreach (var a in ViewBag.schoolcontactus)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@a.name</td>
                                                <td>@a.email</td>
                                                <td>@a.phone</td>
                                                <td>@a.purpose</td>
                                                <td>@a.message</td>
                                                <td>@a.feedback</td>
                                                <td>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM yyyy"))</td>
                                                <td>                                                    
                                                    <a href="/Admin/removecontactus/@a.id"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

