﻿@{
    ViewBag.Title = "createoreditalbum";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Album</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveorUpdatealbum", "Admin", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Title*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="title" name="title" class="form-control" required data-msg-required="Please write title" placeholder="Name" value="@ViewBag.title1" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Upload Images*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="file" id="RegImage1" name="RegImage1" accept=".jpg,.jpeg,.png,.gif" multiple @(Session["alid"] == null ? "required" : "") data-msg-required="Please upload multiple photos" />
                                        <div class="row" id="divimages">
                                            @if (ViewBag.images != null)
                                            {
                                                foreach (var a in ViewBag.images)
                                                {
                                                    <div class="col-md-4">
                                                        <img src="@a.path" style="width: 100%;height: 130px;padding: 5px;" name="images" /><a class="imgclosebutton" onclick="removeimage('@a.name')">x</a>
                                                    </div>
                                                }
                                            }

                                        </div>
                                        <div class="clearfix" style="margin-bottom:10px;"></div>
                                    </div>

                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style>
    .imgclosebutton {
        position: absolute;
        right: 19px;
        top: 10px;
        padding: 1px 8px;
        font-size: 16px;
        font-weight: 700;
        color: black;
        background-color: #c0b7b782;
        border-radius: 50%;
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();


        // Attach click handler to the submit button:
        //$('#Reply').click(function () {
        //    $('#validation-form').submit();
        //    });

        // Handle the form submit event, and make the Ajax request:
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        // Hide the "busy" gif:
                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/album';
                    },
                    error: function (resp) {

                        // Hide the "busy" gif:
                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/album';
                    }

                })
            }
        });

        function readURL1(input) {
            debugger;
            var data = new FormData();
            var files = input.files;
            //Basic Info
            if (files.length > 0) {
                for (var i = 0; i < files.length; i++) {
                    data.append("files", files[i]);
                }
            }
            $("#divloader").show();
            $.ajax({
                url: '/Admin/Savealbumimages',
                type: 'POST',
                data: data,
                processData: false,
                contentType: false,
                async: false,
                success: function (data) {
                    debugger;
                    if (data.length > 0) {
                        $("#divimages").empty();
                        var s = '';
                        for (var i = 0; i < data.length; i++) {
                            s += '<div class="col-md-4"><img src="' + data[i].path + '" style="width: 100%;height: 130px;padding: 5px;" name="images"/><a class="imgclosebutton" onclick="removeimage(\'' + data[i].name + '\')">x</a></div>';
                        }
                        $("#divimages").html(s);
                    }
                    $("#divloader").hide();
                },
                error: function (data) {
                    debugger;
                    alert("Error occured.");
                    $("#divloader").hide();
                }
            })
        }
        $("#RegImage1").change(function () {
            debugger;
            readURL1(this);
        });

    });
    function removeimage(name) {
        debugger;
        $.get('/Admin/Removealbumimages', { name: name }, function (data) {
            if (data.length > 0) {
                $("#divimages").empty();
                var s = '';
                for (var i = 0; i < data.length; i++) {
                    s += '<div class="col-md-4"><img src="' + data[i].path + '" style="width: 100%;height: 130px;padding: 5px;" name="images" /><a class="imgclosebutton" onclick="removeimage(\'' + data[i].name + '\')">x</a></div>';
                }
                $("#divimages").html(s);
            }

        })
    }
</script>
