﻿@{
    ViewBag.Title = "createoreditschoolpartners";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit School Partners</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveorUpdateschoolpartners", "Admin", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Category*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="name" name="name" class="form-control" required data-msg-required="Please write name">
                                            <option value="ACCREDITATIONS & RECOGNITIONS" @(ViewBag.name == "ACCREDITATIONS & RECOGNITIONS" ? "selected" : "")>ACCREDITATIONS & RECOGNITIONS</option>
                                            <option value="LEARNING PARTNERS" @(ViewBag.name == "LEARNING PARTNERS" ? "selected" : "")>LEARNING PARTNERS</option>
                                            <option value="SERVICE PARTNERS" @(ViewBag.name == "SERVICE PARTNERS" ? "selected" : "")>SERVICE PARTNERS</option>
                                        </select>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Upload Image*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="file" id="RegImage1" name="RegImage1" accept=".jpg,.jpeg,.png,.gif" @(Session["pid"] == null ? "required" : "") data-msg-required="Please upload image" />
                                        <img id="PrevImage19" src="@ViewBag.image" title="Image is optional" width="440" height="211" alt="Image" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/admin_assets/js/jquery.elevatezoom.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();

        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#PrevImage19').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#RegImage1").change(function () {
            readURL1(this);
        });
        $(".zoom_10").elevateZoom({
            zoomWindowWidth: 200,
            zoomWindowHeight: 200
        });

    });
</script>

<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/schoolpartners';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/schoolpartners';
                    }

                })
            }
        });
    })
</script>
