﻿
@{
    ViewBag.Title = "latestupdates";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        input = System.Text.RegularExpressions.Regex.Replace(input, "<.*?>", String.Empty);
        @input
    }
}
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Latest Updates</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="btn btn-primary" href="/Admin/createoreditlatestupdate"><i class="fa fa-plus"></i><span> Create</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Added On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.latestupdateslist != null)
                                    {
                                        int i = 0;

                                        foreach (var a in ViewBag.latestupdateslist)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@a.title</td>
                                                <td>@HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(a.description).ToString().Length < 200 ? (StripHTML(a.description).ToString()) : StripHTML(a.description).ToString().Substring(0, 200) + "..."))</td>
                                                <td>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM yyyy"))</td>
                                                <td>
                                                    <a href="/Admin/createoreditlatestupdate/@a.id"><i class="fa fa-edit"></i></a>
                                                    <a href="/Admin/removelatestupdates/@a.id"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

