﻿
@{
    ViewBag.Title = "videotestimonial";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Video Testimonial</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="btn btn-primary" href="/Admin/convertallvideotestimonialimagetothumb"><i class="fa fa-plus"></i><span> Convert All Image To Thumb</span></a>
                        <a class="btn btn-primary" href="/Admin/createoreditvideotestimonial"><i class="fa fa-plus"></i><span> Create</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Video Link</th>
                                    <th>Message</th>
                                    <th>Image</th>
                                    <th>Added On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.videotestimoniallist != null)
                                    {
                                        int i = 0;

                                        foreach (var a in ViewBag.videotestimoniallist)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@a.name</td>
                                                <td>@a.designation</td>
                                                <td>@a.videolink</td>
                                                <td>@a.message</td>
                                                <td><img src="~/Images/videotestimonial/@a.image" width="90" height="90" /></td>
                                                <td>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM yyyy"))</td>
                                                <td>
                                                    <a href="/Admin/createoreditvideotestimonial/@a.id"><i class="fa fa-edit"></i></a>
                                                    <a href="/Admin/removevideotestimonial/@a.id"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

