﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>What it is like to be an ODMPS Student? </title>
    <meta name="description" content="Students expect a lot from their school, and ODMPS offers the most delightful and growth-oriented oppotunities like sports, trips & epeditions, literary learning and more.">
    <meta name="keywords" content="Student Life in odm, Student Life in odm public school, Student Life in odm school, Student Life of odm, Student Life of odm public school, Student Life of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/Index" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url(../../Content/banner/v007.jpg) center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>LEARNING WITH ALL THE FUN</h1>
                                <p>Teaching students the basics with a lot of fun events</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to About Student Life." href="/Studentlife/Index" class="post post-page current-item">
                            <span property="name">About Student Life</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li class="active"> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>About Student Life</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>At ODM, we believe that education systems need to help develop the 21st century skills required for children to successfully negotiate through life’s challenges. Hence, Student life at ODM goes beyond conventional academics and curriculum. We are convinced that extra-curricular programs are an important part of education and that there is as much learning outside of classrooms as there is within them. We offer the students a spectacular range of activities, events, workshops, courses and conferences to choose from, each of which is handpicked and vetted by our team of experts. Over the course of their life at ODM, students discover and develop their genuine interests and talents by trying their hand at the wide range of activities on offer.</p>
                                    <div class="seperator"></div>
                                    <h2>&nbsp;Programs Offered At ODM</h2>
                                    <div class="activity-grid clearfix">
                                        <div class="item">
                                            <div class="wrapper">
                                                <p>
                                                    <img class="icon" title="Literary Activities" src="~/Content/studentlife/LITERARY ACTIVITIES.png" alt="Literary Activities">
                                                </p>
                                                <div class="details">
                                                    <h3>LITERARY ACTIVITIES</h3>
                                                    <p>
                                                        ODM is committed to develop and hone the literary skills…<br>
                                                        <a class="read-more" href="/Studentlife/literary_activities">Read More</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="wrapper">
                                                <p>
                                                    <img class="icon" title="Art And Cultural" src="~/Content/studentlife/Art & Culture.png" alt="Art And Cultural">
                                                </p>
                                                <div class="details">
                                                    <h3>ART & CULTURAL</h3>
                                                    <p>
                                                        Under the umbrella of cultural activities, ODM promotes<br>
                                                        <a class="read-more" href="/Studentlife/art_and_cultural">Read more</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="wrapper">
                                                <p>
                                                    <img class="icon" title="Sports and Wellness" src="~/Content/studentlife/SPORTS & WELLNESS.png" alt="Sports and Wellness">
                                                </p>
                                                <div class="details">
                                                    <h3>SPORTS & WELLNESS</h3>
                                                    <p>
                                                        When it comes to Sports, ODM’s staff and students<br>
                                                        <a class="read-more" href="/Studentlife/sports_and_wellness">Read more</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="wrapper">
                                                <p>
                                                    <img class="icon" title="Trips and Expeditions" src="~/Content/studentlife/TRIPS & EXPEDITIONS.png" alt="Trips and Expeditions">
                                                </p>
                                                <div class="details">
                                                    <h3>TRIPS & EXPEDITIONS</h3>
                                                    <p>We at ODM believe, Trips and Expeditions for students<br><a class="read-more" href="/Studentlife/trips_and_expeditions">Read more</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="wrapper">
                                                <p>
                                                    <img class="icon" title="ACHIEVER’S CLUB" src="~/Content/studentlife/ACHIEVER’S CLUB.png" alt="CHAIRMAN’S CLUB">
                                                </p>
                                                <div class="details">
                                                    <h3>ACHIEVER’S CLUB</h3>
                                                    <p>If something that highlights the talent and achievements of ODMians...<br><a class="read-more" href="/Studentlife/chairmans_club">Read more</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="wrapper">
                                                <p><img class="icon" title="Community Service" src="~/Content/studentlife/COMMUNITY SERVICE.png" alt="Community Service"></p>
                                                <div class="details">
                                                    <h3>COMMUNITY SERVICE</h3>
                                                    <p>With the vision of Chairman, to give back to the society, ODM took birth in 1989...<br><a class="read-more" href="/Studentlife/community_service">Read more</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="wrapper">
                                                <p>
                                                    <img class="icon" title="GREEN INDIA CLUB" src="~/Content/studentlife/Green India.png" alt="GREEN INDIA CLUB">
                                                </p>
                                                <div class="details">
                                                    <h3>GREEN INDIA CLUB</h3>
                                                    <p>
                                                        The goal of the Green India Club- The Goal isn’t to live forever, the goal...<br>
                                                        <a class="read-more" href="/Studentlife/Green_India_Club">Read more</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="wrapper">
                                                <p>
                                                    <img class="icon" title="L.E.A.P SERIES" src="~/Content/studentlife/leap.png" alt="L.E.A.P SERIES">
                                                </p>
                                                <div class="details">
                                                    <h3>L.E.A.P SERIES</h3>
                                                    <p>LEAP  ( Learn. Engage. Aspire. Prosper ) is an interactive forum created by ODM education group...<br><a class="read-more" href="/Studentlife/Leap_series">Read more</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="wrapper">
                                                <p><img class="icon" title="ODM Media Club" src="~/Content/studentlife/Media.png" alt="ODM Media Club"></p>
                                                <div class="details">
                                                    <h3>ODM Media Club</h3>
                                                    <p>
                                                        Giving back to the community and society is a philosophy deeply ingrained in the ODM way of life.<br>
                                                        <a class="read-more" href="/Studentlife/odm_media_club">Read more</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="wrapper">
                                                <p><img class="icon" title="UN Nodal School" src="~/Content/studentlife/un nodal school.png" alt="UN Nodal School"></p>
                                                <div class="details">
                                                    <h3>UN Nodal School</h3>
                                                    <p>Students at ODM have always believed in giving it back to the society and contributing to the society...<br><a class="read-more" href="/Studentlife/UN_Nodal_School">Read more</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/ADITYA PRASAD TRIPATHY.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">ADITYA PRASAD TRIPATHY</p><p class="designation">Student, Class III</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM expects nothing less than the best from each and every student. Teachers are here to teach but at this school they inspire. They are compassionate and caring towards the students. Tutoring and after-school programs are offered to all students.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
