﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Learn from the Best | Learn, Engage, Aspire, Prosper | ODMPS</title>
    <meta name="description" content="As part of OMD Public School learning technique, it organises career guiding sessions from the best in industry to help its students in figurig out career options as per their passion and choice.">
    <meta name="keywords" content="L.E.A.P Series in odm, L.E.A.P Series in odm public school, L.E.A.P Series in odm school, L.E.A.P Series of odm, L.E.A.P Series of odm public school, L.E.A.P Series of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/Leap_series" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url(../../Content/banner/LEAP.jpg) center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="mask"><h1>LISTEN FROM THE LEGENDS THEMSELVES</h1>
                            <p>Learning by Inspiration, is another effective way to push yourself for excellence</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to L.E.A.P Series." href="/Studentlife/Leap_series" class="post post-page current-item">
                            <span property="name">L.E.A.P Series</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li class="active"> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>L.E.A.P Series</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>LEAP  ( Learn. Engage. Aspire. Prosper ) is an interactive forum created by ODM education group to help the students to interact with eminent personalities who have achieved excellence in there field of work. As a need of the hour O.D.M education group has realized that the students need to get proper career guidance, to make better career choices in life at a very young age and LEAP facilitates the same by making them interact with role models from different fields. Keeping students motivated and providing them an exposure beyond academic curriculum enriches there values and supports the motto of O.D.M educational group   “ Be good and make others good “.</p>

                                    <h4>Mission :-</h4>
                                    <ul class="">
                                        <li>
                                            To provide career counseling to the students.
                                        </li>
                                        <li>
                                            To unfold the stories of struggle and hard work behind people's success.
                                        </li>
                                        <li>
                                            To provide the students with role models to dream.
                                        </li>
                                        <li>
                                            To motivate the students to chase their dreams.
                                        </li>
                                        <li>
                                            To produce better human beings and professionals out of our students.
                                        </li>
                                    </ul>
                                    <h4>Vision :-</h4>
                                    <ul class="">
                                        <li>
                                            Every student should be able to recognize his passion.
                                        </li>
                                        <li>
                                            They should get a clear road map to follow his passion and achieve excellence.
                                        </li>
                                        <li>
                                            Students should make the best career choices.
                                        </li>
                                        <li>
                                            Create a balance between academic and extracurricular activities.
                                        </li>
                                        <li>
                                            Students should understand the value of struggle, hard work & sacrifice.
                                        </li>
                                    </ul>
                                    <h4>Objective :-</h4>
                                    <ul class="">
                                        <li>
                                            All round development of students.
                                        </li>
                                        <li>
                                            Value based education.
                                        </li>
                                        <li>
                                            Education beyond the books.
                                        </li>
                                        <li>
                                            Personality development by enhancing self belief, self esteem and confidence.
                                        </li>
                                    </ul>


                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/ASHUTOSH MISHRA.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">ASHUTOSH MISHRA</p><p class="designation">Student, Class IX</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                At ODM, the teachers always believe in you and they make sure you try your hardest on everything you do. This school also has a lot of fun activities and fun field trips. We go on fun and educational field trips
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

