﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Student-run Media Clubs | ODM-E & ODM FM </title>
    <meta name="description" content="To encourage its students, ODMPS has take initiative in the field of media by starting ODM-E and ODM FM which will give it students exposure to the knitty-gritty of the media world.">
    <meta name="keywords" content="ODM Media Club in odm, ODM Media Club in odm public school, ODM Media Club in odm school, ODM Media Club of odm, ODM Media Club of odm public school, ODM Media Club of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/odm_media_club" />
}

<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Media Club.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6  col-sm-offset-6">
                            <div class="mask">
                                <h1>REAL MEDIA IS ALL ABOUT TRUTH</h1>
                                <p>Activities that help children build self confidence and be creative</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM Media Club." href="/Studentlife/odm_media_club" class="post post-page current-item">
                            <span property="name">ODM Media Club</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li class="active"> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>ODM Media Club</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>Media and Journalism are two domains where ODM decided to provide its children requisite experience this year. That led to the birth of ODM E-Channel and ODM FM in the year 2019. The idea behind these two initiatives is fairly simple, it is to have two Media outlets where ODM’s highlights and achievements will be broadcasted and these two initiatives will be student-run. </p>
                                    <p>This initiative provides the ODMians with the much needed exposure into the media and broadcast segment. Students take the self-initiative to host talk shows with parents, students and highlight ODM’s achievement. A glimpse of the same can be seen in the videos here-</p>

                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <a href="#" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/TLmvnWa-37A" data-target="#myModal" tabindex="-1">
                                                <img src="~/Content/gallery/youtube-1.png" class="video-img" alt="" style="height:135px;">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/CwAXsxHkkys" data-target="#myModal" tabindex="-1">
                                                <img src="~/Content/gallery/youtube-2.png" class="video-img" alt="" height="135" style="height:135px;">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/YHQDO69reeM" data-target="#myModal" tabindex="-1">
                                                <img src="~/Content/gallery/youtube-3.png" class="video-img" alt="" height="135" style="height:135px;">
                                            </a>
                                        </div>
                                    </div>


                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/NIRTIKA SATPATHY.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">NIRTIKA SATPATHY</p><p class="designation">Student, Class IX</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                I have been studying at ODM for about 8 months. I previously studied in other school and ODM has been extremely different when compared to this first one and even what my friends tell me about their school. They have a great teachers team, moreover, the whole staff team care of their students.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
