﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>ODM Public encourages Sports Participation & Physical Well-being</title>
    <meta name="description" content="ODM Public School provides an environment where students can become better in every field. ODMPS encourages its students to participate in sports training, interschool matches, and has partnered with EduSports.">
    <meta name="keywords" content="Sports and Wellness in odm, Sports and Wellness in odm public school, Sports and Wellness in odm school, Sports and Wellness of odm, Sports and Wellness of odm public school, Sports and Wellness of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/sports_and_wellness" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Students Running.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6  col-sm-offset-6">
                            <div class="mask">
                                <h1>LEARNING WITHOUT ACTIVITIES IS TRADITIONAL</h1>
                                <p>Activity based learning helps us memorise things faster</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Sports and Wellness." href="/Studentlife/sports_and_wellness" class="post post-page current-item">
                            <span property="name">Sports and Wellness</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li class="active"> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Sports and Wellness</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>When it comes to Sports, ODM’s staff and students get all serious and competitive. ODM puts a lot of focus on Sports Training and Wellness of all the students. ODMians are groomed across 6 sports and games majorly which include- Basketball, Volleyball, Cricket, Table Tennis, Kabaddi and Kho-Kho. The school boasts of a junior and senior team in each of the sports and boasts of a wide range of awards. </p>

                                    <p>The following are some major highlights under the segment of SPORTS-</p>
                                    <p>
                                        <strong>a. Partnership with EduSports-</strong> ODM has partnered with EduSports to provide sports and physical activity training to all the students of primary section. ODMians believe that wellness and physical fitness are a big important part of one’s life and one should make it a habit right from the childhood.
                                    </p>

                                    <p>
                                        <strong>b. SPORTS Training</strong> is provided to all the children of ODM and Junior and Senior teams are selected for each of the following sports- Basketball, Volleyball, Cricket, Table Tennis, Kho-Kho and Kabaddi. Proper Sports Infrastructure and Dedicated Sports Infrastructure is provided for all these sports.
                                    </p>
                                    <p>
                                        <strong>c. INTER-SCHOOL EVENTS & NATIONAL SPORTS EVENTS-</strong> ODM teams participate and represent ODM at all these big stages. Many a times ODMians have made us proud by winning a lot of notable tournaments.
                                    </p>
                                    <p>
                                        <strong>d. YOGA Classes and Meditation Intervals</strong> are also provided to the children to ensure their mental well being and social well being.
                                    </p>
                                    <p>
                                        <strong>e. INTERNATIONAL CHAMPIONSHIPS</strong> of Taekwondo and Gateball have been brilliant platforms for our children to showcase their talent and win at least 30+ medals for our country and school.
                                    </p>
                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/SAI SUBHANKAR BISWAL.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">SAI SUBHANKAR BISWAL</p><p class="designation">Student, Class II</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM Public School is a great school! The teachers here are super about encouraging students to do their very best. Viswo Vinita Mam, is my English teacher, is fun and I really like her class. She loves to joke around, but does not play about getting work done.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>